pipeline/API_IND_OUT_CUSTCOST_M.json
{
	"name": "API_IND_OUT_CUSTCOST_M",
	"properties": {
		"activities": [
			{
				"name": "PIP_API_INDUSTRY_ITEM_PPI",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_INDUSTRY_ITEM_PPI",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PIP_API_INDUSTRY_ITEM_CPI",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 2",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_INDUSTRY_ITEM_CPI",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PIP_API_INDUSTRY_DSPI",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 3",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_INDUSTRY_DSPI",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PIP_API_INDUSTRY_ACPI",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 4",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_INDUSTRY_ACPI",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PIP_API_INDUSTRY_BSI",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 5",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_INDUSTRY_BSI",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PIP_API_INDUSTRY_CTI",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 6",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_INDUSTRY_CTI",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Input log",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_INDUSTRY_ITEM_PPI' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Input log 2",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_INDUSTRY_ITEM_CPI' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Input log 3",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_INDUSTRY_DSPI' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Input log 4",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_INDUSTRY_ACPI' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Input log 5",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_INDUSTRY_BSI' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Input log 6",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_INDUSTRY_CTI' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_INDUSTRY_ITEM_PPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_INDUSTRY_ITEM_PPI",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_INDUSTRY_ITEM_PPI').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_INDUSTRY_ITEM_CPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 2').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 3",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_INDUSTRY_DSPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 3').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 4",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_INDUSTRY_ACPI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 4').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 5",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_INDUSTRY_BSI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 5').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 6",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_INDUSTRY_CTI",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 6').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_INDUSTRY_ITEM_CPI",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 2').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_INDUSTRY_ITEM_CPI').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 3",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_INDUSTRY_DSPI",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 3').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_INDUSTRY_DSPI').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 4",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_INDUSTRY_ACPI",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 4').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_INDUSTRY_ACPI').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 5",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_INDUSTRY_BSI",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 5').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_INDUSTRY_BSI').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 6",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_INDUSTRY_CTI",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 6').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_INDUSTRY_CTI').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "PIP_API_INDUSTRY_INTG",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 7",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_INDUSTRY_INTG",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Input log 7",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_INDUSTRY_INTG' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 7",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_INDUSTRY_INTG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 7').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 7",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_INDUSTRY_INTG",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 7').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_INDUSTRY_INTG').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			}
		],
		"folder": {
			"name": "실행/Monthly"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-11T10:30:05Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}