pipeline/API_CUST_OUT_VAIV_D_3.json
{
	"name": "API_CUST_OUT_VAIV_D_3",
	"properties": {
		"activities": [
			{
				"name": "PIP_API_CUSTOMER_OPINION_BLOG_ADLS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 4",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_CUSTOMER_OPINION_BLOG_ADLS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PIP_API_CUSTOMER_OPINION_COMMUNITY_ADLS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 5",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_CUSTOMER_OPINION_COMMUNITY_ADLS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PIP_API_CUSTOMER_OPINION_NEWS_ADLS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 6",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_CUSTOMER_OPINION_NEWS_ADLS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PIP_API_CUSTOMER_OPINION_INSTA_ADLS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 7",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_CUSTOMER_OPINION_INSTA_ADLS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PIP_API_CUSTOMER_OPINION_YOUTUBE_ADLS",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 8",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_CUSTOMER_OPINION_YOUTUBE_ADLS",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Input log 4",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_CUSTOMER_OPINION_BLOG_ADLS' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Input log 5",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_CUSTOMER_OPINION_COMMUNITY_ADLS' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Input log 6",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_CUSTOMER_OPINION_NEWS_ADLS' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Input log 7",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_CUSTOMER_OPINION_INSTA_ADLS' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Input log 8",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_CUSTOMER_OPINION_YOUTUBE_ADLS' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 4",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_BLOG_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 4').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 5",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_COMMUNITY_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 5').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 6",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_NEWS_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 6').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 7",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_INSTA_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 7').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 8",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_YOUTUBE_ADLS",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 8').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 4",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_BLOG_ADLS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 4').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_CUSTOMER_OPINION_BLOG_ADLS').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 5",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_COMMUNITY_ADLS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 5').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_CUSTOMER_OPINION_COMMUNITY_ADLS').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 6",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_NEWS_ADLS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 6').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_CUSTOMER_OPINION_NEWS_ADLS').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 7",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_INSTA_ADLS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 7').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_CUSTOMER_OPINION_INSTA_ADLS').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 8",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_YOUTUBE_ADLS",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 8').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_CUSTOMER_OPINION_YOUTUBE_ADLS').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "PIP_API_CUSTOMER_OPINION_BLOG_PG",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 4_copy1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_CUSTOMER_OPINION_BLOG_PG",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Input log 4_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Output Success log 4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_CUSTOMER_OPINION_BLOG_PG' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 4_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_BLOG_PG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 4_copy1').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 4_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_BLOG_PG",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 4_copy1').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_CUSTOMER_OPINION_BLOG_PG').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "PIP_API_CUSTOMER_OPINION_COMMUNITY_PG",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 5_copy1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_CUSTOMER_OPINION_COMMUNITY_PG",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Input log 5_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Output Success log 5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_CUSTOMER_OPINION_COMMUNITY_PG' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 5_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_COMMUNITY_PG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 5_copy1').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 5_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_COMMUNITY_PG",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 5_copy1').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_CUSTOMER_OPINION_COMMUNITY_PG').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "PIP_API_CUSTOMER_OPINION_NEWS_PG",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 6_copy1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_CUSTOMER_OPINION_NEWS_PG",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Input log 6_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Output Success log 6",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_CUSTOMER_OPINION_NEWS_PG' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 6_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_NEWS_PG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 6_copy1').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 6_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_NEWS_PG",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 6_copy1').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_CUSTOMER_OPINION_NEWS_PG').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "PIP_API_CUSTOMER_OPINION_INSTA_PG",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 7_copy1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_CUSTOMER_OPINION_INSTA_PG",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Input log 7_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Output Success log 7",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_CUSTOMER_OPINION_INSTA_PG' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 7_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_INSTA_PG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 7_copy1').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 7_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_INSTA_PG",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 7_copy1').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_CUSTOMER_OPINION_INSTA_PG').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "PIP_API_CUSTOMER_OPINION_YOUTUBE_PG",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 8_copy1",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_API_CUSTOMER_OPINION_YOUTUBE_PG",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Input log 8_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Output Success log 8",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_API_CUSTOMER_OPINION_YOUTUBE_PG' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 8_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_YOUTUBE_PG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 8_copy1').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 8_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_API_CUSTOMER_OPINION_YOUTUBE_PG",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 8_copy1').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_API_CUSTOMER_OPINION_YOUTUBE_PG').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			}
		],
		"folder": {
			"name": "실행/Daily"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-12T11:09:23Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}