pipeline/ORA_PROM_IN_NEIS_D_2.json
{
	"name": "ORA_PROM_IN_NEIS_D_2",
	"properties": {
		"activities": [
			{
				"name": "PIP_D_CD_NEIS_BID_MASTER_FULL_PG",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_D_CD_NEIS_BID_MASTER_FULL_PG",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PIP_D_CD_NEIS_BID_DETAIL_FULL_PG",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_D_CD_NEIS_BID_DETAIL_FULL_PG",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Input log",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_D_CD_NEIS_BID_MASTER_FULL_PG' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Input log 2",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_D_CD_NEIS_BID_DETAIL_FULL_PG' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_D_CD_NEIS_BID_MASTER_FULL_PG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_D_CD_NEIS_BID_MASTER_FULL_PG",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_D_CD_NEIS_BID_MASTER_FULL_PG').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_D_CD_NEIS_BID_DETAIL_FULL_PG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 2').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_D_CD_NEIS_BID_DETAIL_FULL_PG",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 2').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_D_CD_NEIS_BID_DETAIL_FULL_PG').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "PIP_D_CD_NEIS_BID_DETAIL_SHEET_FULL_PG",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_D_CD_NEIS_BID_DETAIL_SHEET_FULL_PG",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Input log 3",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_D_CD_NEIS_BID_DETAIL_SHEET_FULL_PG' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 3",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_D_CD_NEIS_BID_DETAIL_SHEET_FULL_PG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 3').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 3",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_D_CD_NEIS_BID_DETAIL_SHEET_FULL_PG",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 3').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_D_CD_NEIS_BID_DETAIL_SHEET_FULL_PG').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "PIP_D_CD_NEIS_ORDER_DETAIL_DATE_FULL_PG",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_D_CD_NEIS_ORDER_DETAIL_DATE_FULL_PG",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Input log 4",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_D_CD_NEIS_ORDER_DETAIL_DATE_FULL_PG' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 4",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_D_CD_NEIS_ORDER_DETAIL_DATE_FULL_PG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 4').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 4",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_D_CD_NEIS_ORDER_DETAIL_DATE_FULL_PG",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 4').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_D_CD_NEIS_ORDER_DETAIL_DATE_FULL_PG').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "PIP_D_CD_NEIS_ORDER_DETAIL_FULL_PG",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log 5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_D_CD_NEIS_ORDER_DETAIL_FULL_PG",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Input log 5",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_D_CD_NEIS_ORDER_DETAIL_FULL_PG' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log 5",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_D_CD_NEIS_ORDER_DETAIL_FULL_PG",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 5').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log 5",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_D_CD_NEIS_ORDER_DETAIL_FULL_PG",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log 5').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_D_CD_NEIS_ORDER_DETAIL_FULL_PG').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "PIP_D_CD_NEIS_BID_MASTER_FULL_PG_SCHOOL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Output Success log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_D_CD_NEIS_BID_MASTER_FULL_PG_SCHOOL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PIP_D_CD_NEIS_BID_DETAIL_FULL_PG_SCHOOL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Output Success log 2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_D_CD_NEIS_BID_DETAIL_FULL_PG_SCHOOL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PIP_D_CD_NEIS_BID_DETAIL_SHEET_FULL_PG_SCHOOL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Output Success log 3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_D_CD_NEIS_BID_DETAIL_SHEET_FULL_PG_SCHOOL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "PIP_D_CD_NEIS_ORDER_DETAIL_FULL_PG_SCHOOL",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Output Success log 5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_D_CD_NEIS_ORDER_DETAIL_FULL_PG_SCHOOL",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			}
		],
		"folder": {
			"name": "실행/Daily"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-18T05:01:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}