pipeline/ORA_CUST_IN_BESTON_M.json
{
	"name": "ORA_CUST_IN_BESTON_M",
	"properties": {
		"activities": [
			{
				"name": "PIP_M_CD_BESTON_ES_PLUSREVIEWARTICLE",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Input log",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "PIP_M_CD_BESTON_ES_PLUSREVIEWARTICLE",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Input log",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "select CD_IF.FUNC_CDI_LOG(  'I' , p_pipline => 'PIP_M_CD_BESTON_ES_PLUSREVIEWARTICLE' ) as result from dual;",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Success log",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_M_CD_BESTON_ES_PLUSREVIEWARTICLE",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log').output.firstRow.RESULT, ''', p_result => ''S'') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			},
			{
				"name": "Output Error log",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "PIP_M_CD_BESTON_ES_PLUSREVIEWARTICLE",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('select CD_IF.FUNC_CDI_LOG(''U'' , p_seq => ''', activity('Input log').output.firstRow.RESULT, ''', p_result => ''E'', p_error_msg => ''', replace(activity('PIP_M_CD_BESTON_ES_PLUSREVIEWARTICLE').Error.Message, '''','‘'),''') as result from dual')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": "1",
							"SourceTable": "1"
						}
					}
				}
			}
		],
		"folder": {
			"name": "실행/Monthly"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-19T01:56:26Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}