pipeline/PIP_API_INDUSTRY_GARAK_PRICEBYITEMGRADE_WHOLESALEMARKET.json
{
	"name": "PIP_API_INDUSTRY_GARAK_PRICEBYITEMGRADE_WHOLESALEMARKET",
	"properties": {
		"description": "(신)유통정보 - 품목별등급별가격(도매시장법인거래)",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "select to_char(generate_series('2018-01-01'::date, '2023-11-07'::date, '1 days')::date,'YYYYMMDD') as date\n,to_char(generate_series('2018-01-01'::date, '2023-11-07'::date, '1 days')::date-1,'YYYYMMDD') as date_p\n,to_char(generate_series('2018-01-01'::date, '2023-11-07'::date, '1 days')::date-7,'YYYYMMDD') as date_p7\n,'1' as p_pos_gubun\nunion\nselect \nto_char(generate_series('2018-01-01'::date, '2023-11-07'::date, '1 days')::date,'YYYYMMDD') as date\n,to_char(generate_series('2018-01-01'::date, '2023-11-07'::date, '1 days')::date-1,'YYYYMMDD') as date_p\n,to_char(generate_series('2018-01-01'::date, '2023-11-07'::date, '1 days')::date-7,'YYYYMMDD') as date_p7\n,'3' as p_pos_gubun\norder by date;",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK_P02",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": {
								"value": "@pipeline().parameters.SinkSchema",
								"type": "Expression"
							},
							"SinkTable": {
								"value": "@pipeline().parameters.SinkTable",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "date",
											"value": {
												"value": "@item().date",
												"type": "Expression"
											}
										},
										{
											"name": "date_p",
											"value": {
												"value": "@item().date_p",
												"type": "Expression"
											}
										},
										{
											"name": "date_p7",
											"value": {
												"value": "@item().date_p7",
												"type": "Expression"
											}
										},
										{
											"name": "p_pos_gubun",
											"value": {
												"value": "@item().p_pos_gubun",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['PUM_NM']"
											},
											"sink": {
												"name": "pum_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['G_NAME']"
											},
											"sink": {
												"name": "g_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['U_NAME']"
											},
											"sink": {
												"name": "u_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['MI_P']"
											},
											"sink": {
												"name": "mi_p",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['MA_P']"
											},
											"sink": {
												"name": "ma_p",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['AV_P']"
											},
											"sink": {
												"name": "av_p",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['FLUC']"
											},
											"sink": {
												"name": "fluc",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['D_MARK_P']"
											},
											"sink": {
												"name": "d_mark_p",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['D_MARK_R']"
											},
											"sink": {
												"name": "d_mark_r",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['J_SAME_P']"
											},
											"sink": {
												"name": "j_same_p",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['J_SAME_R']"
											},
											"sink": {
												"name": "j_same_r",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['J_SAME_MARK_P']"
											},
											"sink": {
												"name": "j_same_mark_p",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['J_SAME_MARK_R']"
											},
											"sink": {
												"name": "j_same_mark_r",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['date']"
											},
											"sink": {
												"name": "date",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['date_p']"
											},
											"sink": {
												"name": "date_p",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['date_p7']"
											},
											"sink": {
												"name": "date_p7",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['p_pos_gubun']"
											},
											"sink": {
												"name": "p_pos_gubun",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['resultData']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_API_GARAK",
									"type": "DatasetReference",
									"parameters": {
										"url": {
											"value": "@concat('/publicdata/dataJsonOpen.do?id=3603&passwd=days2023!&dataid=data36&pagesize=1000&pageidx=1&portal.templet=false&s_date=',item().date,'&s_date_p=',item().date_p,'&s_date_p7=',item().date_p7,'&p_pos_gubun=',item().p_pos_gubun)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK_P02",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSchema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "update cd_ods.tb_garak_pricebyitemgrade_wholesalemarket\nset \npum_nm=trim(pum_nm)\n,g_name=trim(g_name)\n,u_name=trim(u_name)\n,mi_p = trim(mi_p)\n,ma_p=trim(ma_p)\n,av_p=trim(av_p)\n,fluc = trim(fluc)\n,d_mark_p=trim(d_mark_p)\n,d_mark_r=trim(d_mark_r)\n,j_same_p=trim(j_same_p)\n,j_same_r=trim(j_same_r)\n,j_same_mark_p=trim(j_same_mark_p)\n,j_same_mark_r=trim(j_same_mark_r)\n,date = trim(date)\n,date_p = trim(date_p)\n,date_p7 = trim(date_p7);",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK_P02",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": {
								"value": "@pipeline().parameters.SinkSchema",
								"type": "Expression"
							},
							"SinkTable": {
								"value": "@pipeline().parameters.SinkTable",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_garak_pricebyitemgrade_wholesalemarket"
			}
		},
		"variables": {
			"date": {
				"type": "String"
			},
			"url": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Industry/외부/서울특별시_농수산식품공사"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-16T07:55:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}