pipeline/PIP_API_INDUSTRY_PPS_SHOPPINGMALL_D.json
{
	"name": "PIP_API_INDUSTRY_PPS_SHOPPINGMALL_D",
	"properties": {
		"description": "조달정보개방포",
		"activities": [
			{
				"name": "Lookup API Info",
				"description": "API 정보를 가져오기 위해 LOOKUP 파일에test",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DTS_ADLS_SNK",
						"type": "DatasetReference",
						"parameters": {
							"AdlsDirectory": {
								"value": "@pipeline().parameters.AdlsDirectoryConf",
								"type": "Expression"
							},
							"FileName": {
								"value": "@concat(pipeline().parameters.ConfFile,'.csv')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Copy data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup API Info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup API Info').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "API REQ",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['item_name']"
											},
											"sink": {
												"name": "item_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['item_code']"
											},
											"sink": {
												"name": "item_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['kind_name']"
											},
											"sink": {
												"name": "kind_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['kind_code']"
											},
											"sink": {
												"name": "kind_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['rank']"
											},
											"sink": {
												"name": "rank",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['rank_code']"
											},
											"sink": {
												"name": "rank_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['unit']"
											},
											"sink": {
												"name": "unit",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day1']"
											},
											"sink": {
												"name": "day1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dpr1']"
											},
											"sink": {
												"name": "dpr1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day2']"
											},
											"sink": {
												"name": "day2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dpr2']"
											},
											"sink": {
												"name": "dpr2",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day3']"
											},
											"sink": {
												"name": "day3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dpr3']"
											},
											"sink": {
												"name": "dpr3",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day4']"
											},
											"sink": {
												"name": "day4",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dpr4']"
											},
											"sink": {
												"name": "dpr4",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day5']"
											},
											"sink": {
												"name": "day5",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dpr5']"
											},
											"sink": {
												"name": "dpr5",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day6']"
											},
											"sink": {
												"name": "day6",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dpr6']"
											},
											"sink": {
												"name": "dpr6",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['day7']"
											},
											"sink": {
												"name": "day7",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dpr7']"
											},
											"sink": {
												"name": "dpr7",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['regday']"
											},
											"sink": {
												"name": "regday",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['data']['item']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_API_PPI_JSON",
									"type": "DatasetReference",
									"parameters": {
										"service": {
											"value": "@pipeline().parameters.service",
											"type": "Expression"
										},
										"strdt": "20230101",
										"enddt": "20230331",
										"ApiKey": {
											"value": "@pipeline().parameters.Apikey",
											"type": "Expression"
										},
										"product": "국탕류"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_ADLS_SNK",
									"type": "DatasetReference",
									"parameters": {
										"AdlsDirectory": {
											"value": "@concat(pipeline().parameters.AdlsDirectoryOri,'/',substring( replace(variables('regday'),'-','') ,0,6)  )",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(pipeline().parameters.FileName, '_', item().category ,'_',item().cls , '_',replace(variables('regday'),'-',''),'_', '.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "ForEach Copy data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"maxConcurrentConnections": 1,
							"recursive": true,
							"wildcardFolderPath": {
								"value": "@concat(pipeline().parameters.AdlsDirectoryOri,'/',formatDateTime(addHours(utcNow(), 9), 'yyyymm'),'*')\t\t\t\t",
								"type": "Expression"
							},
							"wildcardFileName": "*",
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings",
							"maxConcurrentConnections": 1,
							"copyBehavior": "MergeFiles"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"parallelCopies": 1,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DTS_ADLS_SNK",
						"type": "DatasetReference",
						"parameters": {
							"AdlsDirectory": "@pipeline().parameters.AdlsDirectory",
							"FileName": "@pipeline().parameters.FileName"
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DTS_ADLS_SNK",
						"type": "DatasetReference",
						"parameters": {
							"AdlsDirectory": "@pipeline().parameters.AdlsDirectory",
							"FileName": {
								"value": "@concat(pipeline().parameters.FileName,'_',formatDateTime(addHours(utcNow(), 9), 'yyyyMM'),'.csv')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Script1",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"scripts": [
						{
							"type": "Query"
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"AdlsDirectoryConf": {
				"type": "string",
				"defaultValue": "Industry/외부/조달청/종합쇼핑몰 납품요구정보 현황/conf"
			},
			"ConfFile": {
				"type": "string",
				"defaultValue": "종합쇼핑몰 납품요구정보_conf"
			},
			"AdlsDirectoryOri": {
				"type": "string",
				"defaultValue": "Industry/외부/농수산식품/도소매가격정보_원본"
			},
			"Apikey": {
				"type": "string",
				"defaultValue": "W26gwh49fADZe9fVLqkaAlzn5IPh6n9jf9FCHkThIs6UDblFv46xFoLaNzl011vFX8daAemoPlw4BubABfFBRg%3D%3D"
			},
			"service": {
				"type": "string",
				"defaultValue": "ShoppingMallPrdctInfoService06"
			}
		},
		"variables": {
			"regday": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Industry/외부/조달청/종합쇼핑몰 납품요구정보 현황"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-16T07:55:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}