pipeline/PIP_API_INDUSTRY_AT_PRICE_DATECMPPUMSALE_SUB.json
{
	"name": "PIP_API_INDUSTRY_AT_PRICE_DATECMPPUMSALE_SUB",
	"properties": {
		"description": "도매시장별 총물량 총금액",
		"activities": [
			{
				"name": "pageNum",
				"description": "페이지 갯수",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DTS_API_AT",
						"type": "DatasetReference",
						"parameters": {
							"params": {
								"value": "@concat('/openApi/price/dateCmpPumSale.do?serviceKey=',pipeline().parameters.ApiKey,'&apiType=json&pageNo=1&large=',pipeline().parameters.Large,'&mid=',pipeline().parameters.Mid,'&strDate=',pipeline().parameters.Date,'&endDate=',pipeline().parameters.Date)",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "delete data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1  \n      ,add(\n             div(\n                  int(activity('pageNum').output.value[0].totCnt)\n                 ,int(pipeline().parameters.one_page_row)\n                )\n            ,if(\n                greater(\n                        mod(\n                               int(activity('pageNum').output.value[0].totCnt)\n                              ,int(pipeline().parameters.one_page_row)\n                         )\n                       ,0\n                       )\n                ,1,0\n            )   \n       )\n)",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "Date",
											"value": {
												"value": "@pipeline().parameters.Date",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['errorText']"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['rn']"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['whsalcd']"
											},
											"sink": {
												"name": "whsalcd",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['cmpcd']"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['whsalname']"
											},
											"sink": {
												"name": "whsalname",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['cmpname']"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['large']"
											},
											"sink": {
												"name": "large",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['mid']"
											},
											"sink": {
												"name": "mid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['largename']"
											},
											"sink": {
												"name": "largename",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['midname']"
											},
											"sink": {
												"name": "midname",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['totqty']"
											},
											"sink": {
												"name": "totqty",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data'][0]['totamt']"
											},
											"sink": {
												"name": "totamt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['totCnt']"
											}
										},
										{
											"source": {
												"path": "$['pageNo']"
											}
										},
										{
											"source": {
												"path": "$['statusText']"
											}
										},
										{
											"source": {
												"path": "$['errorCode']"
											}
										},
										{
											"source": {
												"path": "$['dataCnt']"
											}
										},
										{
											"source": {
												"path": "$['status']"
											}
										},
										{
											"source": {
												"path": "$['Date']"
											}
										}
									],
									"collectionReference": ""
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_API_AT",
									"type": "DatasetReference",
									"parameters": {
										"params": {
											"value": "@concat('/openApi/price/dateCmpPumSale.do?serviceKey=',pipeline().parameters.ApiKey,'&apiType=json&pageNo=',item(),'&large=',pipeline().parameters.Large,'&mid=',pipeline().parameters.Mid,'&strDate=',pipeline().parameters.Date,'&endDate=',pipeline().parameters.Date)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK_P02",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSchema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "delete data",
				"description": "데이터 삭제",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "pageNum",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "delete from @{pipeline().parameters.SinkSchema}.@{pipeline().parameters.SinkTable}\nwhere date  = '@{pipeline().parameters.Date}'\nand large = '@{pipeline().parameters.Large}'\nand mid = '@{pipeline().parameters.Mid}' ;\n\nselect 1 as success",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK_P02",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_at_datecmppumsale"
			},
			"ApiKey": {
				"type": "string",
				"defaultValue": "EDCC40BADEB8467BB2CD68B11A369A83"
			},
			"Date": {
				"type": "string"
			},
			"Large": {
				"type": "string"
			},
			"Mid": {
				"type": "string"
			},
			"one_page_row": {
				"type": "string",
				"defaultValue": "1000"
			}
		},
		"variables": {
			"date": {
				"type": "String"
			},
			"url": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Industry/외부/도매시장"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-16T07:55:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}