pipeline/PIP_API_INDUSTRY_AT_PRICE_SALE_M.json
{
	"name": "PIP_API_INDUSTRY_AT_PRICE_SALE_M",
	"properties": {
		"description": "수요기관정보조회",
		"activities": [
			{
				"name": "whsal list",
				"description": "도매시장 리스트",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "   \n select t.codeid, a.date\n   from cd_ods.tb_at_whsal_master_t as t\n       ,(\n        select to_char(now() - generate_series(1,3750) *interval '1 days','yyyymmdd') as  date\n       ) a\nwhere  a.date between '20140101' and '20141231'\norder by a.date\n  ",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK_P02",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "whsal list",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('whsal list').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PIP_API_INDUSTRY_AT_PRICE_SALE_SUB",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"SaleDate": {
										"value": "@item().date",
										"type": "Expression"
									},
									"WhsalCd": {
										"value": "@item().codeid",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"pip_saledate": {
				"type": "string"
			},
			"ApiKey": {
				"type": "string",
				"defaultValue": "EDCC40BADEB8467BB2CD68B11A369A83"
			}
		},
		"variables": {
			"saledate": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Industry/외부/도매시장"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-16T07:55:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}