pipeline/PIP_API_NAVER_DATALAB.json
{
	"name": "PIP_API_NAVER_DATALAB",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "select_keyword",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('select_keyword').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"additionalColumns": [
										{
											"name": "key_id",
											"value": {
												"value": "@item().key_id",
												"type": "Expression"
											}
										},
										{
											"name": "topic",
											"value": {
												"value": "@item().topic",
												"type": "Expression"
											}
										},
										{
											"name": "jsonData",
											"value": {
												"value": "@variables('jsonData')",
												"type": "Expression"
											}
										}
									],
									"query": "select 1 as success",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "key_id",
												"type": "String"
											},
											"sink": {
												"name": "key_id",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "topic",
												"type": "String"
											},
											"sink": {
												"name": "topic",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "jsonData",
												"type": "String"
											},
											"sink": {
												"name": "jsonData",
												"type": "String",
												"physicalType": "jsonb"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "1",
										"SinkTable": "1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSckema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"headers": {
									"Content-Type": {
										"value": "application/json; UTF-8",
										"type": "Expression"
									},
									"X-Naver-Client-Id": {
										"value": "@item().id",
										"type": "Expression"
									},
									"X-Naver-Client-Secret": {
										"value": "@item().pw",
										"type": "Expression"
									}
								},
								"url": {
									"value": "https://openapi.naver.com/v1/datalab/search",
									"type": "Expression"
								},
								"body": {
									"value": "{\n  \"startDate\": \"@{item().start_date}\",\n  \"endDate\": \"@{item().end_date}\",\n  \"timeUnit\": \"month\",\n  \"keywordGroups\": [\n    {\n      \"groupName\": \"@{item().topic}\",\n      \"keywords\": [\"@{item().topic}\"]\n    }\n  ]\n}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "jsonData",
								"value": {
									"value": "@string(activity('Web1').output)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "select_keyword",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "WITH id_pw_combinations AS (\n  SELECT \n    ROW_NUMBER() OVER () as combo_id,\n    id, \n    pw\n  FROM (\n    VALUES \n      ('p7kCTjIvjnAYEJGAvsl0', 'fabaTiAHhF'),\n      ('YGhFoYAuLjwOeggaogEg', '2fBbQxicmX'),\n      ('JKMVVBdEU58bv9gVHyeh', 'spp0sh3TAq')\n  ) AS combinations(id, pw)\n),\nbase_data AS (\n  SELECT \n    topic,\n    key_id,\n    to_char(DATE_TRUNC('month', current_date - interval '6 month'), 'YYYY-MM-DD') as start_date,\n     to_char(now() - interval '1 day', 'YYYY-MM-DD') as end_date,\n    ROW_NUMBER() OVER () as row_num\n  FROM cd_portal.tb_topic_master\n  where use_yn = 'Y'\nand new_traker  = 'N'\nand topic = '김치'\n)\nSELECT \n  bd.topic,\n  bd.key_id,\n  bd.start_date,\n  bd.end_date,\n  ipc.id,\n  ipc.pw\nFROM base_data bd\nJOIN id_pw_combinations ipc ON ipc.combo_id = ((bd.row_num - 1) % 3) + 1",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_naver_datalab_keyword_t"
			},
			"SinkSckema": {
				"type": "string",
				"defaultValue": "cd_ods"
			}
		},
		"variables": {
			"id": {
				"type": "Integer"
			},
			"pw": {
				"type": "String"
			},
			"jsonData": {
				"type": "String"
			}
		},
		"folder": {
			"name": "고객/외부/홈대시보드"
		},
		"annotations": []
	}
}