pipeline/PIP_API_INDUSTRY_D2B_ORDER_AGENCY_CODE.json
{
	"name": "PIP_API_INDUSTRY_D2B_ORDER_AGENCY_CODE",
	"properties": {
		"description": "발주기관코드목",
		"activities": [
			{
				"name": "delet table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "delete from  @{pipeline().parameters.SinkSchema}.@{pipeline().parameters.SinkTable}       \n\nselect 1 as success",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					}
				}
			},
			{
				"name": "get page",
				"description": "대표 제품의 생성 기간동안 토탈 건수 ",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "delet table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DTS_PPS_API_JSON",
						"type": "DatasetReference",
						"parameters": {
							"params": {
								"value": "@concat('/1230000/UsrInfoService/',pipeline().parameters.service,'?type=json&inqryDiv=1&pageNo=1&numOfRows=1&inqryBgnDt=',variables('strdt'),'&inqryEndDt=',variables('enddt'),'&ServiceKey=',pipeline().parameters.Apikey)",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get page",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1  \n      ,add(\n             div(\n                  int(activity('get page').output.firstRow.response.body.totalCount) \n                 ,int(pipeline().parameters.one_page_row)                  \n                )\n            ,if(\n                greater(\n                        mod(\n                            int(activity('get page').output.firstRow.response.body.totalCount) \n                        ,int(pipeline().parameters.one_page_row)   \n                            )\n                       ,0\n                       )\n                ,1,0\n            )           \n       )\n)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['dminsttCd']"
											},
											"sink": {
												"name": "dminstt_cd",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['vldPrdBgnDt']"
											},
											"sink": {
												"name": "vld_prd_bgn_dt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['vldPrdEndDt']"
											},
											"sink": {
												"name": "vld_prd_end_dt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dminsttNm']"
											},
											"sink": {
												"name": "dminstt_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dminsttAbrvtNm']"
											},
											"sink": {
												"name": "dminstt_abrvt_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dminsttEngNm']"
											},
											"sink": {
												"name": "dminstt_eng_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['corprtRgstNo']"
											},
											"sink": {
												"name": "corprt_rgst_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bizno']"
											},
											"sink": {
												"name": "bizno",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['jrsdctnDivNm']"
											},
											"sink": {
												"name": "jrsdctn_div_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['insttTyCdLrgclsfcNm']"
											},
											"sink": {
												"name": "instt_ty_cd_lrgclsfc_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['insttTyCdMidclsfcNm']"
											},
											"sink": {
												"name": "instt_ty_cd_midclsfc_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['insttTyCdSmlclsfcNm']"
											},
											"sink": {
												"name": "instt_ty_cd_smlclsfc_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['bizcndtnNm']"
											},
											"sink": {
												"name": "bizcndtn_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['indstrytyNm']"
											},
											"sink": {
												"name": "indstryty_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ofclFaxNo']"
											},
											"sink": {
												"name": "ofcl_fax_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['rgnCd']"
											},
											"sink": {
												"name": "rgn_cd",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['rgnNm']"
											},
											"sink": {
												"name": "rgn_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['zip']"
											},
											"sink": {
												"name": "zip",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['adrs']"
											},
											"sink": {
												"name": "adrs",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dtlAdrs']"
											},
											"sink": {
												"name": "dtl_adrs"
											}
										},
										{
											"source": {
												"path": "['telNo']"
											},
											"sink": {
												"name": "tel_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['faxNo']"
											},
											"sink": {
												"name": "fax_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['hmpgAdrs']"
											},
											"sink": {
												"name": "hmpg_adrs",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dltYn']"
											},
											"sink": {
												"name": "dlt_yn"
											}
										},
										{
											"source": {
												"path": "['toplvlInsttCd']"
											},
											"sink": {
												"name": "toplvl_instt_cd"
											}
										},
										{
											"source": {
												"path": "['toplvlInsttNm']"
											},
											"sink": {
												"name": "toplvl_instt_nm"
											}
										},
										{
											"source": {
												"path": "['rgstDt']"
											},
											"sink": {
												"name": "rgst_dt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['chgDt']"
											},
											"sink": {
												"name": "chg_dt",
												"type": "String"
											}
										}
									]
								}
							},
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSchema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Apikey": {
				"type": "string",
				"defaultValue": "W26gwh49fADZe9fVLqkaAlzn5IPh6n9jf9FCHkThIs6UDblFv46xFoLaNzl011vFX8daAemoPlw4BubABfFBRg%3D%3D"
			},
			"service": {
				"type": "string",
				"defaultValue": "getOrntCodeList"
			},
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_d2b_order_agency_code"
			},
			"one_page_row": {
				"type": "string",
				"defaultValue": "999"
			},
			"pipstrdt": {
				"type": "string"
			},
			"pipenddt": {
				"type": "string"
			}
		},
		"variables": {
			"strdt": {
				"type": "String"
			},
			"enddt": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Industry/외부/방위사업청"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-16T07:55:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}