pipeline/PIP_API_CUSTOMER_BRAND_NEWS_ALL.json
{
	"name": "PIP_API_CUSTOMER_BRAND_NEWS_ALL",
	"properties": {
		"activities": [
			{
				"name": "select_keyword",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "SELECT \nkeyword AS key1, \nCASE WHEN COALESCE (synonym, '') != '' THEN keyword ||'||'||synonym\n     ELSE keyword END AS key2\nFROM cd_ods.tb_fc_news_keyword_t\nWHERE 1=1\nORDER BY key1 , key2\n",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK_P02",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "select_keyword",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('select_keyword').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 50,
					"activities": [
						{
							"name": "PIP_API_CUSTOMER_BRAND_NEWS",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PIP_API_CUSTOMER_BRAND_NEWS",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SinkSckema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_fc_brand_news_t"
			}
		},
		"variables": {
			"date": {
				"type": "String"
			},
			"date2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "고객/외부/브랜드 NEWS"
		},
		"annotations": []
	}
}