pipeline/PIP_API_INDUSTRY_FSK_I1250_INC.json
{
	"name": "PIP_API_INDUSTRY_FSK_I1250_INC",
	"properties": {
		"description": "수요기관정보조회",
		"activities": [
			{
				"name": "sel_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select to_char(base_date, 'YYYYMMDD') as date \nfrom cd_ods.aps_sdc_pw_mst \nwhere cyear  = '2022'\n;\n",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "sel_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('sel_date').output.value",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "PIP_API_INDUSTRY_FSK_I1250",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PIP_API_INDUSTRY_FSK_I1250",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"PipDate": {
										"value": "@item().date",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_fsk_I1250"
			}
		},
		"variables": {
			"date": {
				"type": "String"
			},
			"url": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Industry/외부/식품의약품안전처"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-16T07:55:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}