pipeline/PIP_API_INDUSTRY_FNB_MONTH_BRAND_PRICE.json
{
	"name": "PIP_API_INDUSTRY_FNB_MONTH_BRAND_PRICE",
	"properties": {
		"description": "고도몰 증분",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select *\nfrom unnest(ARRAY[to_char(now(), 'YYYYMM'),to_char(now() - interval '1 month', 'YYYYMM')]) as REQ_DATE, unnest(ARRAY[0,1,2]) as DATA_GBN\n;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "data copy",
							"description": "data copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.00:01:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET",
										"additionalHeaders": {
											"value": "accept:application/json",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['NO']"
											},
											"sink": {
												"name": "no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BRAND_NAME']"
											},
											"sink": {
												"name": "brand_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['TOT_PRICE']"
											},
											"sink": {
												"name": "tot_price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['EL_PRICE']"
											},
											"sink": {
												"name": "el_price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['MI_PRICE']"
											},
											"sink": {
												"name": "mi_price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['HI_PRICE']"
											},
											"sink": {
												"name": "hi_price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ETC_PRICE']"
											},
											"sink": {
												"name": "etc_price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BRAND_CODE']"
											},
											"sink": {
												"name": "brand_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DATA_GBN']"
											},
											"sink": {
												"name": "data_gbn",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['REQ_DATE']"
											},
											"sink": {
												"name": "req_date",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['MONTH_BRAND_PRICE']"
								},
								"timeout": "00:01:00"
							},
							"inputs": [
								{
									"referenceName": "DTS_API_FNB",
									"type": "DatasetReference",
									"parameters": {
										"url": {
											"value": "@concat('reqData.do?REQ_TABLE=MONTH_BRAND_PRICE&REQ_KEY=F3C12301F3811775CA1B945C33E09E34&DATA_GBN=',item().data_gbn,'&REQ_DATE=',item().req_date)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "cd_ods",
										"SinkTable": "tb_FNB_MONTH_BRAND_PRICE_t"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Industry/외부/푸드앤비드"
		},
		"annotations": []
	}
}