pipeline/PIP_API_INDUSTRY_BULESIS_PRODUCT_INFO.json
{
	"name": "PIP_API_INDUSTRY_BULESIS_PRODUCT_INFO",
	"properties": {
		"activities": [
			{
				"name": "Lookup_parameter",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "with vw_date as \n( \nselect  to_char(generate_series('20251101'::date, '20251101'::date, INTERVAL '1 month'),'YYMM') AS yymm \n)\nselect a.yymm, b.code as city_code from vw_date a, cd_ods.tb_sf_bluesis_area_master b",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK_P02",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_product_info",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_parameter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_parameter').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data_product_info",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "yymm",
											"value": {
												"value": "@item().yymm",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['pdsid']"
											},
											"sink": {
												"name": "pdsid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['brname']"
											},
											"sink": {
												"name": "brname",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['porg']"
											},
											"sink": {
												"name": "porg",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['pdtax']"
											},
											"sink": {
												"name": "pdtax",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['pdlics']"
											},
											"sink": {
												"name": "pdlics",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['pdnote']"
											},
											"sink": {
												"name": "pdnote",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['pname']"
											},
											"sink": {
												"name": "pname",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['pstand']"
											},
											"sink": {
												"name": "pstand",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['pexpl']"
											},
											"sink": {
												"name": "pexpl",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['punit']"
											},
											"sink": {
												"name": "punit",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['is_event']"
											},
											"sink": {
												"name": "is_event",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['school_price']"
											},
											"sink": {
												"name": "school_price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['school_kg_price']"
											},
											"sink": {
												"name": "school_kg_price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['school_event_unit_price']"
											},
											"sink": {
												"name": "school_event_unit_price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['school_event_price']"
											},
											"sink": {
												"name": "school_event_price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['school_event_kg_price']"
											},
											"sink": {
												"name": "school_event_kg_price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['school_event_start_date']"
											},
											"sink": {
												"name": "school_event_start_date",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['school_event_end_date']"
											},
											"sink": {
												"name": "school_event_end_date",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['price']"
											},
											"sink": {
												"name": "price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['kg_price']"
											},
											"sink": {
												"name": "kg_price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['event_unit_price']"
											},
											"sink": {
												"name": "event_unit_price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['event_price']"
											},
											"sink": {
												"name": "event_price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['event_kg_price']"
											},
											"sink": {
												"name": "event_kg_price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['event_start_date']"
											},
											"sink": {
												"name": "event_start_date",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['event_end_date']"
											},
											"sink": {
												"name": "event_end_date",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['corna']"
											},
											"sink": {
												"name": "corna",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cobuno']"
											},
											"sink": {
												"name": "cobuno",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cotel1']"
											},
											"sink": {
												"name": "cotel1",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['city1_code']"
											},
											"sink": {
												"name": "city1_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['city3_code']"
											},
											"sink": {
												"name": "city3_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['city1_name']"
											},
											"sink": {
												"name": "city1_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['city3_name']"
											},
											"sink": {
												"name": "city3_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['price_date']"
											},
											"sink": {
												"name": "price_date",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['pid_erp']"
											},
											"sink": {
												"name": "pid_erp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['yymm']"
											},
											"sink": {
												"name": "yymm",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['data']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_API_BLUESIS",
									"type": "DatasetReference",
									"parameters": {
										"url": {
											"value": "@concat('/api/products?key=XNBGd1SDc9OLQQEFNuowuBcFwj62JY30&yymm=',item().yymm,'&city_code=',item().city_code)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK_P02",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSchema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 3,
		"parameters": {
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_sf_bluesis_product_info_t"
			}
		},
		"folder": {
			"name": "Industry/외부/블루시스"
		},
		"annotations": []
	}
}