pipeline/PIP_API_INDUSTRY_FSK_I1250_FULL.json
{
	"name": "PIP_API_INDUSTRY_FSK_I1250_FULL",
	"properties": {
		"description": "수요기관정보조회",
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['PRDLST_REPORT_NO']"
											},
											"sink": {
												"name": "prdlst_report_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PRMS_DT']"
											},
											"sink": {
												"name": "prms_dt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['LAST_UPDT_DTM']"
											},
											"sink": {
												"name": "last_updt_dtm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['LCNS_NO']"
											},
											"sink": {
												"name": "lcns_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PRDLST_NM']"
											},
											"sink": {
												"name": "prdlst_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['QLITY_MNTNC_TMLMT_DAYCNT']"
											},
											"sink": {
												"name": "qlity_mntnc_tmlmt_daycnt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BSSH_NM']"
											},
											"sink": {
												"name": "bssh_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PRDLST_DCNM']"
											},
											"sink": {
												"name": "prdlst_dcnm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CHILD_CRTFC_YN']"
											},
											"sink": {
												"name": "child_crtfc_yn",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['INDUTY_CD_NM']"
											},
											"sink": {
												"name": "induty_cd_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DISPOS']"
											},
											"sink": {
												"name": "dispos",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['FRMLC_MTRQLT']"
											},
											"sink": {
												"name": "frmlc_mtrqlt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['USAGE']"
											},
											"sink": {
												"name": "usage",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['POG_DAYCNT']"
											},
											"sink": {
												"name": "pog_daycnt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['HIENG_LNTRT_DVS_NM']"
											},
											"sink": {
												"name": "hieng_lntrt_dvs_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PRODUCTION']"
											},
											"sink": {
												"name": "production",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PRPOS']"
											},
											"sink": {
												"name": "prpos",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['I1250']['row']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_API_FSK",
									"type": "DatasetReference",
									"parameters": {
										"url": {
											"value": "@concat('/api/f93320322b05463499de/I1250/json/',item().st,'/',item().ed)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK_P02",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSchema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "get page",
				"description": "전날 변경 된 건",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DTS_API_FSK",
						"type": "DatasetReference",
						"parameters": {
							"url": {
								"value": "@concat('/api/f93320322b05463499de/I1250/json/1/10/')",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "max_g",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "WITH vw_range AS (\n    SELECT \n        (g * 1000 + 1) AS st,\n        ((g + 1) * 1000) AS ed\n    FROM generate_series(0, @{variables('total_count')}) AS g\n)\nSELECT r.st, r.ed\nFROM vw_range r\n;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "max_g",
				"description": "당일자",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get page",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "total_count",
					"value": {
						"value": "@div(int(activity('get page').output.firstRow.I1250.total_count), 1000)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_fsk_I1250_temp"
			}
		},
		"variables": {
			"date": {
				"type": "String"
			},
			"url": {
				"type": "String"
			},
			"total_count": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "품질/외부/식품안전나라"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-16T07:55:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}