pipeline/PIP_API_INDUSTRY_KAMIS_D_M.json
{
	"name": "PIP_API_INDUSTRY_KAMIS_D_M",
	"properties": {
		"activities": [
			{
				"name": "ForEach Copy data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PIP_API_INDUSTRY_KAMIS_D",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"date": {
										"value": "@item().DATE",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "SELECT to_char(base_date,'YYYYMMDD') as DATE                              \n                           FROM CD_ODS.aps_sdc_pw_mst \n                          WHERE 1=1 --CMONTH2 BETWEEN '202303' AND '202307'\n                           and to_char(base_date,'YYYYMMDD') between '20230330'  and '20230721'\n                          order by base_date                                                                 \n",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"AdlsDirectory": {
				"type": "string",
				"defaultValue": "Industry/외부/농수산식품/도소매가격정보"
			},
			"FileName": {
				"type": "string",
				"defaultValue": "도소매가격정보"
			},
			"AdlsDirectoryConf": {
				"type": "string",
				"defaultValue": "Industry/외부/농수산식품/conf"
			},
			"ConfFile": {
				"type": "string",
				"defaultValue": "도소매_conf"
			},
			"AdlsDirectoryOri": {
				"type": "string",
				"defaultValue": "Industry/외부/농수산식품/도소매가격정보_원본"
			},
			"Apikey": {
				"type": "string",
				"defaultValue": "fabd919e-b1b9-4ef8-b9bc-c3e82b728bf2"
			},
			"date": {
				"type": "string"
			}
		},
		"variables": {
			"regday": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Industry/외부/농수산식품"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-16T07:55:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}