pipeline/PIP_D_SF_DALPHA_RECIEVE.json
{
	"name": "PIP_D_SF_DALPHA_RECIEVE",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "with vw_send_dt as\n(\n\tselect distinct send_dt from cd_ods.tb_sf_fnb_ext_send_dalpha where send_dt >= '20260601'\n),\ndataset2 as \n(\n\tselect distinct send_dt from cd_ods.tb_sf_standard_dataset2\n)\nselect a.send_dt as send_dt from vw_send_dt a\nleft join dataset2 b\non a.send_dt = b.send_dt\nwhere coalesce (b.send_dt,'') = ''",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"query": {
										"value": "select  source_id,  priority, food_name, food_desc, brand, product_name, master_item_code, master_item_name, bluesis_name, bluesis_brand, mapping_score,  to_char(  send_dt AT TIME ZONE 'Asia/Seoul','yyyymmdd') as send_dt\nfrom daesang.rpa_matching_results \nwhere to_char(  send_dt AT TIME ZONE 'Asia/Seoul','yyyymmdd') = '@{item().send_dt}'",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "food_desc",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "item_desc_fnb",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "food_name",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "item_name_fnb",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "brand",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "matching_brand",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "product_name",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "matching_product_name",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "priority",
												"type": "Int16",
												"physicalType": "smallint"
											},
											"sink": {
												"name": "rnk",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "master_item_name",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "ds_item_name",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "master_item_code",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "item_code_ds",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "bluesis_name",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "product_name_bluesis",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "bluesis_brand",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "brand_bluesis",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "mapping_score",
												"type": "Decimal",
												"physicalType": "numeric"
											},
											"sink": {
												"name": "매핑 Score",
												"type": "Double",
												"physicalType": "real"
											}
										},
										{
											"source": {
												"name": "send_dt",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "send_dt",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "source_id",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "rowid",
												"type": "String",
												"physicalType": "character varying"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK_AWS_DALPHA",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "1",
										"SinkTable": "1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "cd_ods",
										"SinkTable": "tb_sf_standard_dataset2"
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "with vw_send_dt as\n(\n\tselect distinct send_dt from cd_ods.tb_sf_eat_ext_send_dalpha where send_dt >= '20260601'\n),\ndataset8 as \n(\n\tselect distinct send_dt from cd_ods.tb_sf_standard_dataset8\n)\nselect a.send_dt as send_dt from vw_send_dt a\nleft join dataset8 b\non a.send_dt = b.send_dt\nwhere coalesce (b.send_dt,'') = ''",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1_copy1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"query": {
										"value": "select  id as no,  source_id,  announcement_no, food_name, food_desc, spec, unit, fnb_item_name, fnb_item_desc, fnb_brand, fnb_product_name, fnb_qty, fnb_reg_date,  bluesis_name, bluesis_brand,  to_char(  send_dt AT TIME ZONE 'Asia/Seoul','yyyymmdd') as send_dt\nfrom daesang.eat_matching_results\nwhere to_char(  send_dt AT TIME ZONE 'Asia/Seoul','yyyymmdd') = '@{item().send_dt}'",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "food_name",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "item_name_eat",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "food_desc",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "item_desc_eat",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "fnb_item_name",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "item_name_fnb",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "fnb_item_desc",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "item_desc_fnb",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "fnb_brand",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "matching_product_brand",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "fnb_product_name",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "matching_product_name",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "announcement_no",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "bidid",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "no",
												"type": "Int64",
												"physicalType": "bigint"
											},
											"sink": {
												"name": "no",
												"type": "Decimal",
												"physicalType": "numeric"
											}
										},
										{
											"source": {
												"name": "send_dt",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "send_dt",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "bluesis_name",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "블루시스_제품명",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "bluesis_brand",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "블루시스_브랜드",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "source_id",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "rowid",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "spec",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "규격",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "unit",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "단위",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "fnb_qty",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "총량",
												"type": "Double",
												"physicalType": "real"
											}
										},
										{
											"source": {
												"name": "fnb_reg_date",
												"type": "String",
												"physicalType": "text"
											},
											"sink": {
												"name": "등록일",
												"type": "String",
												"physicalType": "character varying"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK_AWS_DALPHA",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "1",
										"SinkTable": "1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "cd_ods",
										"SinkTable": "tb_sf_standard_dataset8"
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "Industry/외부/학교급식"
		},
		"annotations": []
	}
}