pipeline/PIP_API_INDUSTRY_PPS_DEMAND_AGENCY.json
{
	"name": "PIP_API_INDUSTRY_PPS_DEMAND_AGENCY",
	"properties": {
		"description": "조달정보개방포",
		"activities": [
			{
				"name": "set strdt",
				"description": "당일자",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "strdt",
					"value": {
						"value": "198001010000",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set enddt",
				"description": "당일자",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "enddt",
					"value": {
						"value": "198012312359",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "set strdt",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set enddt",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "delete from  @{pipeline().parameters.SinkSchema}.@{pipeline().parameters.SinkTable}       \n WHERE rgst_dt BETWEEN '@{variables('strdt')}' AND '@{variables('enddt')}';\n \nselect 1 as success",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					}
				}
			},
			{
				"name": "product cnt",
				"description": "대표 제품의 생성 기간동안 토탈 건수 ",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DTS_PPS_API_JSON",
						"type": "DatasetReference",
						"parameters": {
							"params": {
								"value": "@concat('/1230000/UsrInfoService/',pipeline().parameters.service,'?type=json&inqryDiv=1&pageNo=1&numOfRows=1&inqryBgnDt=',variables('strdt'),'&inqryEndDt=',variables('enddt'),'&ServiceKey=',pipeline().parameters.Apikey)",
								"type": "Expression"
							}
						}
					}
				}
			}
		],
		"parameters": {
			"Apikey": {
				"type": "string",
				"defaultValue": "W26gwh49fADZe9fVLqkaAlzn5IPh6n9jf9FCHkThIs6UDblFv46xFoLaNzl011vFX8daAemoPlw4BubABfFBRg%3D%3D"
			},
			"service": {
				"type": "string",
				"defaultValue": "getDminsttInfo"
			},
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_pps_demand_agency"
			}
		},
		"variables": {
			"strdt": {
				"type": "String"
			},
			"enddt": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Industry/외부/조달청/나라장터_사용자정보서비스"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-16T07:55:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}