pipeline/PIP_D_CD_WMS_IFWMSONLINE_ER_FULL.json
{
	"name": "PIP_D_CD_WMS_IFWMSONLINE_ER_FULL",
	"properties": {
		"description": "- WHERE SYSTEM_TYPE = \"ER\" 로 구분",
		"activities": [
			{
				"name": "Lookup Date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "@concat('SELECT DISTINCT(SUBSTR(', pipeline().parameters.IncCol, ', 1, 6)) CALMONTH FROM ', pipeline().parameters.SourceSchema, '.', pipeline().parameters.SourceTable, ' WHERE SYSTEM_TYPE = ''ER''')",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": {
								"value": "@pipeline().parameters.SourceSchema",
								"type": "Expression"
							},
							"SourceTable": {
								"value": "@pipeline().parameters.SourceTable",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Copy data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup Date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup Date').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data All Month",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "OracleSource",
									"oracleReaderQuery": {
										"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceSchema, '.', pipeline().parameters.SourceTable,' WHERE SYSTEM_TYPE = ''ER''', ' AND SUBSTR(',pipeline().parameters.IncCol, ', 1, 6) = ', item().CALMONTH)",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".csv"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_ORACLE_SRC",
									"type": "DatasetReference",
									"parameters": {
										"SourceSchema": {
											"value": "@pipeline().parameters.SourceSchema",
											"type": "Expression"
										},
										"SourceTable": {
											"value": "@pipeline().parameters.SourceTable",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_ADLS_SNK",
									"type": "DatasetReference",
									"parameters": {
										"AdlsDirectory": {
											"value": "@pipeline().parameters.AdlsDirectory",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_','ER','_',item().CALMONTH,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SourceSchema": {
				"type": "string",
				"defaultValue": "CD_WMS"
			},
			"SourceTable": {
				"type": "string",
				"defaultValue": "IFWMSONLINE"
			},
			"AdlsDirectory": {
				"type": "string",
				"defaultValue": "매출(주문)/내부/외부쇼핑몰주문"
			},
			"IncCol": {
				"type": "string",
				"defaultValue": "SHIPPING_DATE"
			}
		},
		"folder": {
			"name": "매출_주문/내부/WMS"
		},
		"annotations": [],
		"lastPublishTime": "2022-08-24T10:07:18Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}