pipeline/PIP_API_INDUSTRY_WNG_STORE_ADDRESS_test.json
{
	"name": "PIP_API_INDUSTRY_WNG_STORE_ADDRESS_test",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"description": "ㄴㄹㄴㅇㄹㅇㄴㄹㄴㅇㄹㄴㅁㅇㄹㄴㅇㅁ",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DTS_API_ADDR",
						"type": "DatasetReference",
						"parameters": {
							"url": {
								"value": "@concat('?confmKey=U01TX0FVVEgyMDI1MTIxODEzMDgwNjExNjU4MDM=&currentPage=1&countPerPage=1&resultType=json&keyword=',variables('keyword'))",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "keyword",
					"value": {
						"value": "@pipeline().parameters.pip_keyword",
						"type": "Expression"
					}
				}
			}
		],
		"concurrency": 3,
		"parameters": {
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_fc_brandstores_real_address_t"
			},
			"p_yymm": {
				"type": "string"
			},
			"pip_keyword": {
				"type": "string"
			}
		},
		"variables": {
			"yymm": {
				"type": "String"
			},
			"keyword": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": []
	}
}