pipeline/PIP_DATA_BACKUP_LKS.json
{
	"name": "PIP_DATA_BACKUP_LKS",
	"properties": {
		"description": "PG데이터 lake에 이동 및 테이블 데이터 삭제",
		"activities": [
			{
				"name": "Search_condition",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select format(\n    'select * from %I.%I where %I <= %s',\n    schema_name,\n    table_name,\n    date_column_name,\n    case\n        when date_column_type = 'timestamp'\n        then\n            format(\n                'now() - interval ''1 %s'' * %s',\n                retention_unit,\n                retention_value\n            )\n        when date_column_type = 'yyyy-mm-dd'\n        then \n        \tformat(\n        \t\t'to_char(current_date - interval ''%s %s'', ''yyyy-mm-dd'')',\n                retention_value,\n                retention_unit\n        \t)\n        else\n            format(\n                'current_date - interval ''%s %s''',\n                retention_value,\n                retention_unit\n            )\n    end\n) as select_query,\nformat(\n    'delete from %I.%I where %I <= %s',\n    schema_name,\n    table_name,\n    date_column_name,\n    case\n        when date_column_type = 'timestamp'\n        then\n            format(\n                'now() - interval ''1 %s'' * %s',\n                retention_unit,\n                retention_value\n            )\n        when date_column_type = 'yyyy-mm-dd'\n        then \n        \tformat(\n        \t\t'to_char(current_date - interval ''%s %s'', ''yyyy-mm-dd'')',\n                retention_value,\n                retention_unit\n        \t)\n        else\n            format(\n                'current_date - interval ''%s %s''',\n                retention_value,\n                retention_unit\n            )\n    end\n) as delete_query,\npolicy_id, lake_container, lake_path_template, schema_name,table_name,  date_column_name, table_storage_type, delete_strategy,retention_value, retention_unit\nfrom cd_meta.table_retention_policy\nwhere is_active = true",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": {
								"value": "@pipeline().parameters.SinkSchema",
								"type": "Expression"
							},
							"SinkTable": {
								"value": "@pipeline().parameters.SinkTable",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Search_condition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Search_condition').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"query": {
										"value": "@item().select_query",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings",
										"maxRowsPerFile": 5000000,
										"fileNamePrefix": {
											"value": "@concat(item().table_name, '_', formatDateTime(utcNow(), 'yyyyMM'))",
											"type": "Expression"
										}
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "1",
										"SinkTable": "1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_DATA_BACKUP_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"AdlsDirectory": {
											"value": "@concat(item().lake_path_template,'/',item().schema_name,'/',item().table_name)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Search_condition_copy1",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"query": {
										"value": "update cd_meta.table_retention_policy set last_upd_dt = now() , is_active  = (case when '@{item().retention_value}' = '0' and '@{item().retention_unit}' = 'year' then false  else true  end) where policy_id = @{item().policy_id};\n\nselect 1 as success",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "1",
										"SinkTable": "1"
									}
								},
								"firstRowOnly": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_meta"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "table_retention_policy"
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": []
	}
}