pipeline/PIP_API_INDUSTRY_MAS_SHOPPING_DELYVERY_M.json
{
	"name": "PIP_API_INDUSTRY_MAS_SHOPPING_DELYVERY_M",
	"properties": {
		"description": "수요기관정보조회_멀",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select '20250926'  as strdt, '20250930'  as enddt\nunion all\nselect '20251001'  as strdt, '20251031'  as enddt\nunion all\nselect '20251101'  as strdt, '20251105'  as enddt",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PIP_API_INDUSTRY_MAS_SHOPPING_DELYVERY_INC",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pipstrdt": {
										"value": "@item().strdt",
										"type": "Expression"
									},
									"pipenddt": {
										"value": "@item().enddt",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Industry/외부/조달청/종합쇼핑몰 납품요구정보 현황"
		},
		"annotations": []
	}
}