pipeline/PIP_API_CUSTOMER_KIMCHI_NEWS_copy1.json
{
	"name": "PIP_API_CUSTOMER_KIMCHI_NEWS_copy1",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select case when a.dt = '1' then a.cmonth2||'01' else  a.cmonth2||'15' end strdt\n        ,case when a.dt = '1' then a.cmonth2||'16' else  mx end enddt         \n    from (\n    select cmonth2\n        ,max(to_char(base_date,'YYYYMMDD')) as MX\n        ,unnest (string_to_array('1,2',','))  as dt\n    from cd_ods.aps_sdc_pw_mst\n    where cmonth2 between '202301' and '202311'\n    group by cmonth2\n    ) a\n    order by cmonth2 desc, dt",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK_P02",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PIP_API_CUSTOMER_KIMCHI_NEWS",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"pip_date": {
										"value": "@item().strdt",
										"type": "Expression"
									},
									"pip_date2": {
										"value": "@item().enddt",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SinkSckema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_kimchi_boh_news_data_t"
			},
			"pip_date": {
				"type": "string"
			}
		},
		"variables": {
			"date": {
				"type": "String"
			},
			"date2": {
				"type": "String"
			}
		},
		"folder": {
			"name": "고객/외부/김치 NEWS"
		},
		"annotations": []
	}
}