pipeline/PIP_API_HASHSCRAPER_KISS.json
{
	"name": "PIP_API_HASHSCRAPER_KISS",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@lessOrEquals(variables('copyCount'),99 )\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Lookup1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "POST",
										"additionalHeaders": {
											"value": "Content-Type: application/json; version=3",
											"type": "Expression"
										},
										"requestBody": {
											"value": "{\"api_key\": \"d7937c81efbbec118ee8dbc18923d61a\", \"schedule_id\": \"ds_kiss_list\", \"next_id\" : \"@{activity('Lookup1').output.firstRow.nxt_id}\"}",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['schedule_result_id']"
											},
											"sink": {
												"name": "schedule_result_id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['created_at']"
											},
											"sink": {
												"name": "created_at",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['채널']"
											},
											"sink": {
												"name": "channel",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['검색어']"
											},
											"sink": {
												"name": "search_keyword",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['URL']"
											},
											"sink": {
												"name": "url",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['제목']"
											},
											"sink": {
												"name": "title_ko",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['제목(영문)']"
											},
											"sink": {
												"name": "title_en",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['저자']"
											},
											"sink": {
												"name": "author",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['소속']"
											},
											"sink": {
												"name": "publisher",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['연도']"
											},
											"sink": {
												"name": "publication_date",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['유형']"
											},
											"sink": {
												"name": "journal",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['number']"
											},
											"sink": {
												"name": "issue",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['page']"
											},
											"sink": {
												"name": "page",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['UCI']"
											},
											"sink": {
												"name": "uci",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DOI']"
											},
											"sink": {
												"name": "doi",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['초록']"
											},
											"sink": {
												"name": "abstract",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['키워드']"
											},
											"sink": {
												"name": "keyword",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['목차']"
											},
											"sink": {
												"name": "content",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['참고문헌']"
											},
											"sink": {
												"name": "reference",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['data']"
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_API_HASHSCRAPER",
									"type": "DatasetReference",
									"parameters": {
										"url": {
											"value": "@concat('api/get_results_of_schedule')",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "cd_ods",
										"SinkTable": "tb_hash_kiss_t"
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "copyCount",
								"value": {
									"value": "@activity('Copy data1_copy1').output.rowsCopied",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Lookup1",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"query": "select coalesce (max(id::numeric), 0) as nxt_id from cd_ods.tb_hash_kiss_t;",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "cd_ods",
										"SinkTable": "tb_hash_kiss_t"
									}
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"copyCount": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Industry/외부/해시스크래퍼"
		},
		"annotations": []
	}
}