pipeline/PIP_API_INDUSTRY_BULESIS_PRODUCT_MATCHING_INFO.json
{
	"name": "PIP_API_INDUSTRY_BULESIS_PRODUCT_MATCHING_INFO",
	"properties": {
		"activities": [
			{
				"name": "Lookup_parameter",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "with vw_date as \n( \nselect  to_char(generate_series('20251201'::date, '20251201'::date, INTERVAL '1 month'),'YYMM') AS yymm \n)\nselect distinct a.yymm, b.city3_code as city_code\nfrom vw_date a \njoin  cd_ods.tb_sf_bluesis_product_info_t b\non a.yymm = b.yymm",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK_P02",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_product_matching_info",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_parameter",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_parameter').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 2,
					"activities": [
						{
							"name": "Copy data_product_matching_info",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "yymm",
											"value": {
												"value": "@item().yymm",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['id']"
											},
											"sink": {
												"name": "id",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ntceno']"
											},
											"sink": {
												"name": "ntceno",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ntceid']"
											},
											"sink": {
												"name": "ntceid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ntcenm']"
											},
											"sink": {
												"name": "ntcenm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['city1_code']"
											},
											"sink": {
												"name": "city1_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['city3_code']"
											},
											"sink": {
												"name": "city3_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['city1_name']"
											},
											"sink": {
												"name": "city1_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['city3_name']"
											},
											"sink": {
												"name": "city3_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['hpid']"
											},
											"sink": {
												"name": "hpid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['hpname']"
											},
											"sink": {
												"name": "hpname",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['hpexplain']"
											},
											"sink": {
												"name": "hpexplain",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['hpstand']"
											},
											"sink": {
												"name": "hpstand",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['hpunit']"
											},
											"sink": {
												"name": "hpunit",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['hpkgrate']"
											},
											"sink": {
												"name": "hpkgrate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['hpfdcode']"
											},
											"sink": {
												"name": "hpfdcode",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['hpfdgroup']"
											},
											"sink": {
												"name": "hpfdgroup",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['sdate']"
											},
											"sink": {
												"name": "sdate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['edate']"
											},
											"sink": {
												"name": "edate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['pid_erp']"
											},
											"sink": {
												"name": "pid_erp",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['price']"
											},
											"sink": {
												"name": "price",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['hpstate']"
											},
											"sink": {
												"name": "hpstate",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['pname']"
											},
											"sink": {
												"name": "pname",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['porg']"
											},
											"sink": {
												"name": "porg",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['pstand']"
											},
											"sink": {
												"name": "pstand",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['punit']"
											},
											"sink": {
												"name": "punit",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['pexpl']"
											},
											"sink": {
												"name": "pexpl",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['brname']"
											},
											"sink": {
												"name": "brname",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['pfdgroup']"
											},
											"sink": {
												"name": "pfdgroup",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['yymm']"
											},
											"sink": {
												"name": "yymm",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['data']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_API_BLUESIS",
									"type": "DatasetReference",
									"parameters": {
										"url": {
											"value": "@concat('/api/matchings?key=XNBGd1SDc9OLQQEFNuowuBcFwj62JY30&yymm=',item().yymm,'&city_code=',item().city_code)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK_P02",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSchema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"concurrency": 5,
		"parameters": {
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_sf_bluesis_product_matching_info_t"
			}
		},
		"folder": {
			"name": "Industry/외부/블루시스"
		},
		"annotations": []
	}
}