pipeline/PIP_API_TOPIC_KEYWORD_TRAN.json
{
	"name": "PIP_API_TOPIC_KEYWORD_TRAN",
	"properties": {
		"activities": [
			{
				"name": "select_keyword",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "select_keyword_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "WITH vw_last_date AS (\n\tSELECT \n    to_char(DATE_TRUNC('month', current_date - interval '6 month'), 'YYYYMMDD') as start_date,\n     to_char(now() - interval '1 day', 'YYYYMMDD') as end_date\n)\nselect b.key_id, b.topic, unnest(array['blog','twitter&excludeKeyword=rt','news','insta','community']) as channel\n, a.start_date, a.end_date\nfrom vw_last_date a\n, (\nselect topic, key_id from cd_portal.tb_topic_master\nwhere use_yn = 'Y'\nand new_traker  = 'N'\nand key_id between '001' and '040'\n) b",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "token",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "POST",
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DTS_VIVE_API_TOKEN",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "select_keyword",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('select_keyword').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "Bearer @{activity('token').output.value[0].access_token}",
										"type": "Expression"
									}
								},
								"url": {
									"value": "https://dsdata-api.some.co.kr/dataplus/social/GetkeywordTransitions?source=@{item().channel}&startDate=@{item().start_date}&endDate=@{item().end_date}&period=2&rowPerPage=3000&&keyword=@{item().topic}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"additionalColumns": [
										{
											"name": "jsonDataCol",
											"value": {
												"value": "@variables('jsonData1')",
												"type": "Expression"
											}
										},
										{
											"name": "topic",
											"value": {
												"value": "@item().topic",
												"type": "Expression"
											}
										},
										{
											"name": "channel",
											"value": {
												"value": "@item().channel",
												"type": "Expression"
											}
										},
										{
											"name": "key_id",
											"value": {
												"value": "@item().key_id",
												"type": "Expression"
											}
										}
									],
									"query": "select 1 as success",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "key_id",
												"type": "String"
											},
											"sink": {
												"name": "key_id",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "topic",
												"type": "String"
											},
											"sink": {
												"name": "topic",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "channel",
												"type": "String"
											},
											"sink": {
												"name": "channel",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "jsonDataCol",
												"type": "String"
											},
											"sink": {
												"name": "jsondata",
												"type": "String",
												"physicalType": "character varying"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "1",
										"SinkTable": "1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSckema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "jsonData1",
								"value": {
									"value": "@string(activity('Web1').output)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "select_keyword_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "delete from  cd_ods.tb_vive_topic_keyword_tran_t;\n\nselect 1 as success;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "select_keyword_copy1_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ForEach1_copy1",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ForEach1_copy2",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ForEach1_copy3",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "ForEach1_copy4",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select cd_ods.fn_vive_topic_keyword_tran_update();",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "select_keyword2",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "select_keyword_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "WITH vw_last_date AS (\n\tSELECT \n    to_char(DATE_TRUNC('month', current_date - interval '6 month'), 'YYYYMMDD') as start_date,\n     to_char(now() - interval '1 day', 'YYYYMMDD') as end_date\n)\nselect b.key_id, b.topic, unnest(array['blog','twitter&excludeKeyword=rt','news','insta','community']) as channel\n, a.start_date, a.end_date\nfrom vw_last_date a\n, (\nselect topic, key_id from cd_portal.tb_topic_master\nwhere use_yn = 'Y'\nand new_traker  = 'N'\nand key_id between '041' and '080'\n) b",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1_copy1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "select_keyword2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('select_keyword2').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Web2",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "Bearer @{activity('token').output.value[0].access_token}",
										"type": "Expression"
									}
								},
								"url": {
									"value": "https://dsdata-api.some.co.kr/dataplus/social/GetkeywordTransitions?source=@{item().channel}&startDate=@{item().start_date}&endDate=@{item().end_date}&period=2&rowPerPage=3000&&keyword=@{item().topic}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"additionalColumns": [
										{
											"name": "jsonDataCol",
											"value": {
												"value": "@variables('jsonData2')",
												"type": "Expression"
											}
										},
										{
											"name": "topic",
											"value": {
												"value": "@item().topic",
												"type": "Expression"
											}
										},
										{
											"name": "channel",
											"value": {
												"value": "@item().channel",
												"type": "Expression"
											}
										},
										{
											"name": "key_id",
											"value": {
												"value": "@item().key_id",
												"type": "Expression"
											}
										}
									],
									"query": "select 1 as success",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "key_id",
												"type": "String"
											},
											"sink": {
												"name": "key_id",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "topic",
												"type": "String"
											},
											"sink": {
												"name": "topic",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "channel",
												"type": "String"
											},
											"sink": {
												"name": "channel",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "jsonDataCol",
												"type": "String"
											},
											"sink": {
												"name": "jsondata",
												"type": "String",
												"physicalType": "character varying"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "1",
										"SinkTable": "1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSckema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable1_copy1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "jsonData2",
								"value": {
									"value": "@string(activity('Web2').output)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "select_keyword3",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "select_keyword_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "WITH vw_last_date AS (\n\tSELECT \n    to_char(DATE_TRUNC('month', current_date - interval '6 month'), 'YYYYMMDD') as start_date,\n     to_char(now() - interval '1 day', 'YYYYMMDD') as end_date\n)\nselect b.key_id, b.topic, unnest(array['blog','twitter&excludeKeyword=rt','news','insta','community']) as channel\n, a.start_date, a.end_date\nfrom vw_last_date a\n, (\nselect topic, key_id from cd_portal.tb_topic_master\nwhere use_yn = 'Y'\nand new_traker  = 'N'\nand key_id between '081' and '120'\n) b",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1_copy2",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "select_keyword3",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('select_keyword3').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Web3",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "Bearer @{activity('token').output.value[0].access_token}",
										"type": "Expression"
									}
								},
								"url": {
									"value": "https://dsdata-api.some.co.kr/dataplus/social/GetkeywordTransitions?source=@{item().channel}&startDate=@{item().start_date}&endDate=@{item().end_date}&period=2&rowPerPage=3000&&keyword=@{item().topic}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1_copy2",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1_copy2",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"additionalColumns": [
										{
											"name": "jsonDataCol",
											"value": {
												"value": "@variables('jsonData3')",
												"type": "Expression"
											}
										},
										{
											"name": "topic",
											"value": {
												"value": "@item().topic",
												"type": "Expression"
											}
										},
										{
											"name": "channel",
											"value": {
												"value": "@item().channel",
												"type": "Expression"
											}
										},
										{
											"name": "key_id",
											"value": {
												"value": "@item().key_id",
												"type": "Expression"
											}
										}
									],
									"query": "select 1 as success",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "key_id",
												"type": "String"
											},
											"sink": {
												"name": "key_id",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "topic",
												"type": "String"
											},
											"sink": {
												"name": "topic",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "channel",
												"type": "String"
											},
											"sink": {
												"name": "channel",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "jsonDataCol",
												"type": "String"
											},
											"sink": {
												"name": "jsondata",
												"type": "String",
												"physicalType": "character varying"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "1",
										"SinkTable": "1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSckema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable1_copy2",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "jsonData3",
								"value": {
									"value": "@string(activity('Web3').output)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "select_keyword4",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "select_keyword_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "WITH vw_last_date AS (\n\tSELECT \n    to_char(DATE_TRUNC('month', current_date - interval '6 month'), 'YYYYMMDD') as start_date,\n     to_char(now() - interval '1 day', 'YYYYMMDD') as end_date\n)\nselect b.key_id, b.topic, unnest(array['blog','twitter&excludeKeyword=rt','news','insta','community']) as channel\n, a.start_date, a.end_date\nfrom vw_last_date a\n, (\nselect topic, key_id from cd_portal.tb_topic_master\nwhere use_yn = 'Y'\nand new_traker  = 'N'\nand key_id between '121' and '160' \n) b",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1_copy3",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "select_keyword4",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('select_keyword4').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Web4",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "Bearer @{activity('token').output.value[0].access_token}",
										"type": "Expression"
									}
								},
								"url": {
									"value": "https://dsdata-api.some.co.kr/dataplus/social/GetkeywordTransitions?source=@{item().channel}&startDate=@{item().start_date}&endDate=@{item().end_date}&period=2&rowPerPage=3000&&keyword=@{item().topic}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1_copy3",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1_copy3",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"additionalColumns": [
										{
											"name": "jsonDataCol",
											"value": {
												"value": "@variables('jsonData4')",
												"type": "Expression"
											}
										},
										{
											"name": "topic",
											"value": {
												"value": "@item().topic",
												"type": "Expression"
											}
										},
										{
											"name": "channel",
											"value": {
												"value": "@item().channel",
												"type": "Expression"
											}
										},
										{
											"name": "key_id",
											"value": {
												"value": "@item().key_id",
												"type": "Expression"
											}
										}
									],
									"query": "select 1 as success",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "key_id",
												"type": "String"
											},
											"sink": {
												"name": "key_id",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "topic",
												"type": "String"
											},
											"sink": {
												"name": "topic",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "channel",
												"type": "String"
											},
											"sink": {
												"name": "channel",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "jsonDataCol",
												"type": "String"
											},
											"sink": {
												"name": "jsondata",
												"type": "String",
												"physicalType": "character varying"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "1",
										"SinkTable": "1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSckema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable1_copy3",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "jsonData4",
								"value": {
									"value": "@string(activity('Web4').output)",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "select_keyword5",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "select_keyword_copy1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "WITH vw_last_date AS (\n\tSELECT \n    to_char(DATE_TRUNC('month', current_date - interval '6 month'), 'YYYYMMDD') as start_date,\n     to_char(now() - interval '1 day', 'YYYYMMDD') as end_date\n)\nselect b.key_id, b.topic, unnest(array['blog','twitter&excludeKeyword=rt','news','insta','community']) as channel\n, a.start_date, a.end_date\nfrom vw_last_date a\n, (\nselect topic, key_id from cd_portal.tb_topic_master\nwhere use_yn = 'Y'\nand new_traker  = 'N'\nand key_id > '160' \n) b",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1_copy4",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "select_keyword5",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('select_keyword5').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Web5",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "Bearer @{activity('token').output.value[0].access_token}",
										"type": "Expression"
									}
								},
								"url": {
									"value": "https://dsdata-api.some.co.kr/dataplus/social/GetkeywordTransitions?source=@{item().channel}&startDate=@{item().start_date}&endDate=@{item().end_date}&period=2&rowPerPage=3000&&keyword=@{item().topic}",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1_copy4",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1_copy4",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"additionalColumns": [
										{
											"name": "jsonDataCol",
											"value": {
												"value": "@variables('jsonData5')",
												"type": "Expression"
											}
										},
										{
											"name": "topic",
											"value": {
												"value": "@item().topic",
												"type": "Expression"
											}
										},
										{
											"name": "channel",
											"value": {
												"value": "@item().channel",
												"type": "Expression"
											}
										},
										{
											"name": "key_id",
											"value": {
												"value": "@item().key_id",
												"type": "Expression"
											}
										}
									],
									"query": "select 1 as success",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "key_id",
												"type": "String"
											},
											"sink": {
												"name": "key_id",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "topic",
												"type": "String"
											},
											"sink": {
												"name": "topic",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "channel",
												"type": "String"
											},
											"sink": {
												"name": "channel",
												"type": "String",
												"physicalType": "character varying"
											}
										},
										{
											"source": {
												"name": "jsonDataCol",
												"type": "String"
											},
											"sink": {
												"name": "jsondata",
												"type": "String",
												"physicalType": "character varying"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "1",
										"SinkTable": "1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSckema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable1_copy4",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web5",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "jsonData5",
								"value": {
									"value": "@string(activity('Web5').output)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SinkSckema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_vive_topic_keyword_tran_t"
			},
			"pip_date": {
				"type": "string"
			},
			"pip_date2": {
				"type": "string"
			}
		},
		"variables": {
			"date": {
				"type": "String"
			},
			"date2": {
				"type": "String"
			},
			"jsonData1": {
				"type": "String"
			},
			"jsonData2": {
				"type": "String"
			},
			"jsonData3": {
				"type": "String"
			},
			"jsonData4": {
				"type": "String"
			},
			"jsonData5": {
				"type": "String"
			}
		},
		"folder": {
			"name": "고객/외부/키워드소셜원문"
		},
		"annotations": []
	}
}