pipeline/PIP_API_CUSTOMER_ASSOCIATION_YOUTUBE_M_csv.json
{
	"name": "PIP_API_CUSTOMER_ASSOCIATION_YOUTUBE_M_csv",
	"properties": {
		"description": "연관어 트위터 수동적재",
		"activities": [
			{
				"name": "API REQ INFO",
				"description": "API 호출 정보를 가져오기 위해 설정 파일에서 Date 을 읽어옵니다.",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DTS_ADLS_SNK",
						"type": "DatasetReference",
						"parameters": {
							"AdlsDirectory": {
								"value": "@pipeline().parameters.AdlsDirectoryConf",
								"type": "Expression"
							},
							"FileName": {
								"value": "@concat(pipeline().parameters.ConfFile,'.csv')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Copy data",
				"description": "cdi-root / 고객/외부/연관어/트위터 위치에 항목별로 복사합니다.",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "API REQ INFO",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('API REQ INFO').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 10,
					"activities": [
						{
							"name": "API REQ",
							"description": "각 API 호출",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"maxConcurrentConnections": 1,
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "projectId",
												"type": "String"
											},
											"sink": {
												"name": "projectId",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "date",
												"type": "String"
											},
											"sink": {
												"name": "date",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "queryName",
												"type": "String"
											},
											"sink": {
												"name": "queryName",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "associationKeyword",
												"type": "String"
											},
											"sink": {
												"name": "associationKeyword",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "frequency",
												"type": "String"
											},
											"sink": {
												"name": "frequency",
												"type": "String"
											}
										},
										{
											"source": {
												"name": "score",
												"type": "String"
											},
											"sink": {
												"name": "score",
												"type": "String"
											}
										}
									]
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_CUSTOMER_ASSOCIATION_CsvGz",
									"type": "DatasetReference",
									"parameters": {
										"channel": "@pipeline().parameters.Channel",
										"date": "@formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd')",
										"authkey": "@pipeline().parameters.Apikey",
										"category1": "@pipeline().parameters.Category1",
										"category2": "@pipeline().parameters.Category2"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_ADLS_CSV_SNK",
									"type": "DatasetReference",
									"parameters": {
										"AdlsDirectory": "@concat(pipeline().parameters.AdlsDirectory)",
										"FileName": "@concat(pipeline().parameters.FileName,'_',formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd'), '.csv')"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"AdlsDirectory": {
				"type": "string",
				"defaultValue": "고객/외부/연관어/유튜브"
			},
			"FileName": {
				"type": "string",
				"defaultValue": "연관어_유튜브"
			},
			"AdlsDirectoryConf": {
				"type": "string",
				"defaultValue": "고객/외부/연관어/conf"
			},
			"ConfFile": {
				"type": "string",
				"defaultValue": "연관어_COM_MANUAL_conf"
			},
			"Apikey": {
				"type": "string",
				"defaultValue": "50151fed78146d9974fc10b335738ef395cc6d0c20998505442c7d1c75642242"
			},
			"Channel": {
				"type": "string",
				"defaultValue": "ko.youtube"
			},
			"Category1": {
				"type": "string",
				"defaultValue": "association"
			},
			"Category2": {
				"type": "string",
				"defaultValue": "ASSOCIATION"
			}
		},
		"folder": {
			"name": "고객/외부/연관어CSV"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-13T11:12:28Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}