pipeline/PIP_API_TOPIC_ASSOCIATION_TRAN.json
{
	"name": "PIP_API_TOPIC_ASSOCIATION_TRAN",
	"properties": {
		"activities": [
			{
				"name": "select_keyword",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "WITH vw_last_date AS (\n\tSELECT \n    to_char(now() - interval '1 day', 'YYYYMMDD') as start_date,\n     to_char(now() - interval '1 day', 'YYYYMMDD') as end_date\n)\nselect '김치' as keyword, unnest(array['blog','twitter','news','insta','community','youtube']) as channel\n, a.start_date, a.end_date\nfrom vw_last_date a",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "token",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "select_keyword",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "POST",
							"requestTimeout": ""
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DTS_VIVE_API_TOKEN",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "token",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('select_keyword').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 20,
					"activities": [
						{
							"name": "Copy data",
							"type": "Copy",
							"state": "Inactive",
							"onInactiveMarkAs": "Succeeded",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "keyword",
											"value": {
												"value": "@item().keyword",
												"type": "Expression"
											}
										},
										{
											"name": "channel",
											"value": {
												"value": "@item().channel",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET",
										"additionalHeaders": {
											"value": "@{concat('Authorization : Bearer ','eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzY29wZSI6WyJTT0NJQUwiXSwiZXhwIjoxNzYzMzk4NDc2LCJhdXRob3JpdGllcyI6WyJST0xFX1VTRVIiXSwianRpIjoiOTJjMTkzMTctYThkMS00MjEwLThhYWItYWVhMDA2MzEyYjAxIiwiY2xpZW50X2lkIjoiM0FCQUIxNzhFRjQzMjg1NzA4RUJCNTJCMTZCMjhFQ0MifQ.c2miPaEqxCqi9YHvSFSi3AnxxravDicesbHEpK2G6Tc')}",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['data']['rows'][0]['date']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['김치']['positive']"
											},
											"sink": {
												"name": "positive",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['김치']['negative']"
											},
											"sink": {
												"name": "negative",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['김치']['neutral']"
											},
											"sink": {
												"name": "neutral",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['김치']['etc']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['맛있다']['frequency']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['맛있다']['score']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['다양한']['frequency']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['다양한']['score']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['맛있는']['frequency']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['맛있는']['score']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['좋다']['frequency']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['좋다']['score']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['기대']['frequency']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['기대']['score']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['깊은 맛']['frequency']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['깊은 맛']['score']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['진심']['frequency']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['진심']['score']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['즐기다']['frequency']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['즐기다']['score']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['신선한']['frequency']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['신선한']['score']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['깊다']['frequency']"
											}
										},
										{
											"source": {
												"path": "$['data']['rows'][0]['깊다']['score']"
											}
										},
										{
											"source": {
												"path": "$['keyword']"
											},
											"sink": {
												"name": "keyword",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['channel']"
											},
											"sink": {
												"name": "channel",
												"type": "String"
											}
										}
									],
									"collectionReference": "",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_VIVE_API",
									"type": "DatasetReference",
									"parameters": {
										"param": {
											"value": "@concat('/dataplus/social/GetAssociationTransitionBySentiment?source=',item().channel,'&startDate=',item().start_date,'&endDate=',item().end_date,'&period=0&rowPerPage=3000&&categorySetName=TSN3&keyword=',item().keyword)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSckema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Web1",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "GET",
								"headers": {
									"Authorization : Bearer": {
										"value": "@activity('token').output",
										"type": "Expression"
									}
								},
								"url": {
									"value": "@concat('https://dsdata-api.some.co.kr/dataplus/social/GetAssociationTransitionBySentiment?source=',item().channel,'&startDate=',item().start_date,'&endDate=',item().end_date,'&period=0&rowPerPage=3000&&categorySetName=TSN3&keyword=',item().keyword)",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Set variable1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"additionalColumns": [
										{
											"name": "jsonDataCod",
											"value": "@{variable(\"jsonData\")}"
										}
									],
									"query": "select 1 as success",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"name": "jsonDataCol"
											},
											"sink": {
												"name": "positive"
											}
										}
									],
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "1",
										"SinkTable": "1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSckema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Web1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "jsonData",
								"value": {
									"value": "@string(activity('Web1').output)",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SinkSckema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "temp_20251117"
			},
			"pip_date": {
				"type": "string"
			},
			"pip_date2": {
				"type": "string"
			}
		},
		"variables": {
			"date": {
				"type": "String"
			},
			"date2": {
				"type": "String"
			},
			"jsonData": {
				"type": "String"
			}
		},
		"folder": {
			"name": "고객/외부/키워드소셜원문"
		},
		"annotations": []
	}
}