pipeline/PIP_DATA_BACKUP_LKS.json
{
	"name": "PIP_DATA_BACKUP_LKS",
	"properties": {
		"description": "PG데이터 lake에 이동 및 테이블 데이터 삭제",
		"activities": [
			{
				"name": "Search_condition",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select format(\n    'select * from %I.%I where %I <= %s',\n    schema_name,\n    table_name,\n    date_column_name,\n    case\n        when date_column_type = 'timestamp'\n        then\n            format(\n                'now() - interval ''1 %s'' * %s',\n                retention_unit,\n                retention_value\n            )\n        else\n            format(\n                'current_date - interval ''%s %s''',\n                retention_value,\n                retention_unit\n            )\n    end\n)  as query,\nlake_container, lake_path_template, schema_name, table_name,date_column_name, table_storage_type, delete_strategy,file_format , delete_batch_size\nfrom cd_meta.table_retention_policy\nwhere is_active = true",
							"type": "Expression"
						},
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": {
								"value": "@pipeline().parameters.SinkSchema",
								"type": "Expression"
							},
							"SinkTable": {
								"value": "@pipeline().parameters.SinkTable",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Search_condition",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Search_condition').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Copy data1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"query": {
										"value": "@item().query",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "1",
										"SinkTable": "1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_DATA_BACKUP_PARQUET",
									"type": "DatasetReference",
									"parameters": {
										"AdlsDirectory": {
											"value": "@concat(item().lake_path_template,'/',item().schema_name,'/',item().table_name)",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(item().table_name, '_',formatDateTime(addHours(utcNow(), 9), 'yyyyMMdd'))",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"query": {
										"value": "@item().query",
										"type": "Expression"
									},
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "1",
										"SinkTable": "1"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_DATA_BACKUP_CVS",
									"type": "DatasetReference",
									"parameters": {
										"AdlsDirectory": {
											"value": "@concat(item().lake_path_template,'/',item().schema_name,'/',item().table_name)",
											"type": "Expression"
										},
										"FileName": {
											"value": "@concat(item().table_name, '_',formatDateTime(addHours(utcNow(), 9), 'yyyyMMdd'),'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_meta"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "table_retention_policy"
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": []
	}
}