pipeline/PIP_D_CD_ODS_BW_AZEP_O07600_FULL.json
{
	"name": "PIP_D_CD_ODS_BW_AZEP_O07600_FULL",
	"properties": {
		"activities": [
			{
				"name": "prev_start",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "prev_start",
					"value": {
						"value": "@startOfMonth(addToTime(addHours(utcNow(), 9), -1, 'Month'), 'yyyyMMdd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Copy data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "prev_start",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "prev_end",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "OracleSource",
						"oracleReaderQuery": {
							"value": "SELECT  CALMONTH    \n,CALDAY      \n,COMP_CODE   \n,SALES_DIST  \n,PLANT       \n,PURCH_ORG   \n,PUR_GROUP   \n,VENDOR      \n,MATERIAL    \n,DOCTYPE     \n,UNIT        \n,ZEA         \n,ZKG         \n,ZBOX        \n,ZBQUAN      \n,ZKRWAMT     \n,ZSRM_CAMT   \n,CURRENCY    \n,ZPP_MQTY    \n  FROM @{pipeline().parameters.SourceSchema}.@{pipeline().parameters.SourceTable}\nwhere calday between '@{variables('prev_start')}' and '@{variables('prev_end')}'",
							"type": "Expression"
						},
						"partitionOption": "None",
						"convertDecimalToInteger": false,
						"queryTimeout": "02:00:00"
					},
					"sink": {
						"type": "AzurePostgreSQLSink",
						"writeBatchSize": 1000000,
						"writeBatchTimeout": "00:30:00",
						"preCopyScript": {
							"value": "DELETE     \n  FROM @{pipeline().parameters.SinkSchema}.@{pipeline().parameters.SinkTable}\n  where calday between '@{variables('prev_start')}' and '@{variables('prev_end')}'",
							"type": "Expression"
						},
						"writeMethod": "CopyCommand"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CALMONTH",
									"type": "String"
								},
								"sink": {
									"name": "calmonth",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "CALDAY",
									"type": "String"
								},
								"sink": {
									"name": "calday",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "COMP_CODE",
									"type": "String"
								},
								"sink": {
									"name": "comp_code",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "SALES_DIST",
									"type": "String"
								},
								"sink": {
									"name": "sales_dist",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "PLANT",
									"type": "String"
								},
								"sink": {
									"name": "plant",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "PURCH_ORG",
									"type": "String"
								},
								"sink": {
									"name": "purch_org",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "PUR_GROUP",
									"type": "String"
								},
								"sink": {
									"name": "pur_group",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "VENDOR",
									"type": "String"
								},
								"sink": {
									"name": "vendor",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "MATERIAL",
									"type": "String"
								},
								"sink": {
									"name": "material",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "DOCTYPE",
									"type": "String"
								},
								"sink": {
									"name": "doctype",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "UNIT",
									"type": "String"
								},
								"sink": {
									"name": "unit",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "ZEA",
									"type": "Decimal"
								},
								"sink": {
									"name": "zea",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "ZKG",
									"type": "Decimal"
								},
								"sink": {
									"name": "zkg",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "ZBOX",
									"type": "Decimal"
								},
								"sink": {
									"name": "zbox",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "ZBQUAN",
									"type": "Decimal"
								},
								"sink": {
									"name": "zbquan",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "ZKRWAMT",
									"type": "Double"
								},
								"sink": {
									"name": "zkrwamt",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "ZSRM_CAMT",
									"type": "Decimal"
								},
								"sink": {
									"name": "zsrm_camt",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "CURRENCY",
									"type": "String"
								},
								"sink": {
									"name": "currency",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "ZPP_MQTY",
									"type": "Decimal"
								},
								"sink": {
									"name": "zpp_mqty",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DTS_ORACLE_SRC",
						"type": "DatasetReference",
						"parameters": {
							"SourceSchema": {
								"value": "@pipeline().parameters.SourceSchema",
								"type": "Expression"
							},
							"SourceTable": {
								"value": "@pipeline().parameters.SourceTable",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": {
								"value": "@pipeline().parameters.SinkSchema",
								"type": "Expression"
							},
							"SinkTable": {
								"value": "@pipeline().parameters.SinkTable",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "prev_end",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "prev_end",
					"value": {
						"value": "@addDays(startOfMonth(addHours(utcNow(), 9)), -1, 'yyyyMMdd')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"SourceSchema": {
				"type": "string",
				"defaultValue": "CD_ODS"
			},
			"SourceTable": {
				"type": "string",
				"defaultValue": "BW_AZEP_O07600_FULL"
			},
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "bw_azep_o07600_full"
			}
		},
		"variables": {
			"prev_start": {
				"type": "String"
			},
			"prev_end": {
				"type": "String"
			}
		},
		"folder": {
			"name": "매출_주문/내부/ODS"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-16T15:55:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}