pipeline/PIP_API_INDUSTRY_SCHOOLINFO_MEAL_PRICE.json
{
	"name": "PIP_API_INDUSTRY_SCHOOLINFO_MEAL_PRICE",
	"properties": {
		"activities": [
			{
				"name": "Lookup2",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "SELECT\n    a.sidocode,\n    a.sggcode,\n    b.schulKndCode,\n    c.yyyy\nFROM cd_ods.tb_sn_schoolinfo_area_master a\nCROSS JOIN LATERAL (\n    SELECT unnest(ARRAY[\n        '02','03','04','05'\n    ]) AS schulKndCode\n) b\nCROSS JOIN LATERAL (\n    SELECT unnest(ARRAY[\n        '2025','2026'\n    ]) AS yyyy\n) c",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup2",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup2').output.value",
						"type": "Expression"
					},
					"batchCount": 20,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "yyyy",
											"value": {
												"value": "@item().yyyy",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['ADRCD_CD']"
											},
											"sink": {
												"name": "adrcd_cd",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['FOND_SC_CODE']"
											},
											"sink": {
												"name": "fond_sc_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['JU_ORG_NM']"
											},
											"sink": {
												"name": "ju_org_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ATPT_OFCDC_ORG_CODE']"
											},
											"sink": {
												"name": "atpt_ofcdc_org_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['LCTN_SC_CODE']"
											},
											"sink": {
												"name": "lctn_sc_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SCHUL_CODE']"
											},
											"sink": {
												"name": "schul_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SCHUL_KND_SC_CODE']"
											},
											"sink": {
												"name": "schul_knd_sc_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ATPT_OFCDC_ORG_NM']"
											},
											"sink": {
												"name": "atpt_ofcdc_org_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['JU_ORG_CODE']"
											},
											"sink": {
												"name": "ju_org_code",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['SCHUL_NM']"
											},
											"sink": {
												"name": "schul_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['STDNT_ONE_PSNBY_LM']"
											},
											"sink": {
												"name": "stdnt_one_psnby_lm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ADRCD_NM']"
											},
											"sink": {
												"name": "adrcd_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PBAN_EXCP_YN']"
											},
											"sink": {
												"name": "pban_excp_yn",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BNHH_YN']"
											},
											"sink": {
												"name": "bnhh_yn",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['yyyy']"
											},
											"sink": {
												"name": "yyyy",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['list']"
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_API_SCHOOLINFO",
									"type": "DatasetReference",
									"parameters": {
										"url": {
											"value": "/openApi.do?apiKey=a3405cc4439049f7915db26ef62b47ad&apiType=35&pbanYr=@{item().yyyy}&schulKndCode=@{item().schulKndCode}&sidoCode=@{item().sidoCode}&depthNo=20&sggCode=@{item().sggCode}",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "cd_ods",
										"SinkTable": "tb_sn_schoolinfo_meal_price"
									}
								}
							]
						}
					]
				}
			}
		],
		"variables": {
			"jsonData": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Industry/외부/학교알리미"
		},
		"annotations": []
	}
}