pipeline/PIP_API_INDUSTRY_MAS_SHOPPING_DELYVERY.json
{
	"name": "PIP_API_INDUSTRY_MAS_SHOPPING_DELYVERY",
	"properties": {
		"description": "수요기관정보조회",
		"activities": [
			{
				"name": "set strdt",
				"description": "당일자",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "strdt",
					"value": {
						"value": "@if(equals(pipeline().parameters.pipstrdt,null),'20230101',pipeline().parameters.pipstrdt)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set enddt",
				"description": "당일자",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "enddt",
					"value": {
						"value": "@if(equals(pipeline().parameters.pipenddt,null),'20230131',pipeline().parameters.pipenddt)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "delet table",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "set strdt",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set enddt",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "delete from  @{pipeline().parameters.SinkSchema}.@{pipeline().parameters.SinkTable}       \n WHERE  REGEXP_REPLACE(dlvr_req_rcpt_date, '[^0-9]','','g') BETWEEN '@{variables('strdt')}' AND '@{variables('enddt')}';\n \nselect 1 as success",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					}
				}
			},
			{
				"name": "get page",
				"description": "대표 제품의 생성 기간동안 토탈 건수 ",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "delet table",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DTS_PPS_API_JSON",
						"type": "DatasetReference",
						"parameters": {
							"params": {
								"value": "@concat('/1230000/ShoppingMallPrdctInfoService06/',pipeline().parameters.service,'?type=json&inqryDiv=1&pageNo=1&numOfRows=1&inqryBgnDt=',variables('strdt'),'&inqryEndDt=',variables('enddt'),'&ServiceKey=',pipeline().parameters.Apikey)",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "get page",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1  \n      ,add(\n             div(\n                  int(activity('get page').output.firstRow.response.body.totalCount) \n                 ,int(pipeline().parameters.one_page_row)                  \n                )\n            ,if(\n                greater(\n                        mod(\n                            int(activity('get page').output.firstRow.response.body.totalCount) \n                        ,int(pipeline().parameters.one_page_row)   \n                            )\n                       ,0\n                       )\n                ,1,0\n            )           \n       )\n)",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['dlvrReqNo']"
											},
											"sink": {
												"name": "dlvr_req_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dlvrReqChgOrd']"
											},
											"sink": {
												"name": "dlvr_req_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dlvrReqRcptDate']"
											},
											"sink": {
												"name": "dlvr_req_rcpt_date",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dlvrReqNm']"
											},
											"sink": {
												"name": "dlvr_req_nm"
											}
										},
										{
											"source": {
												"path": "['dlvrReqQty']"
											},
											"sink": {
												"name": "dlvr_req_qty",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dlvrReqAmt']"
											},
											"sink": {
												"name": "dlvr_req_amt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dminsttCd']"
											},
											"sink": {
												"name": "dminstt_cd",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dminsttNm']"
											},
											"sink": {
												"name": "dminstt_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dmndInsttDivNm']"
											},
											"sink": {
												"name": "dmnd_instt_div_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dminsttRgnNm']"
											},
											"sink": {
												"name": "dminstt_rgn_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['corpNm']"
											},
											"sink": {
												"name": "corp_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['corpEntrprsDivNm']"
											},
											"sink": {
												"name": "corp_entrprs_div_nm"
											}
										},
										{
											"source": {
												"path": "['rprsntPrdctClsfcNo']"
											},
											"sink": {
												"name": "rprsnt_Prdct_Clsfc_No"
											}
										},
										{
											"source": {
												"path": "['rprsntPrdctClsfcNoNm']"
											},
											"sink": {
												"name": "rprsnt_Prdct_Clsfc_No_Nm"
											}
										},
										{
											"source": {
												"path": "['rprsntDtilPrdctClsfcNo']"
											},
											"sink": {
												"name": "rprsnt_Dtil_Prdct_Clsfc_No"
											}
										},
										{
											"source": {
												"path": "['rprsntDtilPrdctClsfcNoNm']"
											},
											"sink": {
												"name": "rprsnt_Dtil_Prdct_Clsfc_No_Nm"
											}
										},
										{
											"source": {
												"path": "['maxDlvrTmlmtDate']"
											},
											"sink": {
												"name": "max_Dlvr_Tmlmt_Date"
											}
										},
										{
											"source": {
												"path": "['cntrctCnclsStleNm']"
											},
											"sink": {
												"name": "cntrct_Cncls_Stle_Nm"
											}
										},
										{
											"source": {
												"path": "['cntrctNo']"
											},
											"sink": {
												"name": "cntrct_No"
											}
										},
										{
											"source": {
												"path": "['cntrctChgOrd']"
											},
											"sink": {
												"name": "cntrct_Chg_Ord"
											}
										},
										{
											"source": {
												"path": "['masYn']"
											},
											"sink": {
												"name": "mas_Yn"
											}
										},
										{
											"source": {
												"path": "['exclcProdctYn']"
											},
											"sink": {
												"name": "exclc_Prodct_Yn"
											}
										},
										{
											"source": {
												"path": "['fnlDlvrReqYn']"
											},
											"sink": {
												"name": "fnl_Dlvr_Req_Yn"
											}
										},
										{
											"source": {
												"path": "['dlvrReqIncdecQty']"
											},
											"sink": {
												"name": "dlvr_Req_Incdec_Qty"
											}
										},
										{
											"source": {
												"path": "['dlvrReqIncdecAmt']"
											},
											"sink": {
												"name": "dlvr_Req_Incdec_Amt"
											}
										},
										{
											"source": {
												"path": "['corpBizno']"
											},
											"sink": {
												"name": "corp_Bizno"
											}
										}
									],
									"collectionReference": "$['response']['body']['items']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_PPS_API_JSON",
									"type": "DatasetReference",
									"parameters": {
										"params": {
											"value": "@concat('/1230000/ShoppingMallPrdctInfoService06/',pipeline().parameters.service,'?type=json&inqryDiv=1&pageNo=',item(),'&numOfRows=',pipeline().parameters.one_page_row,'&inqryBgnDt=',variables('strdt'),'&inqryEndDt=',variables('enddt'),'&ServiceKey=',pipeline().parameters.Apikey)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSchema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"Apikey": {
				"type": "string",
				"defaultValue": "W26gwh49fADZe9fVLqkaAlzn5IPh6n9jf9FCHkThIs6UDblFv46xFoLaNzl011vFX8daAemoPlw4BubABfFBRg%3D%3D"
			},
			"service": {
				"type": "string",
				"defaultValue": "getDlvrReqInfoList01"
			},
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_mas_shopping_delivery"
			},
			"one_page_row": {
				"type": "string",
				"defaultValue": "999"
			},
			"pipstrdt": {
				"type": "string"
			},
			"pipenddt": {
				"type": "string"
			}
		},
		"variables": {
			"strdt": {
				"type": "String"
			},
			"enddt": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Industry/외부/조달청/종합쇼핑몰 납품요구정보 현황"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-16T07:55:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}