pipeline/PIP_API_INDUSTRY_FSK_I2832.json
{
	"name": "PIP_API_INDUSTRY_FSK_I2832",
	"properties": {
		"description": "수요기관정보조회",
		"activities": [
			{
				"name": "sel_date",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "with vw_range as\n(\nselect generate_series(2,999) * 1000 + 1 as st, (generate_series(2,999)+1) * 1000 as ed\n)\nselect st, ed from vw_range\nwhere (st, ed) not in \n(\nselect cast(st as numeric), cast(ed as numeric) from cd_ods.tb_fsk_i2832_temp\n)\n;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "sel_date",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('sel_date').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "st",
											"value": {
												"value": "@item().st",
												"type": "Expression"
											}
										},
										{
											"name": "ed",
											"value": {
												"value": "@item().ed",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['PRSDNT_NM']"
											},
											"sink": {
												"name": "prsdnt_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PRMS_DT']"
											},
											"sink": {
												"name": "prms_dt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['LCNS_NO']"
											},
											"sink": {
												"name": "lcns_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['INSTT_NM']"
											},
											"sink": {
												"name": "instt_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BSSH_NM']"
											},
											"sink": {
												"name": "bssh_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['LOCP_ADDR']"
											},
											"sink": {
												"name": "locp_addr",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['INDUTY_NM']"
											},
											"sink": {
												"name": "induty_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['st']"
											},
											"sink": {
												"name": "st",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['ed']"
											},
											"sink": {
												"name": "ed",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['I2832']['row']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_API_FSK",
									"type": "DatasetReference",
									"parameters": {
										"url": {
											"value": "@concat('/api/f93320322b05463499de/I2832/json/',item().st,'/',item().ed)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK_P02",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSchema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_fsk_I2832_temp"
			}
		},
		"variables": {
			"date": {
				"type": "String"
			},
			"url": {
				"type": "String"
			}
		},
		"folder": {
			"name": "품질/외부/식품안전나라"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-16T07:55:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}