pipeline/PIP_API_INDUSTRY_PPS_SHOPPINGMALL_D.json
{
	"name": "PIP_API_INDUSTRY_PPS_SHOPPINGMALL_D",
	"properties": {
		"description": "조달정보개방포",
		"activities": [
			{
				"name": "Lookup API Info",
				"description": "API 정보를 가져오기 위해 LOOKUP 파일에test",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DTS_ADLS_SNK",
						"type": "DatasetReference",
						"parameters": {
							"AdlsDirectory": {
								"value": "@pipeline().parameters.AdlsDirectoryConf",
								"type": "Expression"
							},
							"FileName": {
								"value": "@concat(pipeline().parameters.ConfFile,'.csv')",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Copy data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup API Info",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup API Info').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "API REQ",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "RestSource",
									"httpRequestTimeout": "00:01:40",
									"requestInterval": "00.00:00:00.010",
									"requestMethod": "GET",
									"paginationRules": {
										"supportRFC5988": "true"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "$['prdctImgUrl']"
											},
											"sink": {
												"name": "prdctimgurl",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "$['cntrctCorpNm']"
											},
											"sink": {
												"name": "cntrctCorpNm"
											}
										}
									],
									"collectionReference": "$['response']['body']['items']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_API_PPI_JSON",
									"type": "DatasetReference",
									"parameters": {
										"service": {
											"value": "@pipeline().parameters.service",
											"type": "Expression"
										},
										"strdt": "20230101",
										"enddt": "20230331",
										"ApiKey": {
											"value": "@pipeline().parameters.Apikey",
											"type": "Expression"
										},
										"product": "국탕류"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "cd_mart",
										"SinkTable": "dm_ppi_shopping"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"AdlsDirectoryConf": {
				"type": "string",
				"defaultValue": "Industry/외부/조달청/종합쇼핑몰 납품요구정보 현황/conf"
			},
			"ConfFile": {
				"type": "string",
				"defaultValue": "종합쇼핑몰 납품요구정보_conf"
			},
			"AdlsDirectoryOri": {
				"type": "string",
				"defaultValue": "Industry/외부/농수산식품/도소매가격정보_원본"
			},
			"Apikey": {
				"type": "string",
				"defaultValue": "W26gwh49fADZe9fVLqkaAlzn5IPh6n9jf9FCHkThIs6UDblFv46xFoLaNzl011vFX8daAemoPlw4BubABfFBRg%3D%3D"
			},
			"service": {
				"type": "string",
				"defaultValue": "getShoppingMallPrdctInfoList01"
			}
		},
		"variables": {
			"regday": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Industry/외부/조달청/종합쇼핑몰 납품요구정보 현황"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-16T07:55:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}