pipeline/PIP_API_INDUSTRY_MAS_SHOPPING_DELYVERY_DETAIL_DAY_INC.json
{
	"name": "PIP_API_INDUSTRY_MAS_SHOPPING_DELYVERY_DETAIL_DAY_INC",
	"properties": {
		"description": "수요기관정보조회",
		"activities": [
			{
				"name": "ForEach Copy data",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "page",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@range(1  \n      ,add(\n             div(\n                  int(activity('page').output.firstRow.response.body.totalCount) \n                 ,int(pipeline().parameters.one_page_row)                  \n                )\n            ,if(\n                greater(\n                        mod(\n                             int(activity('page').output.firstRow.response.body.totalCount) \n                        ,int(pipeline().parameters.one_page_row)   \n                            )\n                       ,0\n                       )\n                ,1,0\n            )           \n       )\n)",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 40,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 5,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['dlvrReqNo']"
											},
											"sink": {
												"name": "dlvr_req_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dlvrReqChgOrd']"
											},
											"sink": {
												"name": "dlvr_req_chg_ord",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dlvrReqRcptDate']"
											},
											"sink": {
												"name": "dlvr_req_rcpt_date",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['prdctSno']"
											},
											"sink": {
												"name": "prdct_sno"
											}
										},
										{
											"source": {
												"path": "['prdctClsfcNo']"
											},
											"sink": {
												"name": "prdct_clsfc_no"
											}
										},
										{
											"source": {
												"path": "['prdctClsfcNoNm']"
											},
											"sink": {
												"name": "prdct_clsfc_no_nm"
											}
										},
										{
											"source": {
												"path": "['dtilPrdctClsfcNo']"
											},
											"sink": {
												"name": "dtil_prdct_clsfc_no"
											}
										},
										{
											"source": {
												"path": "['dtilPrdctClsfcNoNm']"
											},
											"sink": {
												"name": "dtil_prdct_clsfc_no_nm"
											}
										},
										{
											"source": {
												"path": "['prdctIdntNo']"
											},
											"sink": {
												"name": "prdct_idnt_no"
											}
										},
										{
											"source": {
												"path": "['prdctIdntNoNm']"
											},
											"sink": {
												"name": "prdct_idnt_no_nm"
											}
										},
										{
											"source": {
												"path": "['prdctUprc']"
											},
											"sink": {
												"name": "prdct_uprc"
											}
										},
										{
											"source": {
												"path": "['prdctUnit']"
											},
											"sink": {
												"name": "prdct_unit"
											}
										},
										{
											"source": {
												"path": "['prdctQty']"
											},
											"sink": {
												"name": "prdct_qty"
											}
										},
										{
											"source": {
												"path": "['prdctAmt']"
											},
											"sink": {
												"name": "prdct_amt"
											}
										},
										{
											"source": {
												"path": "['dlvrTmlmtDate']"
											},
											"sink": {
												"name": "dlvr_tmlmt_date"
											}
										},
										{
											"source": {
												"path": "['cntrctCnclsStleNm']"
											},
											"sink": {
												"name": "cntrct_cncls_stle_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['exclcProdctYn']"
											},
											"sink": {
												"name": "exclc_prodct_yn",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['optnDivCdNm']"
											},
											"sink": {
												"name": "optn_div_cd_nm"
											}
										},
										{
											"source": {
												"path": "['dminsttCd']"
											},
											"sink": {
												"name": "dminstt_cd",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dminsttNm']"
											},
											"sink": {
												"name": "dminstt_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dmndInsttDivNm']"
											},
											"sink": {
												"name": "dmnd_instt_div_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dminsttRgnNm']"
											},
											"sink": {
												"name": "dminstt_rgn_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['corpNm']"
											},
											"sink": {
												"name": "corp_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['fnlDlvrReqYn']"
											},
											"sink": {
												"name": "fnl_dlvr_req_yn",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['incdecQty']"
											},
											"sink": {
												"name": "incdec_qty"
											}
										},
										{
											"source": {
												"path": "['incdecAmt']"
											},
											"sink": {
												"name": "incdec_amt"
											}
										},
										{
											"source": {
												"path": "['cntrctCorpBizno']"
											},
											"sink": {
												"name": "cntrct_corp_bizno"
											}
										},
										{
											"source": {
												"path": "['dlvrReqNm']"
											},
											"sink": {
												"name": "dlvr_req_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cntrctNo']"
											},
											"sink": {
												"name": "cntrct_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cntrctChgOrd']"
											},
											"sink": {
												"name": "cntrct_chg_ord",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['masYn']"
											},
											"sink": {
												"name": "mas_yn",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['cnstwkMtrlDrctPurchsObjYn']"
											},
											"sink": {
												"name": "cnstwk_mtrl_drct_purchs_obj_yn"
											}
										},
										{
											"source": {
												"path": "['IntlCntrctDlvrReqDate']"
											},
											"sink": {
												"name": "intl_cntrct_dlvr_req_date"
											}
										},
										{
											"source": {
												"path": "['dlvrReqQty']"
											},
											"sink": {
												"name": "dlvr_req_qty",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['dlvrReqAmt']"
											},
											"sink": {
												"name": "dlvr_req_amt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['smetprCmptProdctYn']"
											},
											"sink": {
												"name": "smetpr_cmpt_prodct_yn"
											}
										},
										{
											"source": {
												"path": "['corpEntrprsDivNmNm']"
											},
											"sink": {
												"name": "corp_entrprs_div_nm"
											}
										},
										{
											"source": {
												"path": "['brnofceNm']"
											},
											"sink": {
												"name": "brnofce_nm"
											}
										}
									],
									"collectionReference": "$['response']['body']['items']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_PPS_API_JSON",
									"type": "DatasetReference",
									"parameters": {
										"params": {
											"value": "@concat('/1230000/ShoppingMallPrdctInfoService06/',pipeline().parameters.service,'?type=json&inqryDiv=1&pageNo=',item(),'&numOfRows=',pipeline().parameters.one_page_row,'&inqryBgnDate=',variables('strdt'),'&inqryEndDate=',variables('enddt'),'&ServiceKey=',pipeline().parameters.Apikey)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSchema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "set strdt",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "set enddt",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "delete from  @{pipeline().parameters.SinkSchema}.@{pipeline().parameters.SinkTable};       \n\n\nselect 1 as success",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					}
				}
			},
			{
				"name": "page",
				"description": "대표 제품의 생성 기간동안 토탈 건수 ",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DTS_PPS_API_JSON",
						"type": "DatasetReference",
						"parameters": {
							"params": {
								"value": "@concat('/1230000/ShoppingMallPrdctInfoService06/',pipeline().parameters.service,'?type=json&inqryDiv=1&pageNo=1&numOfRows=1&inqryBgnDate=',variables('strdt'),'&inqryEndDate=',variables('enddt'),'&ServiceKey=',pipeline().parameters.Apikey)",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "delete",
				"description": "미사용데이터 삭제\n",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach Copy data",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 5,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "select 1 as success",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					}
				}
			},
			{
				"name": "set strdt",
				"description": "당일자",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "strdt",
					"value": {
						"value": "@formatDateTime(addDays(addHours(utcNow(), 9),-1),'yyyyMMdd')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "set enddt",
				"description": "당일자",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "enddt",
					"value": {
						"value": "@formatDateTime(addDays(addHours(utcNow(), 9),-1),'yyyyMMdd')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"Apikey": {
				"type": "string",
				"defaultValue": "W26gwh49fADZe9fVLqkaAlzn5IPh6n9jf9FCHkThIs6UDblFv46xFoLaNzl011vFX8daAemoPlw4BubABfFBRg%3D%3D"
			},
			"service": {
				"type": "string",
				"defaultValue": "getDlvrReqDtlInfoList01"
			},
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_mas_shopping_delivery_detail_day"
			},
			"one_page_row": {
				"type": "string",
				"defaultValue": "999"
			},
			"pipstrdt": {
				"type": "string"
			},
			"pipenddt": {
				"type": "string"
			}
		},
		"variables": {
			"strdt": {
				"type": "String"
			},
			"enddt": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Industry/외부/조달청/종합쇼핑몰 납품요구정보 현황"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-16T07:55:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}