pipeline/PIP_API_INDUSTRY_FSK_2620_FULL.json
{
	"name": "PIP_API_INDUSTRY_FSK_2620_FULL",
	"properties": {
		"description": "수요기관정보조회",
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 3,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['FRMLCUNIT']"
											},
											"sink": {
												"name": "frmlcunit",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PRDLST_REPORT_NO']"
											},
											"sink": {
												"name": "prdlst_report_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['CRET_DTM']"
											},
											"sink": {
												"name": "cret_dtm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['LCNS_NO']"
											},
											"sink": {
												"name": "lcns_no",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['DISTBTMLMT']"
											},
											"sink": {
												"name": "distbtmlmt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['REGSTR_TELNO']"
											},
											"sink": {
												"name": "regstr_telno",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['STDR_STND']"
											},
											"sink": {
												"name": "stdr_stnd",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['ADDR']"
											},
											"sink": {
												"name": "addr",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BRCDNO']"
											},
											"sink": {
												"name": "brcdno",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['MNFDT']"
											},
											"sink": {
												"name": "mnfdt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['TEST_ITMNM']"
											},
											"sink": {
												"name": "test_itmnm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['INSTT_NM']"
											},
											"sink": {
												"name": "instt_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PRDTNM']"
											},
											"sink": {
												"name": "prdtnm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['PRDLST_CD_NM']"
											},
											"sink": {
												"name": "prdlst_cd_nm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['TESTANALS_RSLT']"
											},
											"sink": {
												"name": "testanals_rslt",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['BSSHNM']"
											},
											"sink": {
												"name": "bsshnm",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['REPORTR_TELNO']"
											},
											"sink": {
												"name": "reportr_telno",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['RTRVLDSUSE_SEQ']"
											},
											"sink": {
												"name": "rtrvldsuse_seq",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['I2620']['row']",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_API_FSK",
									"type": "DatasetReference",
									"parameters": {
										"url": {
											"value": "@concat('/api/f93320322b05463499de/I2620/json/',item().st,'/',item().ed)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK_P02",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSchema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "get page",
				"description": "전날 변경 된 건",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "HttpReadSettings",
							"requestMethod": "GET"
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DTS_API_FSK",
						"type": "DatasetReference",
						"parameters": {
							"url": {
								"value": "@concat('/api/f93320322b05463499de/I2620/json/1/10')",
								"type": "Expression"
							}
						}
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "max_g",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "WITH vw_range AS (\n    SELECT \n        (g * 1000 + 1) AS st,\n        ((g + 1) * 1000) AS ed\n    FROM generate_series(0, @{variables('total_count')}) AS g\n)\nSELECT r.st, r.ed\nFROM vw_range r\n;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "max_g",
				"description": "당일자",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "get page",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "total_count",
					"value": {
						"value": "@div(int(activity('get page').output.firstRow.I2620.total_count), 1000)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": {
							"value": "delete from cd_ods.tb_fsk_i2620\nwhere rtrvldsuse_seq  in \n(\nselect rtrvldsuse_seq from cd_ods.tb_fsk_i2620_temp\n);\n\ninsert into cd_ods.tb_fsk_i2620\nselect * from cd_ods.tb_fsk_i2620_temp;\n\ntruncate table cd_ods.tb_fsk_i2620_temp;\n\nselect 1 as success;",
							"type": "Expression"
						},
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_fsk_I2620_temp"
			}
		},
		"variables": {
			"date": {
				"type": "String"
			},
			"url": {
				"type": "String"
			},
			"total_count": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "Industry/외부/식품안전나라"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-16T07:55:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}