pipeline/PIP_API_INDUSTRY_GARAK_PRICEBYITEMGRADE_WHOLESALEMARKET.json
{
	"name": "PIP_API_INDUSTRY_GARAK_PRICEBYITEMGRADE_WHOLESALEMARKET",
	"properties": {
		"description": "(신)유통정보 - 품목별등급별가격(도매시장법인거래)",
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": " WITH v_seq AS \n (\n \tselect   generate_series( '17', '27', 1  ) AS num \n )\n select distinct to_char(to_date('20230901','YYYYMMDD') + interval '1 day' * v_seq.num,'YYYYMMDD') as date  ,\n to_char(to_date('20230901','YYYYMMDD')-1 + interval '1 day' * v_seq.num,'YYYYMMDD') as date_p,\n to_char(to_date('20230901','YYYYMMDD')-7 + interval '1 day' * v_seq.num,'YYYYMMDD') as date_p7,'1' as p_pos_gubun\nFROM v_seq\nunion\nselect distinct to_char(to_date('20230901','YYYYMMDD') + interval '1 day' * v_seq.num,'YYYYMMDD') as date  ,\n to_char(to_date('20230901','YYYYMMDD')-1 + interval '1 day' * v_seq.num,'YYYYMMDD') as date_p,\n to_char(to_date('20230901','YYYYMMDD')-7 + interval '1 day' * v_seq.num,'YYYYMMDD') as date_p7,'3' as p_pos_gubun\nFROM v_seq\norder by date;\t",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK_P02",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": {
								"value": "@pipeline().parameters.SinkSchema",
								"type": "Expression"
							},
							"SinkTable": {
								"value": "@pipeline().parameters.SinkTable",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "date",
											"value": {
												"value": "@item().date",
												"type": "Expression"
											}
										},
										{
											"name": "date_p",
											"value": {
												"value": "@item().date_p",
												"type": "Expression"
											}
										},
										{
											"name": "date_p7",
											"value": {
												"value": "@item().date_p7",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSQLSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mapComplexValuesToString": false
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_API_GARAK",
									"type": "DatasetReference",
									"parameters": {
										"url": {
											"value": "@concat('/publicdata/dataJsonOpen.do?id=3606&passwd=days2023!&dataid=data38&pagesize=10&pageidx=1&portal.templet=false&market=',item().market,'&s_date=',item().date,'s_date_p=',item().date_p,'&s_date_p7=',item().date_p7)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK_P02",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": {
											"value": "@pipeline().parameters.SinkSchema",
											"type": "Expression"
										},
										"SinkTable": {
											"value": "@pipeline().parameters.SinkTable",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			},
			{
				"name": "Lookup1_copy1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "ForEach1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "update cd_ods.tb_garak_pricebyitemgrade \nset \npum_nm=trim(pum_nm)\n,g_name=trim(g_name)\n,u_name=trim(u_name)\n,mi_p = trim(mi_p)\n,ma_p=trim(ma_p)\n,av_p=trim(av_p)\n,fluc = trim(fluc)\n,d_mark_p=trim(d_mark_p)\n,d_mark_r=trim(d_mark_r)\n,j_same_p=trim(j_same_p)\n,j_same_r=trim(j_same_r)\n,j_same_mark_p=trim(j_same_mark_p)\n,j_same_mark_r=trim(j_same_mark_r)\n,date = trim(date)\n,date_p = trim(date_p)\n,date_p7 = trim(date_p7);",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK_P02",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": {
								"value": "@pipeline().parameters.SinkSchema",
								"type": "Expression"
							},
							"SinkTable": {
								"value": "@pipeline().parameters.SinkTable",
								"type": "Expression"
							}
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"SinkSchema": {
				"type": "string",
				"defaultValue": "cd_ods"
			},
			"SinkTable": {
				"type": "string",
				"defaultValue": "tb_garak_pricebyitemgrade_intermediary"
			}
		},
		"variables": {
			"date": {
				"type": "String"
			},
			"url": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Industry/외부/서울특별시_농수산식품공사"
		},
		"annotations": [],
		"lastPublishTime": "2023-01-16T07:55:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}