pipeline/PIP_NIELSEN_TO_PG_M.json
{
	"name": "PIP_NIELSEN_TO_PG_M",
	"properties": {
		"description": "- 닐슨 SFTP ",
		"activities": [
			{
				"name": "Lookup1",
				"description": "닐슨데이터의 주차 csv 읽기 \nPER_yyyymm.csv",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Set yyyymm",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DTS_ADLS_SNK",
						"type": "DatasetReference",
						"parameters": {
							"AdlsDirectory": {
								"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
								"type": "Expression"
							},
							"FileName": "PER_202308.csv"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Set yyyymm",
				"description": "수행일 기준 전월 구하기\n포멧 : yyyymm",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "yyyymm",
					"value": {
						"value": "@formatDateTime(addDays(startOfMonth(addHours(utcNow(), 9)),-1),'yyyyMM')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set minWeek",
				"description": "닐슨에서전송해온 데이터의 시작주차",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "minWeek",
					"value": {
						"value": "@activity('Lookup1').output.value[0].TAG",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set MaxWeek",
				"description": "닐슨에서 가져온 데이터의 마지막주",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "maxWeek",
					"value": {
						"value": "@activity('Lookup1').output.value[add(activity('Lookup1').output.count,-1)].TAG",
						"type": "Expression"
					}
				}
			},
			{
				"name": "pg_tb_neilsen_data",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set minWeek",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzurePostgreSQLSink",
						"writeBatchSize": 1000000,
						"writeBatchTimeout": "00:30:00",
						"preCopyScript": {
							"value": "DELETE FROM cd_ods.tb_nielsen_data\nWHERE PER_TAG BETWEEN '@{variables('minWeek')}' AND '@{variables('maxWeek')}' ",
							"type": "Expression"
						},
						"writeMethod": "CopyCommand"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "MKT_TAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mkt_tag",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "PROD_TAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "prod_tag",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "PER_TAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "per_tag",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "F000000000000000000100000000000000000000",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_unit",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "F000000000000000000100000000000000000001",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_unit_tot_prom",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "F000000000000000000100000000000000006318",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_unit_feature",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "F000000000000000000100000000000000006319",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_unit_tpr",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "F000000000000000000100000000000000006320",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_unit_freevolume",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "F000000000000000000100000000000000006321",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_unit_ftr_tpr",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "F000000000000000000100000000000000006322",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_unit_ftr_fvol",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "F000000000000000000100000000000000006323",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_unit_tpr_fvol",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "F000000000000000000100000000000000006324",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_unit_ftr_tpr_fvol",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "F000000000000000000200000000000000000000",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "sales_volumns",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DTS_ADLS_SNK",
						"type": "DatasetReference",
						"parameters": {
							"AdlsDirectory": {
								"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
								"type": "Expression"
							},
							"FileName": {
								"value": "@concat('DATA_',variables('yyyymm'),'.csv')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "cd_ods",
							"SinkTable": "tb_nielsen_data"
						}
					}
				]
			},
			{
				"name": "pg_tb_nielsen_fct",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Set minWeek",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set MaxWeek",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "AzurePostgreSQLSink",
						"writeBatchSize": 1000000,
						"writeBatchTimeout": "00:30:00",
						"preCopyScript": {
							"value": "DELETE FROM cd_ods.tb_nielsen_fct\n",
							"type": "Expression"
						},
						"writeMethod": "CopyCommand"
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "TAG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "tag",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "SHORT",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "short",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "LONG",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "long",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "DISPLAY_ORDER",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "display_order",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "CURRENCY",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "currency",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "PRECISION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "precision",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "DENOMINATOR",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "denominator",
									"type": "Decimal",
									"physicalType": "numeric"
								}
							},
							{
								"source": {
									"name": "MKT_AGGREGATION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "mkt_aggregation",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "PROD_AGGREGATION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "prod_aggregation",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "PER_AGGREGATION",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "per_aggregation",
									"type": "String",
									"physicalType": "character varying"
								}
							},
							{
								"source": {
									"name": "FACT_TYPE",
									"type": "String",
									"physicalType": "String"
								},
								"sink": {
									"name": "fact_type",
									"type": "String",
									"physicalType": "character varying"
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DTS_ADLS_SNK",
						"type": "DatasetReference",
						"parameters": {
							"AdlsDirectory": {
								"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
								"type": "Expression"
							},
							"FileName": {
								"value": "@concat('FCT_',variables('yyyymm'),'.csv')",
								"type": "Expression"
							}
						}
					}
				],
				"outputs": [
					{
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "cd_ods",
							"SinkTable": "tb_nielsen_fct"
						}
					}
				]
			}
		],
		"parameters": {
			"AdlsDirectory": {
				"type": "string",
				"defaultValue": "매출(주문)/외부/유통사MS정보/닐슨"
			}
		},
		"variables": {
			"yyyymm": {
				"type": "String"
			},
			"minWeek": {
				"type": "String"
			},
			"maxWeek": {
				"type": "String"
			}
		},
		"folder": {
			"name": "매출_주문/외부/닐슨"
		},
		"annotations": [],
		"lastPublishTime": "2022-12-15T09:05:35Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}