pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@lessOrEquals(variables('copyCount'),99 )\n",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1_copy1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "POST",
										"additionalHeaders": {
											"value": "Content-Type: application/json; version=3",
											"type": "Expression"
										},
										"requestBody": {
											"value": "{\"api_key\": \"d7937c81efbbec118ee8dbc18923d61a\", \"schedule_result_id\": \"137846706\"}",
											"type": "Expression"
										},
										"requestTimeout": ""
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzurePostgreSqlSink",
									"writeBatchSize": 1000000,
									"writeBatchTimeout": "00:30:00",
									"preCopyScript": "delete from cd_ods.tb_hash_youtube_comment_t",
									"writeMethod": "CopyCommand"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"mappings": [
										{
											"source": {
												"path": "['created_at']"
											},
											"sink": {
												"name": "created_at",
												"type": "DateTime"
											}
										},
										{
											"source": {
												"path": "['검색 url']"
											},
											"sink": {
												"name": "search_url",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['영상 제목']"
											},
											"sink": {
												"name": "video_title",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['채널 이름']"
											},
											"sink": {
												"name": "channel_name",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['작성 시간 (노출된 값)']"
											},
											"sink": {
												"name": "comment_created_at",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['작성 시간(수집일 기준 변환)']"
											},
											"sink": {
												"name": "comment_created_at_converted",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['댓글 작성자']"
											},
											"sink": {
												"name": "comment_author",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['댓글 내용']"
											},
											"sink": {
												"name": "comment_content",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['댓글 좋아요수']"
											},
											"sink": {
												"name": "comment_like_count",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['부모 댓글 uid']"
											},
											"sink": {
												"name": "parent_comment_uid",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['대댓글 순서']"
											},
											"sink": {
												"name": "reply_order",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['구독자수']"
											},
											"sink": {
												"name": "subscriber_count",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['조회수']"
											},
											"sink": {
												"name": "view_count",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['해시태그']"
											},
											"sink": {
												"name": "hashtags",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['본문']"
											},
											"sink": {
												"name": "description",
												"type": "String"
											}
										},
										{
											"source": {
												"path": "['video_id']"
											},
											"sink": {
												"name": "video_id",
												"type": "String"
											}
										}
									],
									"collectionReference": "$['data']"
								}
							},
							"inputs": [
								{
									"referenceName": "DTS_API_HASHSCRAPER",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "cd_ods",
										"SinkTable": "tb_hash_youtube_comment_t"
									}
								}
							]
						},
						{
							"name": "Set variable1",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Copy data1_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "copyCount",
								"value": {
									"value": "@activity('Copy data1_copy1').output.rowsCopied",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			}
		],
		"variables": {
			"copyCount": {
				"type": "Integer"
			}
		},
		"folder": {
			"name": "고객/내부/고도몰"
		},
		"annotations": []
	}
}