pipeline/pipeline4.json
{
	"name": "pipeline4",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzurePostgreSqlSource",
						"query": "select bidid from cd_ods.tb_sf_eat_bid_master \nwhere postdate between '2026-02-01' and '2026-02-28'\nlimit 100",
						"partitionOption": "None",
						"queryTimeout": "02:00:00"
					},
					"dataset": {
						"referenceName": "DTS_POSTGRESQL_SNK",
						"type": "DatasetReference",
						"parameters": {
							"SinkSchema": "1",
							"SinkTable": "1"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach Copy data",
				"description": "",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 5,
					"activities": [
						{
							"name": "Lookup2",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzurePostgreSqlSource",
									"query": "insert into cd_ods.tb_sf_eat_order_detail_extracted\r\nselect * from cd_ods.tb_sf_eat_order_detail q \r\nwhere bidid = @{item().bidid}\r\nAND NOT EXISTS (  \r\n      SELECT 1  \r\n      FROM cd_ods.tb_sf_eat_order_detail_keyword_except ke  \r\n      WHERE (\r\n      \t (q.name || ' ' || q.spec) ILIKE '%' || ke.keyword || '%'\r\n         )  \r\n         )\r\n;\r\n\r\nselect 1 as success",
									"partitionOption": "None",
									"queryTimeout": "02:00:00"
								},
								"dataset": {
									"referenceName": "DTS_POSTGRESQL_SNK",
									"type": "DatasetReference",
									"parameters": {
										"SinkSchema": "1",
										"SinkTable": "1"
									}
								},
								"firstRowOnly": false
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "Test"
		},
		"annotations": []
	}
}