CDI-Hub-ADF-p01/linkedTemplates/ArmTemplate_43.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory 이름",
			"defaultValue": "CDI-Hub-ADF-p01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_AT_PRICE_SALE_INC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "수요기관정보조회",
				"activities": [
					{
						"name": "whsal list",
						"description": "도매시장 리스트",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set saledate",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DTS_API_AT",
								"type": "DatasetReference",
								"parameters": {
									"params": {
										"value": "@concat('/openApi/code/whsal.do?serviceKey=',pipeline().parameters.ApiKey,'&apiType=json')",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Set saledate",
						"description": "saledate 설정 \n  전일자",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "saledate",
							"value": {
								"value": "@if(equals(pipeline().parameters.pip_saledate,null),formatDateTime(addDays(addHours(utcNow(), 9),-1),'yyyyMMdd'),pipeline().parameters.pip_saledate)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "whsal list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('whsal list').output.value[0].data",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 10,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_AT_PRICE_SALE_SUB",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SaleDate": {
												"value": "@variables('saledate')",
												"type": "Expression"
											},
											"WhsalCd": {
												"value": "@item().codeid",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pip_saledate": {
						"type": "string"
					},
					"ApiKey": {
						"type": "string",
						"defaultValue": "EDCC40BADEB8467BB2CD68B11A369A83"
					}
				},
				"variables": {
					"saledate": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/도매시장"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_AT_PRICE_SALE_M')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "수요기관정보조회",
				"activities": [
					{
						"name": "whsal list",
						"description": "도매시장 리스트",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select t.codeid, a.date\n   from cd_ods.tb_at_whsal_master_t as t\n       ,(\n        select to_char(now() - generate_series(0,3749) *interval '1 days','yyyy-mm-dd') as  date\n       ) a\nwhere  a.date >= to_char(now() - INTERVAL '1 day', 'YYYY-MM-DD')   \norder by a.date",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "whsal list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('whsal list').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 20,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_AT_PRICE_SALE_SUB_NEW",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SaleDate": {
												"value": "@item().date",
												"type": "Expression"
											},
											"WhsalCd": {
												"value": "@item().codeid",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pip_saledate": {
						"type": "string"
					},
					"ApiKey": {
						"type": "string",
						"defaultValue": "rj5HeIJYh3E2HRvmEw3P3%2BeVDZoZj074w7IIt%2BpcAaujPSI9CTx0U88XSd6C9eWwkBMUncCaG4w%2FtYRT898jcw%3D%3D"
					},
					"sdate": {
						"type": "string"
					},
					"edate": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Industry/외부/도매시장"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_AT_PRICE_SALE_M2')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "수요기관정보조회",
				"activities": [
					{
						"name": "whsal list",
						"description": "도매시장 리스트",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select t.codeid, a.date\n   from cd_ods.tb_at_whsal_master_t as t\n       ,(\n        select to_char(now() - generate_series(1,3750) *interval '1 days','yyyymmdd') as  date\n       ) a\nwhere  a.date between '20181001' AND '20181231'   \norder by a.date;",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "whsal list",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('whsal list').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 20,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_AT_PRICE_SALE_SUB",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"SaleDate": {
												"value": "@item().date",
												"type": "Expression"
											},
											"WhsalCd": {
												"value": "@item().codeid",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"pip_saledate": {
						"type": "string"
					},
					"ApiKey": {
						"type": "string",
						"defaultValue": "EDCC40BADEB8467BB2CD68B11A369A83"
					},
					"sdate": {
						"type": "string"
					},
					"edate": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Industry/외부/도매시장"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_D2B_BID_ITEM_DETAIL_M')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "국내 품목명세서_멀",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "SELECT\ndemandyear , dcsno , orntcode \nFROM \n(\nSELECT COALESCE (b.dcsno, 'xxxxx') AS b_dcsno \n     , a.dcsno AS dcsno\n     , a.orntcode  AS orntcode\n     , a.demandyear  AS demandyear\nFROM cd_ods.tb_d2b_cmpt_bid_notice_list a\n  LEFT OUTER join   cd_ods.tb_d2b_bid_item_detail b\non a.dcsno  = b.dcsno\n  AND a.demandyear = b.demandyear\n  AND a.orntcode = b.orntcode\n) a\nWHERE a.b_dcsno = 'xxxxx'\n;",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 50,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_D2B_BID_ITEM_DETAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipdemandyear": {
												"value": "@item().demandYear",
												"type": "Expression"
											},
											"pipdcsno": {
												"value": "@item().dcsNo",
												"type": "Expression"
											},
											"piporntcode": {
												"value": "@item().orntCode",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"list_total_count": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/방위사업청"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_D2B_CMPT_BID_NOTICE_DETAIL_M')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "국내 경쟁입찰결과 상세",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "SELECT demandyear , dcsno , orntcode ,  pblancNo, pblancOdr\nFROM \n(\nSELECT COALESCE (b.dcsno, 'xxxxx') AS b_dcsno \n     , a.dcsno AS dcsno\n     , a.orntcode  AS orntcode\n     , a.pblancno AS pblancno\n     , a.pblancOdr AS pblancOdr\n     , a.demandyear  AS demandyear\nFROM cd_ods.tb_d2b_cmpt_bid_notice_list a\n  LEFT OUTER join   cd_ods.tb_d2b_cmpt_bid_notice_detail b\non a.dcsno  = b.dcsno\n  AND a.pblancno = b.pblancno\n  AND a.pblancOdr = b.pblancOdr\n  AND a.pblancdate  = b.pblancdate \n) a\nWHERE a.b_dcsno = 'xxxxx'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 50,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_D2B_CMPT_BID_NOTICE_DETAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipdemandyear": {
												"value": "@item().demandYear",
												"type": "Expression"
											},
											"pipdcsno": {
												"value": "@item().dcsNo",
												"type": "Expression"
											},
											"piporntcode": {
												"value": "@item().orntCode",
												"type": "Expression"
											},
											"pippblancno": {
												"value": "@item().pblancNo",
												"type": "Expression"
											},
											"pippblancodr": {
												"value": "@item().pblancOdr",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Industry/외부/방위사업청"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_D2B_CMPT_BID_NOTICE_INC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "국내 경쟁입찰공고 목록\n",
				"activities": [
					{
						"name": "set anmtDateBegin",
						"description": "당일자",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "anmtDateBegin",
							"value": {
								"value": "@formatDateTime(adddays(addHours(utcNow(), 9), -1), 'yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "set anmtDateEnd",
						"description": "당일자",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "anmtDateEnd",
							"value": {
								"value": "@formatDateTime(addHours(utcNow(), 9), 'yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "delet table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greaterOrEquals(activity('get totalcount').output.firstRow.response.body.totalCount, 2)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Copy data2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['response']['body']['items']['item']['bidNm']"
													},
													"sink": {
														"name": "bidnm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['bidPartcptRegistClosDt']"
													},
													"sink": {
														"name": "bidpartcptregistclosdt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['bidStle']"
													},
													"sink": {
														"name": "bidstle",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['biddocPresentnClosDt']"
													},
													"sink": {
														"name": "biddocpresentnclosdt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['bsisPrdprcApplcAt']"
													},
													"sink": {
														"name": "bsisprdprcapplcat",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['bsisPrdprcOthbcAt']"
													},
													"sink": {
														"name": "bsisprdprcothbcat",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['busiDivs']"
													},
													"sink": {
														"name": "busidivs",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['cntrctMth']"
													},
													"sink": {
														"name": "cntrctmth",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['dcsNo']"
													},
													"sink": {
														"name": "dcsno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['demandYear']"
													},
													"sink": {
														"name": "demandyear",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['excutTy']"
													},
													"sink": {
														"name": "excutty",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['excutTyCode']"
													},
													"sink": {
														"name": "excuttycode",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['g2bPblancNo']"
													},
													"sink": {
														"name": "g2bpblancno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['g2bPblancOdr']"
													},
													"sink": {
														"name": "g2bpblancodr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['opengDt']"
													},
													"sink": {
														"name": "opengdt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['ornt']"
													},
													"sink": {
														"name": "ornt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['orntCode']"
													},
													"sink": {
														"name": "orntcode",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['pblancDate']"
													},
													"sink": {
														"name": "pblancdate",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['pblancNo']"
													},
													"sink": {
														"name": "pblancno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['pblancOdr']"
													},
													"sink": {
														"name": "pblancodr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['pblancSe']"
													},
													"sink": {
														"name": "pblancse",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['pblancSeCode']"
													},
													"sink": {
														"name": "pblancsecode",
														"type": "String"
													}
												}
											],
											"collectionReference": ""
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_D2B",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat(pipeline().parameters.service,'?anmtDateBegin=',variables('anmtDateBegin'),'&anmtDateEnd=',variables('anmtDateEnd'),'&numOfRows=1&_type=json')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK_P02",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy data3",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['bidNm']"
													},
													"sink": {
														"name": "bidnm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['bidPartcptRegistClosDt']"
													},
													"sink": {
														"name": "bidpartcptregistclosdt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['bidStle']"
													},
													"sink": {
														"name": "bidstle",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['biddocPresentnClosDt']"
													},
													"sink": {
														"name": "biddocpresentnclosdt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['bsisPrdprcApplcAt']"
													},
													"sink": {
														"name": "bsisprdprcapplcat",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['bsisPrdprcOthbcAt']"
													},
													"sink": {
														"name": "bsisprdprcothbcat",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['busiDivs']"
													},
													"sink": {
														"name": "busidivs",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['cntrctMth']"
													},
													"sink": {
														"name": "cntrctmth",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['dcsNo']"
													},
													"sink": {
														"name": "dcsno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['demandYear']"
													},
													"sink": {
														"name": "demandyear",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['excutTy']"
													},
													"sink": {
														"name": "excutty",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['excutTyCode']"
													},
													"sink": {
														"name": "excuttycode",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['g2bPblancNo']"
													},
													"sink": {
														"name": "g2bpblancno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['g2bPblancOdr']"
													},
													"sink": {
														"name": "g2bpblancodr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['opengDt']"
													},
													"sink": {
														"name": "opengdt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['ornt']"
													},
													"sink": {
														"name": "ornt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['orntCode']"
													},
													"sink": {
														"name": "orntcode",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['pblancDate']"
													},
													"sink": {
														"name": "pblancdate",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['pblancNo']"
													},
													"sink": {
														"name": "pblancno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['pblancOdr']"
													},
													"sink": {
														"name": "pblancodr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['pblancSe']"
													},
													"sink": {
														"name": "pblancse",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['pblancSeCode']"
													},
													"sink": {
														"name": "pblancsecode",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['response']['body']['items']['item']"
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_D2B",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat(pipeline().parameters.service,'?anmtDateBegin=',variables('anmtDateBegin'),'&anmtDateEnd=',variables('anmtDateEnd'),'&numOfRows=',activity('get totalcount').output.firstRow.response.body.totalCount,'&_type=json')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "get totalcount",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "set anmtDateBegin",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "set anmtDateEnd",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DTS_API_D2B",
								"type": "DatasetReference",
								"parameters": {
									"url": {
										"value": "@concat(pipeline().parameters.service,'?_type=json&anmtDateBegin=',variables('anmtDateBegin'),'&anmtDateEnd=',variables('anmtDateEnd'),'&numOfRows=1')",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "delet table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "get totalcount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "delete from  cd_ods.tb_d2b_cmpt_bid_notice_list\n WHERE pblancdate BETWEEN '@{variables('anmtDateBegin')}' AND '@{variables('anmtDateEnd')}';\n \nselect 1 as success",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup1_copy2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "SELECT \ndistinct demandyear , dcsno , orntcode ,  pblancNo, pblancOdr,pblancdate \nFROM cd_ods.tb_d2b_cmpt_bid_notice_list\nWHERE to_char(if_date, 'YYYYMMDD') = to_char(now(), 'YYYYMMDD');",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 20,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_D2B_CMPT_BID_NOTICE_DETAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pippblancdate": {
												"value": "@item().pblancdate",
												"type": "Expression"
											},
											"pipdcsno": {
												"value": "@item().dcsNo",
												"type": "Expression"
											},
											"piporntcode": {
												"value": "@item().orntCode",
												"type": "Expression"
											},
											"pippblancno": {
												"value": "@item().pblancNo",
												"type": "Expression"
											},
											"pippblancodr": {
												"value": "@item().pblancOdr",
												"type": "Expression"
											},
											"pipdemandyear": {
												"value": "@item().demandyear",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup1_copy1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup1_copy2_copy2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "SELECT DISTINCT demandyear , dcsno , orntcode\nFROM cd_ods.tb_d2b_cmpt_bid_notice_list\nWHERE to_char(if_date, 'YYYYMMDD') = to_char(now(), 'YYYYMMDD');",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1_copy1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 20,
							"activities": [
								{
									"name": "Execute Pipeline1_copy1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_D2B_BID_ITEM_DETAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipdemandyear": {
												"value": "@item().demandYear",
												"type": "Expression"
											},
											"pipdcsno": {
												"value": "@item().dcsNo",
												"type": "Expression"
											},
											"piporntcode": {
												"value": "@item().orntCode",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup1_copy2",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "If Condition1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "truncate table cd_ods.tb_d2b_cmpt_bid_notice_detail_raw;\n\nselect 1 as success",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup1_copy2_copy1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "INSERT INTO cd_ods.tb_d2b_cmpt_bid_notice_detail (\n    pblancse,\n    pblancno,\n    pblancodr,\n    pblancdate,\n    pblictinstt,\n    bidnm,\n    excutty,\n    dcsno,\n    ornt,\n    bidstle,\n    cntrctmth,\n    bidmth,\n    cntrctknd,\n    sucbidrdecsnmth,\n    budgetamount,\n    bidpartcptregistclosdt,\n    biddocpresentnclosdt,\n    opengdt,\n    bidplace,\n    bsnsdcmeetngdt,\n    bsnsdcmeetngplace,\n    registjdgmnpnttm,\n    bsisprdprcapplcat,\n    g2bpblancno,\n    g2bpblancodr,\n    copertnoutsrcflflmthd,\n    compnoentrpsrsrchtrgetat,\n    orgnlbudgtdedt,\n    ntndbtdedt,\n    chargernm,\n    chargercttpc\n)\nSELECT\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'pblancSe'                         as pblancse,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'pblancNo'                         as pblancno,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'pblancOdr'                        as pblancodr,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'pblancDate'                       as pblancdate,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'pblictInstt'                      as pblictinstt,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'bidNm'                            as bidnm,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'excutTy'                          as excutty,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'dcsNo'                            as dcsno,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'ornt'                             as ornt,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'bidStle'                          as bidstle,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'cntrctMth'                        as cntrctmth,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'bidMth'                           as bidmth,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'cntrctKnd'                        as cntrctknd,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'sucbidrDecsnMth'                  as sucbidrdecsnmth,\n    (t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'budgetAmount')::numeric         as budgetamount,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'bidPartcptRegistClosDt'           as bidpartcptregistclosdt,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'biddocPresentnClosDt'             as biddocpresentnclosdt,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'opengDt'                          as opengdt,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'bidPlace'                         as bidplace,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'bsnsDcMeetngDt'                   as bsnsdcmeetngdt,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'bsnsDcMeetngPlace'                as bsnsdcmeetngplace,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'registJdgmnPnttm'                 as registjdgmnpnttm,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'bsisPrdprcApplcAt'                as bsisprdprcapplcat,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'g2bPblancNo'                      as g2bpblancno,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'g2bPblancOdr'                     as g2bpblancodr,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'copertnOutsrcFlflMthd'            as copertnoutsrcflflmthd,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'compnoEntrpsRsrchTrgetAt'         as compnoentrpsrsrchtrgetat,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'orgnlbudgtDedt'                   as orgnlbudgtdedt,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'ntndbtDedt'                       as ntndbtdedt,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'chargerNm'                        as chargernm,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'chargerCttpc'                     as chargercttpc\nFROM cd_ods.tb_d2b_cmpt_bid_notice_detail_raw t;\n\nselect 1 as success",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup1_copy2_copy2",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup1_copy2_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "truncate table cd_ods.tb_d2b_bid_item_detail_raw_1;\n\ntruncate table cd_ods.tb_d2b_bid_item_detail_raw_2;\n\nselect 1 as success",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup1_copy2_copy1_copy1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach1_copy1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "INSERT INTO cd_ods.tb_d2b_bid_item_detail (\n   fsc\n,niin\n,unit\n,apeqCode\n,apeqName\n,aprvDate\n,bugtDivs\n,codeVld1\n,codeVld2\n,codeVld3\n,codeVld4\n,dlvrDate\n,dlvrPrrk\n,dlvrQnty\n,dlvrRegn\n,dmstItnb\n,itemName\n,miltDivs\n,ordrUtpr\n,partNumb\n,prcmRnum\n,refcNumb\n,specClas\n,specNumb\n,stnbTycd\n,totlAmnt\n)\nSELECT\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' -> 'item' ->> 'fsc'                         as fsc,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'niin'                         as niin,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'unit'                        as unit,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'apeqCode'                       as apeqCode,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'apeqName'                      as apeqName,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'aprvDate'                            as aprvDate,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'bugtDivs'                          as bugtDivs,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'codeVld1'                            as codeVld1,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'codeVld2'                             as codeVld2,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'codeVld3'                          as codeVld3,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'codeVld4'                        as codeVld4,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'dlvrDate'                           as dlvrDate,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'dlvrPrrk'                        as dlvrPrrk,\n    (t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'dlvrQnty')::numeric         as dlvrQnty,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'dlvrRegn'           as dlvrRegn,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'dmstItnb'             as dmstItnb,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'itemName'                          as itemName,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'miltDivs'                         as miltDivs,\n    (t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'ordrUtpr')::numeric                    as ordrUtpr,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'partNumb'                as partNumb,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'prcmRnum'                 as prcmRnum,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'refcNumb'                as refcNumb,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'specClas'                      as specClas,\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'specNumb'                     as specNumb,\n    t.jsondata::jsonb -> 'response' -> 'body' ->  'items' -> 'item' ->> 'stnbTycd'            as stnbTycd,\n    (t.jsondata::jsonb -> 'response' -> 'body' -> 'items' ->  'item' ->> 'totlAmnt')::numeric          as totlAmnt\nFROM cd_ods.tb_d2b_bid_item_detail_raw_1 t;\n\nselect 1 as success",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup1_copy2_copy1_copy2",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup1_copy2_copy1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "insert into cd_ods.tb_d2b_bid_item_detail\n(\nfsc\n,niin\n,unit\n,apeqCode\n,apeqName\n,aprvDate\n,bugtDivs\n,codeVld1\n,codeVld2\n,codeVld3\n,codeVld4\n,dlvrDate\n,dlvrPrrk\n,dlvrQnty\n,dlvrRegn\n,dmstItnb\n,itemName\n,miltDivs\n,ordrUtpr\n,partNumb\n,prcmRnum\n,refcNumb\n,specClas\n,specNumb\n,stnbTycd\n,totlAmnt\n)\nSELECT \n    item ->> 'fsc'       AS fsc,\n    item ->> 'niin'      AS niin,\n    item ->> 'unit'      AS unit,\n    item ->> 'apeqCode'  AS apeqCode,\n    item ->> 'apeqName'  AS apeqName,\n    item ->> 'aprvDate'  AS aprvDate,\n    item ->> 'bugtDivs'  AS bugtDivs,\n    item ->> 'codeVld1'  AS codeVld1,\n    item ->> 'codeVld2'  AS codeVld2,\n    item ->> 'codeVld3'  AS codeVld3,\n    item ->> 'codeVld4'  AS codeVld4,\n    item ->> 'dlvrDate'  AS dlvrDate,\n    item ->> 'dlvrPrrk'  AS dlvrPrrk,\n    (item ->> 'dlvrQnty')::numeric  AS dlvrQnty,\n    item ->> 'dlvrRegn'  AS dlvrRegn,\n    item ->> 'dmstItnb'  AS dmstItnb,\n    item ->> 'itemName'  AS itemName,\n    item ->> 'miltDivs'  AS miltDivs,\n    (item ->> 'ordrUtpr')::numeric  AS ordrUtpr,\n    item ->> 'partNumb'  AS partNumb,\n    item ->> 'prcmRnum'  AS prcmRnum,\n    item ->> 'refcNumb'  AS refcNumb,\n    item ->> 'specClas'  AS specClas,\n    item ->> 'specNumb'  AS specNumb,\n    item ->> 'stnbTycd'  AS stnbTycd,\n    (item ->> 'totlAmnt')::numeric  AS totlAmnt\nFROM cd_ods.tb_d2b_bid_item_detail_raw_2 t\nCROSS JOIN jsonb_array_elements(\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' -> 'item'\n) AS item;\n\nselect 1 as success",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Apikey": {
						"type": "string",
						"defaultValue": "W26gwh49fADZe9fVLqkaAlzn5IPh6n9jf9FCHkThIs6UDblFv46xFoLaNzl011vFX8daAemoPlw4BubABfFBRg%3D%3D"
					},
					"service": {
						"type": "string",
						"defaultValue": "/openapi/service/BidPblancInfoService/getDmstcCmpetBidPblancList"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_d2b_cmpt_bid_notice_list"
					},
					"one_page_row": {
						"type": "string",
						"defaultValue": "999"
					},
					"pipanmtDateBegin": {
						"type": "string"
					},
					"pipanmtDateEnd": {
						"type": "string"
					}
				},
				"variables": {
					"anmtDateBegin": {
						"type": "String"
					},
					"anmtDateEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/방위사업청"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_D2B_CMPT_BID_NOTICE_INC_d')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "국내 경쟁입찰공고 목록\n",
				"activities": [
					{
						"name": "set anmtDateBegin",
						"description": "당일자",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "anmtDateBegin",
							"value": {
								"value": "@formatDateTime(adddays(addHours(utcNow(), 9), -7), 'yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "set anmtDateEnd",
						"description": "당일자",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "anmtDateEnd",
							"value": {
								"value": "@formatDateTime(addHours(utcNow(), 9), 'yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "get totalcount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greaterOrEquals(activity('get totalcount').output.firstRow.response.body.totalCount, 2)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Copy data2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['response']['body']['items']['item']['bidNm']"
													},
													"sink": {
														"name": "bidnm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['bidPartcptRegistClosDt']"
													},
													"sink": {
														"name": "bidpartcptregistclosdt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['bidStle']"
													},
													"sink": {
														"name": "bidstle",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['biddocPresentnClosDt']"
													},
													"sink": {
														"name": "biddocpresentnclosdt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['bsisPrdprcApplcAt']"
													},
													"sink": {
														"name": "bsisprdprcapplcat",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['bsisPrdprcOthbcAt']"
													},
													"sink": {
														"name": "bsisprdprcothbcat",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['busiDivs']"
													},
													"sink": {
														"name": "busidivs",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['cntrctMth']"
													},
													"sink": {
														"name": "cntrctmth",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['dcsNo']"
													},
													"sink": {
														"name": "dcsno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['demandYear']"
													},
													"sink": {
														"name": "demandyear",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['excutTy']"
													},
													"sink": {
														"name": "excutty",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['excutTyCode']"
													},
													"sink": {
														"name": "excuttycode",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['g2bPblancNo']"
													},
													"sink": {
														"name": "g2bpblancno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['g2bPblancOdr']"
													},
													"sink": {
														"name": "g2bpblancodr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['opengDt']"
													},
													"sink": {
														"name": "opengdt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['ornt']"
													},
													"sink": {
														"name": "ornt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['orntCode']"
													},
													"sink": {
														"name": "orntcode",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['pblancDate']"
													},
													"sink": {
														"name": "pblancdate",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['pblancNo']"
													},
													"sink": {
														"name": "pblancno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['pblancOdr']"
													},
													"sink": {
														"name": "pblancodr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['pblancSe']"
													},
													"sink": {
														"name": "pblancse",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['pblancSeCode']"
													},
													"sink": {
														"name": "pblancsecode",
														"type": "String"
													}
												}
											],
											"collectionReference": ""
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_D2B",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat(pipeline().parameters.service,'?anmtDateBegin=',variables('anmtDateBegin'),'&anmtDateEnd=',variables('anmtDateEnd'),'&numOfRows=1&_type=json')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy data3",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET",
												"additionalHeaders": {
													"value": "@{concat('User-Agent:Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/122.0.0.0 Safari/537.36 Edg/122.0.0.0 , Accept: application/json, text/plain, */*')}",
													"type": "Expression"
												}
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['bidNm']"
													},
													"sink": {
														"name": "bidnm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['bidPartcptRegistClosDt']"
													},
													"sink": {
														"name": "bidpartcptregistclosdt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['bidStle']"
													},
													"sink": {
														"name": "bidstle",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['biddocPresentnClosDt']"
													},
													"sink": {
														"name": "biddocpresentnclosdt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['bsisPrdprcApplcAt']"
													},
													"sink": {
														"name": "bsisprdprcapplcat",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['bsisPrdprcOthbcAt']"
													},
													"sink": {
														"name": "bsisprdprcothbcat",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['busiDivs']"
													},
													"sink": {
														"name": "busidivs",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['cntrctMth']"
													},
													"sink": {
														"name": "cntrctmth",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['dcsNo']"
													},
													"sink": {
														"name": "dcsno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['demandYear']"
													},
													"sink": {
														"name": "demandyear",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['excutTy']"
													},
													"sink": {
														"name": "excutty",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['excutTyCode']"
													},
													"sink": {
														"name": "excuttycode",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['g2bPblancNo']"
													},
													"sink": {
														"name": "g2bpblancno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['g2bPblancOdr']"
													},
													"sink": {
														"name": "g2bpblancodr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['opengDt']"
													},
													"sink": {
														"name": "opengdt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['ornt']"
													},
													"sink": {
														"name": "ornt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['orntCode']"
													},
													"sink": {
														"name": "orntcode",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['pblancDate']"
													},
													"sink": {
														"name": "pblancdate",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['pblancNo']"
													},
													"sink": {
														"name": "pblancno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['pblancOdr']"
													},
													"sink": {
														"name": "pblancodr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['pblancSe']"
													},
													"sink": {
														"name": "pblancse",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['pblancSeCode']"
													},
													"sink": {
														"name": "pblancsecode",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['response']['body']['items']['item']"
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_D2B",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat(pipeline().parameters.service,'?anmtDateBegin=20240227&anmtDateEnd=20240227&numOfRows=2&_type=json')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK_P02",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "get totalcount",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "set anmtDateBegin",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "set anmtDateEnd",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 60,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DTS_API_D2B",
								"type": "DatasetReference",
								"parameters": {
									"url": {
										"value": "@concat(pipeline().parameters.service,'?_type=json&anmtDateBegin=',variables('anmtDateBegin'),'&anmtDateEnd=',variables('anmtDateEnd'),'&numOfRows=1')",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "If Condition1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "SELECT \ndistinct demandyear , dcsno , orntcode ,  pblancNo, pblancOdr,pblancdate \nFROM cd_ods.tb_d2b_cmpt_bid_notice_list\nWHERE to_char(if_date, 'YYYYMMDD') = to_char(now(), 'YYYYMMDD');",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 30,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_D2B_CMPT_BID_NOTICE_DETAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pippblancdate": {
												"value": "@item().pblancdate",
												"type": "Expression"
											},
											"pipdcsno": {
												"value": "@item().dcsNo",
												"type": "Expression"
											},
											"piporntcode": {
												"value": "@item().orntCode",
												"type": "Expression"
											},
											"pippblancno": {
												"value": "@item().pblancNo",
												"type": "Expression"
											},
											"pippblancodr": {
												"value": "@item().pblancOdr",
												"type": "Expression"
											},
											"pipdemandyear": {
												"value": "@item().demandyear",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup1_copy1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "SELECT DISTINCT demandyear , dcsno , orntcode\nFROM cd_ods.tb_d2b_cmpt_bid_notice_list\nWHERE to_char(if_date, 'YYYYMMDD') = to_char(now(), 'YYYYMMDD');",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1_copy1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 30,
							"activities": [
								{
									"name": "Execute Pipeline1_copy1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_D2B_BID_ITEM_DETAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipdemandyear": {
												"value": "@item().demandYear",
												"type": "Expression"
											},
											"pipdcsno": {
												"value": "@item().dcsNo",
												"type": "Expression"
											},
											"piporntcode": {
												"value": "@item().orntCode",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Apikey": {
						"type": "string",
						"defaultValue": "W26gwh49fADZe9fVLqkaAlzn5IPh6n9jf9FCHkThIs6UDblFv46xFoLaNzl011vFX8daAemoPlw4BubABfFBRg%3D%3D"
					},
					"service": {
						"type": "string",
						"defaultValue": "/openapi/service/BidPblancInfoService/getDmstcCmpetBidPblancList"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_d2b_cmpt_bid_notice_list"
					},
					"one_page_row": {
						"type": "string",
						"defaultValue": "999"
					},
					"pipanmtDateBegin": {
						"type": "string"
					},
					"pipanmtDateEnd": {
						"type": "string"
					}
				},
				"variables": {
					"anmtDateBegin": {
						"type": "String"
					},
					"anmtDateEnd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/방위사업청"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_D2B_COMPETITION_BID_RESULT_COMPANY_LIST_M')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "물품 경쟁입찰 참가업체",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "SELECT demandyear , dcsno , orntcode ,  iemno, opengdate\nFROM \n(\nSELECT COALESCE (b.dcsno, 'xxxxx') AS b_dcsno \n     , a.dcsno AS dcsno\n     , a.orntcode  AS orntcode\n     , a.demandyear  AS demandyear\n     , a.iemno  AS iemno\n     , a.opengdate  AS opengdate\nFROM cd_ods.tb_d2b_competition_bid_result_list a\n  LEFT OUTER join   cd_ods.tb_d2b_competition_bid_result_company_list b\non a.dcsno  = b.dcsno\n  AND a.demandyear = b.demandyear\n  AND a.iemno = b.iemno\n  AND a.orntcode = b.orntcode\n  WHERE a.opengdate BETWEEN  '20210101%' AND '20221231'\n   AND a.bidresult != '유찰'\n) a\nWHERE a.b_dcsno = 'xxxxx'\n;",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 50,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_D2B_COMPETITION_BID_RESULT_COMPANY_LIST",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipdemandyear": {
												"value": "@item().demandYear",
												"type": "Expression"
											},
											"pipdcsno": {
												"value": "@item().dcsNo",
												"type": "Expression"
											},
											"piporntcode": {
												"value": "@item().orntCode",
												"type": "Expression"
											},
											"pipiemno": {
												"value": "@item().iemNo",
												"type": "Expression"
											},
											"pipopengdate": {
												"value": "@item().opengDate",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Industry/외부/방위사업청"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_D2B_COMPETITION_BID_RESULT_DETAIL_M')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "국내 경쟁입찰결과 상세",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "SELECT\ndemandyear , dcsno , orntcode ,  iemno, opengdate, pblancno, pblancodr\nFROM \n(\nSELECT COALESCE (b.dcsno, 'xxxxx') AS b_dcsno \n     , a.dcsno AS dcsno\n     , a.orntcode  AS orntcode\n     , a.pblancno AS pblancno\n     , a.pblancOdr AS pblancOdr\n     , a.demandyear  AS demandyear\n     , a.iemno  AS iemno\n     , a.opengdate  AS opengdate\nFROM cd_ods.tb_d2b_competition_bid_result_list a\n  LEFT OUTER join   cd_ods.tb_d2b_competition_bid_result_detail b\non a.dcsno  = b.dcsno\n  AND a.pblancno = b.pblancno\n  AND a.pblancOdr = b.pblancOdr\nWHERE a.opengdate LIKE '2021%'\n) a\nWHERE a.b_dcsno = 'xxxxx'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 50,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_D2B_COMPETITION_BID_RESULT_DETAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipdemandyear": {
												"value": "@item().demandYear",
												"type": "Expression"
											},
											"pipdcsno": {
												"value": "@item().dcsNo",
												"type": "Expression"
											},
											"piporntcode": {
												"value": "@item().orntCode",
												"type": "Expression"
											},
											"pipiemno": {
												"value": "@item().iemNo",
												"type": "Expression"
											},
											"pipopengdate": {
												"value": "@item().opengDate",
												"type": "Expression"
											},
											"pippblancno": {
												"value": "@item().pblancNo",
												"type": "Expression"
											},
											"pippblancodr": {
												"value": "@item().pblancOdr",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Industry/외부/방위사업청"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_D2B_COMPETITION_BID_RESULT_INC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "입찰공고목록 정보에 대한 물품조회",
				"activities": [
					{
						"name": "set openstdt",
						"description": "오픈시작",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "openstrdt",
							"value": {
								"value": "@formatDateTime(adddays(addHours(utcNow(), 9), -60), 'yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "set openenddt",
						"description": "당일자",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "openenddt",
							"value": {
								"value": "@formatDateTime(addHours(utcNow(), 9), 'yyyyMMdd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "delet table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "set openstdt",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "set openenddt",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "delete from  @{pipeline().parameters.SinkSchema}.@{pipeline().parameters.SinkTable}       \n WHERE  REGEXP_REPLACE(opengDate, '[^0-9]','','g') BETWEEN '@{variables('openstrdt')}' AND '@{variables('openenddt')}';\n \nselect 1 as success",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "get totalcount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@greaterOrEquals(activity('get totalcount').output.firstRow.response.body.totalCount, 2)",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Copy data2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['response']['body']['items']['item']['bidMth']"
													},
													"sink": {
														"name": "bidmth",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['bidNm']"
													},
													"sink": {
														"name": "bidnm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['bidResult']"
													},
													"sink": {
														"name": "bidresult",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['cntrctMth']"
													},
													"sink": {
														"name": "cntrctmth",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['dcsNo']"
													},
													"sink": {
														"name": "dcsno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['demandYear']"
													},
													"sink": {
														"name": "demandyear",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['iemNo']"
													},
													"sink": {
														"name": "iemno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['opengDate']"
													},
													"sink": {
														"name": "opengdate",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['opengDt']"
													},
													"sink": {
														"name": "opengdt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['ornt']"
													},
													"sink": {
														"name": "ornt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['orntCode']"
													},
													"sink": {
														"name": "orntcode",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['pblancNo']"
													},
													"sink": {
														"name": "pblancno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['pblancOdr']"
													},
													"sink": {
														"name": "pblancodr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['pblancSe']"
													},
													"sink": {
														"name": "pblancse",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['response']['body']['items']['item']['sucbidrDecsnMth']"
													},
													"sink": {
														"name": "sucbidrdecsnmth",
														"type": "String"
													}
												}
											],
											"collectionReference": ""
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_D2B",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat(pipeline().parameters.service,'?_type=json&pageNo=1&numOfRows=',activity('get totalcount').output.firstRow.response.body.totalCount,'&opengDateBegin=',variables('openstrdt'),'&opengDateEnd=',variables('openenddt'),'&ServiceKey=',pipeline().parameters.Apikey)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK_P02",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy data3",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['bidMth']"
													},
													"sink": {
														"name": "bidmth",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['bidNm']"
													},
													"sink": {
														"name": "bidnm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['bidResult']"
													},
													"sink": {
														"name": "bidresult",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['cntrctMth']"
													},
													"sink": {
														"name": "cntrctmth",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['dcsNo']"
													},
													"sink": {
														"name": "dcsno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['demandYear']"
													},
													"sink": {
														"name": "demandyear",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['iemNo']"
													},
													"sink": {
														"name": "iemno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['opengDate']"
													},
													"sink": {
														"name": "opengdate",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['opengDt']"
													},
													"sink": {
														"name": "opengdt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['ornt']"
													},
													"sink": {
														"name": "ornt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['orntCode']"
													},
													"sink": {
														"name": "orntcode",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['pblancNo']"
													},
													"sink": {
														"name": "pblancno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['pblancOdr']"
													},
													"sink": {
														"name": "pblancodr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['pblancSe']"
													},
													"sink": {
														"name": "pblancse",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['sucbidrDecsnMth']"
													},
													"sink": {
														"name": "sucbidrdecsnmth",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['response']['body']['items']['item']"
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_D2B",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat(pipeline().parameters.service,'?_type=json&pageNo=1&numOfRows=',activity('get totalcount').output.firstRow.response.body.totalCount,'&opengDateBegin=',variables('openstrdt'),'&opengDateEnd=',variables('openenddt'),'&ServiceKey=',pipeline().parameters.Apikey)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "get totalcount",
						"description": "대표 제품의 생성 기간동안 토탈 건수 ",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "delet table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DTS_API_D2B",
								"type": "DatasetReference",
								"parameters": {
									"url": {
										"value": "@concat(pipeline().parameters.service,'?_type=json&pageNo=1&numOfRows=1&opengDateBegin=',variables('openstrdt'),'&opengDateEnd=',variables('openenddt'))",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "delet table_copy1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "SELECT\ndemandyear , dcsno , orntcode ,  iemno, opengdate, pblancno, pblancodr\nFROM \n(\nSELECT COALESCE (b.dcsno, 'xxxxx') AS b_dcsno \n     , a.dcsno AS dcsno\n     , a.orntcode  AS orntcode\n     , a.pblancno AS pblancno\n     , a.pblancOdr AS pblancOdr\n     , a.demandyear  AS demandyear\n     , a.iemno  AS iemno\n     , a.opengdate  AS opengdate\nFROM cd_ods.tb_d2b_competition_bid_result_list a\n  LEFT OUTER join   cd_ods.tb_d2b_competition_bid_result_detail b\non a.dcsno  = b.dcsno\n  AND a.pblancno = b.pblancno\n  AND a.pblancOdr = b.pblancOdr\n) a\nWHERE a.b_dcsno = 'xxxxx'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 20,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_D2B_COMPETITION_BID_RESULT_DETAIL",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipdemandyear": {
												"value": "@item().demandYear",
												"type": "Expression"
											},
											"pipdcsno": {
												"value": "@item().dcsNo",
												"type": "Expression"
											},
											"piporntcode": {
												"value": "@item().orntCode",
												"type": "Expression"
											},
											"pipiemno": {
												"value": "@item().iemNo",
												"type": "Expression"
											},
											"pipopengdate": {
												"value": "@item().opengDate",
												"type": "Expression"
											},
											"pippblancno": {
												"value": "@item().pblancNo",
												"type": "Expression"
											},
											"pippblancodr": {
												"value": "@item().pblancOdr",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup1_copy1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "delete table_copy1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "SELECT\ndemandyear , dcsno , orntcode ,  iemno, opengdate\nFROM \n(\nSELECT COALESCE (b.dcsno, 'xxxxx') AS b_dcsno \n     , a.dcsno AS dcsno\n     , a.orntcode  AS orntcode\n     , a.demandyear  AS demandyear\n     , a.iemno  AS iemno\n     , a.opengdate  AS opengdate\nFROM cd_ods.tb_d2b_competition_bid_result_list a\n  LEFT OUTER join   cd_ods.tb_d2b_competition_bid_result_company_list b\non a.dcsno  = b.dcsno\n  AND a.demandyear = b.demandyear\n  AND a.iemno = b.iemno\n  AND a.orntcode = b.orntcode\n  WHERE to_Char(a.if_date, 'YYYYMMDD') = to_Char(now(), 'YYYYMMDD') \n   and a.bidresult != '유찰'\n) a\nWHERE a.b_dcsno = 'xxxxx'\n;",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1_copy1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 20,
							"activities": [
								{
									"name": "Execute Pipeline1_copy1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_D2B_COMPETITION_BID_RESULT_COMPANY_LIST",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipdemandyear": {
												"value": "@item().demandYear",
												"type": "Expression"
											},
											"pipdcsno": {
												"value": "@item().dcsNo",
												"type": "Expression"
											},
											"piporntcode": {
												"value": "@item().orntCode",
												"type": "Expression"
											},
											"pipiemno": {
												"value": "@item().iemNo",
												"type": "Expression"
											},
											"pipopengdate": {
												"value": "@item().opengDate",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "delet table_copy1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "If Condition1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "delete from  cd_ods.tb_d2b_competition_bid_result_detail\nWHERE substring(opengdt,0,9) BETWEEN '@{variables('openstrdt')}' AND '@{variables('openenddt')}';\n \nselect 1 as success",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					},
					{
						"name": "delete table_copy1_copy1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "delet table_copy1_copy1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "truncate table cd_ods.tb_d2b_competition_bid_result_company_list_raw_1;\n\ntruncate table cd_ods.tb_d2b_competition_bid_result_company_list_raw_2;\n \nselect 1 as success",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					},
					{
						"name": "delet table_copy1_copy1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "delet table_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "truncate table cd_ods.tb_d2b_competition_bid_result_detail_raw;\n\nselect 1 as success",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					},
					{
						"name": "delet table_copy1_copy1_copy1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "INSERT INTO cd_ods.tb_d2b_competition_bid_result_detail (\nornt\n,bidNm\n,dcsNo\n,bidMth\n,excutty\n,opengDt\n,pblancNo\n,pblancSe\n,bidResult\n,cntrctMth\n,pblancOdr\n,asessRtLwlt\n,asessRtUplmt\n,bsisPreparPc\n,budgetAmount\n,scsbidLwltRt\n,scsbidEntrpsNm\n,sucbidrDecsnMth\n,scsbidEntrpsCode\n,scsbidEntrpsBsnmRegistNo\n)\nSELECT\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'item' ->> 'ornt'                         as ornt,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'bidNm'                         as bidNm,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'dcsNo'                        as dcsNo,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'bidMth'                       as bidMth,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'excutTy'                      as excutTy,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'opengDt'                            as opengDt,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'pblancNo'                          as pblancNo,\n    t.jsondata::jsonb -> 'response' -> 'body' ->  'item' ->> 'pblancSe'                            as pblancSe,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'bidResult'                             as bidResult,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'cntrctMth'                          as cntrctMth,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'pblancOdr'                        as pblancOdr,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'asessRtLwlt'                           as asessRtLwlt,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'asessRtUplmt'                        as asessRtUplmt,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'bsisPreparPc'        as bsisPreparPc,\n    (t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'budgetAmount')::numeric          as budgetAmount,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'scsbidLwltRt'             as scsbidLwltRt,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'scsbidEntrpsNm'                          as scsbidEntrpsNm,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'sucbidrDecsnMth'                         as sucbidrDecsnMth,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->  'item' ->> 'scsbidEntrpsCode'                   as scsbidEntrpsCode,\n    t.jsondata::jsonb -> 'response' -> 'body' ->   'item' ->> 'scsbidEntrpsBsnmRegistNo'                as scsbidEntrpsBsnmRegistNo\nFROM cd_ods.tb_d2b_competition_bid_result_detail_raw t;\n\nselect 1 as success",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					},
					{
						"name": "delete table_copy1_copy1_copy1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach1_copy1",
								"dependencyConditions": [
									"Completed"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "INSERT INTO cd_ods.tb_d2b_competition_bid_result_company_list(\ndemandyear\n,dcsno\n,orntcode\n,iemno\n,opengdate\n,gpsTime\n,bidnQnty\n,bidnRank\n,bidnRate\n,bidnRslt\n,bidxDegr\n,bidxNote\n,bznsRgnb\n,mfkrName\n,middScor\n,mnufCode\n,pqcmDivs\n,prceScor\n,rptrKore\n,tbidAmnt\n,tbidLepr\n,tbidQnty\n,tbidUtpr\n,totaScor\n)\nselect\nt.demandyear ,\nt.dcsno ,\nt.orntcode ,\nt.iemno ,\nt.opengdate,\n    t.jsondata::jsonb -> 'response' -> 'body' ->'items' ->  'item' ->> 'gpsTime'                         as gpsTime,\n     (t.jsondata::jsonb -> 'response' -> 'body' ->'items'  ->  'item' ->> 'bidnQnty')::numeric                          as bidnQnty,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->'items' ->  'item' ->> 'bidnRank'                        as bidnRank,\n     (t.jsondata::jsonb -> 'response' -> 'body' ->'items'  ->  'item' ->> 'bidnRate')::numeric                        as bidnRate,\n    t.jsondata::jsonb -> 'response' -> 'body'  ->'items' ->  'item' ->> 'bidnRslt'                      as bidnRslt,\n    t.jsondata::jsonb -> 'response' -> 'body' ->'items'  ->  'item' ->> 'bidxDegr'                            as bidxDegr,\n    t.jsondata::jsonb -> 'response' -> 'body' ->'items'  ->  'item' ->> 'bidxNote'                          as bidxNote,\n    t.jsondata::jsonb -> 'response' -> 'body'->'items'  ->  'item' ->> 'bznsRgnb'                            as bznsRgnb,\n    t.jsondata::jsonb -> 'response' -> 'body' ->'items'  ->  'item' ->> 'mfkrName'                             as mfkrName,\n     (t.jsondata::jsonb -> 'response' -> 'body'  ->'items' ->  'item' ->> 'middScor')::numeric                           as middScor,\n    t.jsondata::jsonb -> 'response' -> 'body' ->'items'  ->  'item' ->> 'mnufCode'                        as mnufCode,\n    t.jsondata::jsonb -> 'response' -> 'body' ->'items'  ->  'item' ->> 'pqcmDivs'                           as pqcmDivs,\n    t.jsondata::jsonb -> 'response' -> 'body' ->'items'  ->  'item' ->> 'prceScor'                        as prceScor,\n    t.jsondata::jsonb -> 'response' -> 'body' ->'items'  ->  'item' ->> 'rptrKore'        as rptrKore,\n    (t.jsondata::jsonb -> 'response' -> 'body' ->'items' ->  'item' ->> 'tbidAmnt')::numeric          as tbidAmnt,\n    ( t.jsondata::jsonb -> 'response' -> 'body'  ->'items' ->  'item' ->> 'tbidLepr')::numeric              as tbidLepr,\n     (t.jsondata::jsonb -> 'response' -> 'body' ->'items'  ->  'item' ->> 'tbidQnty')::numeric                           as tbidQnty,\n     (t.jsondata::jsonb -> 'response' -> 'body'  ->'items' ->  'item' ->> 'tbidUtpr')::numeric                          as tbidUtpr,\n     (t.jsondata::jsonb -> 'response' -> 'body' ->'items'  ->  'item' ->> 'totaScor')::numeric                    as totaScor\nFROM cd_ods.tb_d2b_competition_bid_result_company_list_raw_1 t;\n \nselect 1 as success",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					},
					{
						"name": "delete table_copy1_copy1_copy2",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "delete table_copy1_copy1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "insert into cd_ods.tb_d2b_competition_bid_result_company_list\n(\ndemandyear\n,dcsno\n,orntcode\n,iemno\n,opengdate\n,gpsTime\n,bidnQnty\n,bidnRank\n,bidnRate\n,bidnRslt\n,bidxDegr\n,bidxNote\n,bznsRgnb\n,mfkrName\n,middScor\n,mnufCode\n,pqcmDivs\n,prceScor\n,rptrKore\n,tbidAmnt\n,tbidLepr\n,tbidQnty\n,tbidUtpr\n,totaScor\n)\nSELECT \nt.demandyear ,\nt.dcsno ,\nt.orntcode ,\nt.iemno ,\nt.opengdate,\n    item ->> 'gpsTime'       AS gpsTime,\n    (item ->> 'bidnQnty')::numeric      AS bidnQnty,\n    item ->> 'bidnRank'      AS bidnRank,\n    (item ->> 'bidnRate')::numeric  AS bidnRate,\n    item ->> 'bidnRslt'  AS bidnRslt,\n    item ->> 'bidxDegr'  AS bidxDegr,\n    item ->> 'bidxNote'  AS bidxNote,\n    item ->> 'bznsRgnb'  AS bznsRgnb,\n    item ->> 'mfkrName'  AS mfkrName,\n    (item ->> 'middScor')::numeric  AS middScor,\n    item ->> 'mnufCode'  AS mnufCode,\n    item ->> 'pqcmDivs'  AS pqcmDivs,\n    item ->> 'prceScor'  AS prceScor,\n    item ->> 'rptrKore'  AS rptrKore,\n    (item ->> 'tbidAmnt')::numeric  AS tbidAmnt,\n    (item ->> 'tbidLepr')::numeric  AS tbidLepr,\n    (item ->> 'tbidQnty')::numeric  AS tbidQnty,\n    (item ->> 'tbidUtpr')::numeric  AS tbidUtpr,\n    (item ->> 'totaScor')::numeric  AS totaScor\nFROM cd_ods.tb_d2b_competition_bid_result_company_list_raw_2 t\nCROSS JOIN jsonb_array_elements(\n    t.jsondata::jsonb -> 'response' -> 'body' -> 'items' -> 'item'\n) AS item;\n \nselect 1 as success",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Apikey": {
						"type": "string",
						"defaultValue": "W26gwh49fADZe9fVLqkaAlzn5IPh6n9jf9FCHkThIs6UDblFv46xFoLaNzl011vFX8daAemoPlw4BubABfFBRg%3D%3D"
					},
					"service": {
						"type": "string",
						"defaultValue": "/openapi/service/BidResultInfoService/getDmstcCmpetBidResultList"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_d2b_competition_bid_result_list"
					},
					"one_page_row": {
						"type": "string",
						"defaultValue": "999"
					},
					"pipstrdt": {
						"type": "string"
					},
					"pipenddt": {
						"type": "string"
					}
				},
				"variables": {
					"openstrdt": {
						"type": "String"
					},
					"openenddt": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/방위사업청"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_DART_COMPANY_M')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "입찰공고목록 정보에 대한 물품조회_멀",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "SELECT\n  dt * 5000 - 4999 AS str_seq,\n  dt * 5000  AS end_seq\nFROM generate_series(\n  21,\n  24,  \n  1\n) AS dt;\n",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_DART_COMPANY",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipstrseq": {
												"value": "@item().str_seq",
												"type": "Expression"
											},
											"pipendseq": {
												"value": "@item().end_seq",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Industry/외부/전자공시시스템"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_DART_LIST_M')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "입찰공고목록 정보에 대한 물품조회_멀",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "SELECT\n  to_char(dt::date , 'YYYYMMDD') AS strdt,\n  to_char((dt + INTERVAL '3 months' - INTERVAL '1 day')::date, 'YYYYMMDD') AS enddt\nFROM generate_series(\n  '2021-01-01'::date,\n  now()::date,  \n  '3 months'::interval\n) AS dt;",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_DART_LIST",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipstrdt": {
												"value": "@item().strdt",
												"type": "Expression"
											},
											"pipenddt": {
												"value": "@item().enddt",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Industry/외부/전자공시시스템"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_KAMIS_D_M')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select cmonth2 as cmonth\n   from cd_ods.aps_sdc_pw_mst\n  where cmonth2 between '@{pipeline().parameters.smonth}' and '@{pipeline().parameters.emonth}'\n   group by cmonth2 \n   order by cmonth2",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_KAMIS_D_M_SUB",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"month": {
												"value": "@item().cmonth",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "Industry/외부/농수산식품/도소매가격정보"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "도소매가격정보"
					},
					"AdlsDirectoryConf": {
						"type": "string",
						"defaultValue": "Industry/외부/농수산식품/conf"
					},
					"ConfFile": {
						"type": "string",
						"defaultValue": "도소매_conf"
					},
					"AdlsDirectoryOri": {
						"type": "string",
						"defaultValue": "Industry/외부/농수산식품/도소매가격정보_원본"
					},
					"Apikey": {
						"type": "string",
						"defaultValue": "fabd919e-b1b9-4ef8-b9bc-c3e82b728bf2"
					},
					"smonth": {
						"type": "string"
					},
					"emonth": {
						"type": "string"
					}
				},
				"variables": {
					"regday": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/농수산식품"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_MAS_BID_LIST_INFO_THINGS_M')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "입찰공고목록 정보에 대한 물품조회_멀",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select  to_char(to_date('2021','yyyy') + interval '1 year' * a.inter,'yyyy')||'01010000' as strdt      \n        ,to_char(to_date('2021','yyyy') + interval '1 year' * a.inter,'yyyy')||'12312359' as enddt     \n   from (                                                                                              \n select                                                                                                \n        generate_series(                                                                               \n                         0,                                                                            \n                         2, 1  ) as inter                                                             \n                         ) a                                                                           \n",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_MAS_BID_LIST_INFO_THINGS",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipstrdt": {
												"value": "@item().strdt",
												"type": "Expression"
											},
											"pipenddt": {
												"value": "@item().enddt",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Industry/외부/조달청"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_MAS_BID_LIST_INFO_THINGS_PURCHARE_OBJECT_PRODUCT_M')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "입찰공고목록 정보에 대한 물품 구매대상물품조회_멀티",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select  to_char(to_date('2022','yyyy') + interval '1 year' * a.inter,'yyyy')||'01010000' as strdt      \n        ,to_char(to_date('2022','yyyy') + interval '1 year' * a.inter,'yyyy')||'12312359' as enddt     \n   from (                                                                                              \n select                                                                                                \n        generate_series(                                                                               \n                         0,                                                                            \n                         1, 1  ) as inter                                                             \n                         ) a                                                                           \n",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_MAS_BID_LIST_INFO_THINGS_PURCHASE_OBJECT_PRODUCT",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipstrdt": {
												"value": "@item().strdt",
												"type": "Expression"
											},
											"pipenddt": {
												"value": "@item().enddt",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Industry/외부/조달청"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_MAS_DEMAND_AGENCY_M')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "수요기관정보조회_멀",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select  to_char(to_date('1980','yyyy') + interval '1 year' * a.inter,'yyyy')||'01010000' as strdt      \n        ,to_char(to_date('1980','yyyy') + interval '1 year' * a.inter,'yyyy')||'12312359' as enddt     \n   from (                                                                                              \n select                                                                                                \n        generate_series(                                                                               \n                         0,                                                                            \n                         43, 1  ) as inter                                                             \n                         ) a                                                                           \n",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_MAS_DEMAND_AGENCY_INC",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipstrdt": {
												"value": "@item().strdt",
												"type": "Expression"
											},
											"pipenddt": {
												"value": "@item().enddt",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Industry/외부/조달청"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_MAS_PROCUREMENT_CORPORATION_INC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "조달업체기본정보",
				"activities": [
					{
						"name": "set strdt",
						"description": "당일자",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "strdt",
							"value": {
								"value": "@concat(formatDateTime(adddays(addHours(utcNow(), 9), -2), 'yyyyMMdd'),'0000')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "set enddt",
						"description": "당일자",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "enddt",
							"value": {
								"value": "@concat(formatDateTime(adddays(addHours(utcNow(), 9), -1), 'yyyyMMdd'),'2359')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "delet table",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "set strdt",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "set enddt",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "delete from  @{pipeline().parameters.SinkSchema}.@{pipeline().parameters.SinkTable}       \n;\n \nselect 1 as success",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					},
					{
						"name": "get page",
						"description": "대표 제품의 생성 기간동안 토탈 건수 ",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "delet table",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DTS_PPS_API_JSON",
								"type": "DatasetReference",
								"parameters": {
									"params": {
										"value": "@concat('/1230000/ao/UsrInfoService02/',pipeline().parameters.service,'?type=json&inqryDiv=1&pageNo=1&numOfRows=10&inqryBgnDt=',variables('strdt'),'&inqryEndDt=',variables('enddt'),'&ServiceKey=',pipeline().parameters.Apikey)",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get page",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(1  \n      ,add(\n             div(\n                  int(activity('get page').output.firstRow.response.body.totalCount) \n                 ,int(pipeline().parameters.one_page_row)                  \n                )\n            ,if(\n                greater(\n                        mod(\n                            int(activity('get page').output.firstRow.response.body.totalCount) \n                        ,int(pipeline().parameters.one_page_row)   \n                            )\n                       ,0\n                       )\n                ,1,0\n            )           \n       )\n)",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 40,
							"activities": [
								{
									"name": "Copy data1_copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['bizno']"
													},
													"sink": {
														"name": "bizno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['corpNm']"
													},
													"sink": {
														"name": "corp_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['engCorpNm']"
													},
													"sink": {
														"name": "eng_corp_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['opbizDt']"
													},
													"sink": {
														"name": "opbiz_dt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['rgnCd']"
													},
													"sink": {
														"name": "rgn_cd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['rgnNm']"
													},
													"sink": {
														"name": "rgn_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['zip']"
													},
													"sink": {
														"name": "zip",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['adrs']"
													},
													"sink": {
														"name": "adrs",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['dtlAdrs']"
													},
													"sink": {
														"name": "dtl_adrs",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['telNo']"
													},
													"sink": {
														"name": "tel_no",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['faxNo']"
													},
													"sink": {
														"name": "fax_no",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['cntryNm']"
													},
													"sink": {
														"name": "cntry_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['hmpgAdrs']"
													},
													"sink": {
														"name": "hmpg_adrs",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['mnfctDivCd']"
													},
													"sink": {
														"name": "mnfct_div_cd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['mnfctDivNm']"
													},
													"sink": {
														"name": "mnfct_div_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['emplyeNum']"
													},
													"sink": {
														"name": "emplye_num",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['corpBsnsDivCd']"
													},
													"sink": {
														"name": "corp_bsns_div_cd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['corpBsnsDivNm']"
													},
													"sink": {
														"name": "corp_bsns_div_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['hdoffceDivNm']"
													},
													"sink": {
														"name": "hdoffce_div_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['rgstDt']"
													},
													"sink": {
														"name": "rgst_dt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['chgDt']"
													},
													"sink": {
														"name": "chg_dt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['esntlNoCertRgstYn']"
													},
													"sink": {
														"name": "esntl_no_cert_rgst_yn",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['ceoNm']"
													},
													"sink": {
														"name": "ceo_nm",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['response']['body']['items']",
											"mapComplexValuesToString": false
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_PPS_API_JSON",
											"type": "DatasetReference",
											"parameters": {
												"params": {
													"value": "@concat('/1230000/ao/UsrInfoService02/',pipeline().parameters.service,'?type=json&inqryDiv=1&pageNo=',item(),'&numOfRows=',pipeline().parameters.one_page_row,'&inqryBgnDt=',variables('strdt'),'&inqryEndDt=',variables('enddt'),'&ServiceKey=',pipeline().parameters.Apikey)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "get page_copy1",
						"description": "대표 제품의 생성 기간동안 토탈 건수 ",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DTS_PPS_API_JSON",
								"type": "DatasetReference",
								"parameters": {
									"params": {
										"value": "@concat('/1230000/ao/UsrInfoService02/',pipeline().parameters.service,'?type=json&inqryDiv=2&pageNo=1&numOfRows=1&inqryBgnDt=',variables('strdt'),'&inqryEndDt=',variables('enddt'),'&ServiceKey=',pipeline().parameters.Apikey)",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "ForEach1_copy1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get page_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(1  \n      ,add(\n             div(\n                  int(activity('get page_copy1').output.firstRow.response.body.totalCount) \n                 ,int(pipeline().parameters.one_page_row)                  \n                )\n            ,if(\n                greater(\n                        mod(\n                            int(activity('get page_copy1').output.firstRow.response.body.totalCount) \n                        ,int(pipeline().parameters.one_page_row)   \n                            )\n                       ,0\n                       )\n                ,1,0\n            )           \n       )\n)",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 40,
							"activities": [
								{
									"name": "Copy data1_copy1_copy1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"enableSkipIncompatibleRow": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['bizno']"
													},
													"sink": {
														"name": "bizno",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['corpNm']"
													},
													"sink": {
														"name": "corp_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['engCorpNm']"
													},
													"sink": {
														"name": "eng_corp_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['opbizDt']"
													},
													"sink": {
														"name": "opbiz_dt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['rgnCd']"
													},
													"sink": {
														"name": "rgn_cd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['rgnNm']"
													},
													"sink": {
														"name": "rgn_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['zip']"
													},
													"sink": {
														"name": "zip",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['adrs']"
													},
													"sink": {
														"name": "adrs",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['dtlAdrs']"
													},
													"sink": {
														"name": "dtl_adrs",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['telNo']"
													},
													"sink": {
														"name": "tel_no",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['faxNo']"
													},
													"sink": {
														"name": "fax_no",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['cntryNm']"
													},
													"sink": {
														"name": "cntry_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['hmpgAdrs']"
													},
													"sink": {
														"name": "hmpg_adrs",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['mnfctDivCd']"
													},
													"sink": {
														"name": "mnfct_div_cd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['mnfctDivNm']"
													},
													"sink": {
														"name": "mnfct_div_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['emplyeNum']"
													},
													"sink": {
														"name": "emplye_num",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['corpBsnsDivCd']"
													},
													"sink": {
														"name": "corp_bsns_div_cd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['corpBsnsDivNm']"
													},
													"sink": {
														"name": "corp_bsns_div_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['hdoffceDivNm']"
													},
													"sink": {
														"name": "hdoffce_div_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['rgstDt']"
													},
													"sink": {
														"name": "rgst_dt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['chgDt']"
													},
													"sink": {
														"name": "chg_dt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['esntlNoCertRgstYn']"
													},
													"sink": {
														"name": "esntl_no_cert_rgst_yn",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['ceoNm']"
													},
													"sink": {
														"name": "ceo_nm",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['response']['body']['items']",
											"mapComplexValuesToString": false
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_PPS_API_JSON",
											"type": "DatasetReference",
											"parameters": {
												"params": {
													"value": "@concat('/1230000/ao/UsrInfoService02/',pipeline().parameters.service,'?type=json&inqryDiv=2&pageNo=',item(),'&numOfRows=',pipeline().parameters.one_page_row,'&inqryBgnDt=',variables('strdt'),'&inqryEndDt=',variables('enddt'),'&ServiceKey=',pipeline().parameters.Apikey)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select bizno from cd_ods.tb_mas_procurement_corporation_increase",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1_copy2",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 40,
							"activities": [
								{
									"name": "Execute Pipeline1_copy1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_MAS_PROCUREMENT_CORPORATION_INDUSTRY_INFO",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipbizno": {
												"value": "@item().bizno",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					},
					{
						"name": "Lookup1_copy1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach1_copy2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select bizno from cd_ods.tb_mas_procurement_corporation_increase \nWHERE bizno IN (\nSELECT DISTINCT bizno FROM  cd_ods.tb_mas_procurement_corporation_industry_info\nWHERE indstryty_nm LIKE '%식품%'\n)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1_copy3",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 40,
							"activities": [
								{
									"name": "Execute Pipeline1_copy2",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_MAS_PROCUREMENT_CORPORATION_SUPPLY_PRODUCT_INFO",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipbizno": {
												"value": "@item().bizno",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"Apikey": {
						"type": "string",
						"defaultValue": "rj5HeIJYh3E2HRvmEw3P3%2BeVDZoZj074w7IIt%2BpcAaujPSI9CTx0U88XSd6C9eWwkBMUncCaG4w%2FtYRT898jcw%3D%3D"
					},
					"service": {
						"type": "string",
						"defaultValue": "getPrcrmntCorpBasicInfo02"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_mas_procurement_corporation_increase"
					},
					"one_page_row": {
						"type": "string",
						"defaultValue": "10"
					},
					"pipstrdt": {
						"type": "string"
					},
					"pipenddt": {
						"type": "string"
					}
				},
				"variables": {
					"strdt": {
						"type": "String"
					},
					"enddt": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/조달청"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_MAS_PROCUREMENT_CORPORATION_INDUSTRY_INFO_INC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "조달업체 업종정보조회_멀티",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select bizno from cd_ods.tb_mas_procurement_corporation_increase\nWHERE mnfct_div_cd = '02'",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 20,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_MAS_PROCUREMENT_CORPORATION_INDUSTRY_INFO",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipbizno": {
												"value": "@item().bizno",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Industry/외부/조달청"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_MAS_PROCUREMENT_CORPORATION_M')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "조달업체 기본정보 조회_멀",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select  to_char(to_date('2001','yyyy') + interval '1 year' * a.inter,'yyyy')||'01010000' as strdt      \n        ,to_char(to_date('2001','yyyy') + interval '1 year' * a.inter,'yyyy')||'12312359' as enddt     \n   from (                                                                                              \n select                                                                                                \n        generate_series(                                                                               \n                         0,                                                                            \n                         22, 1  ) as inter                                                             \n                         ) a                                                                           \n",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_MAS_PROCUREMENT_CORPORATION",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipstrdt": {
												"value": "@item().strdt",
												"type": "Expression"
											},
											"pipenddt": {
												"value": "@item().enddt",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Industry/외부/조달청"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_MAS_PROCUREMENT_CORPORATION_SUPPLY_PRODUCT_INFO_INC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "조달업체 공급물품정보조회_멀",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select bizno from cd_ods.tb_mas_procurement_corporation_increase \nWHERE bizno IN (\nSELECT DISTINCT bizno FROM  cd_ods.tb_mas_procurement_corporation_industry_info\nWHERE indstryty_nm LIKE '%식품%'\n)",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 20,
							"activities": [
								{
									"name": "Execute Pipeline1",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"policy": {
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "PIP_API_INDUSTRY_MAS_PROCUREMENT_CORPORATION_SUPPLY_PRODUCT_INFO",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"pipbizno": {
												"value": "@item().bizno",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "Industry/외부/조달청"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}