CDI-Hub-ADF-p01/linkedTemplates/ArmTemplate_32.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory 이름",
			"defaultValue": "CDI-Hub-ADF-p01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PIP_NIELSEN_TO_PG_ONLINE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- 닐슨 SFTP ",
				"activities": [
					{
						"name": "Set yyyymm",
						"description": "수행일 기준 전월 구하기\n포멧 : yyyymm",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "yyyymm",
							"value": {
								"value": "@if(equals(pipeline().parameters.pip_yyyymm,null), formatDateTime(addDays(startOfMonth(addHours(utcNow(), 9)),-1),'yyyyMM'),pipeline().parameters.pip_yyyymm)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "pg_tb_nielsen_market",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set yyyymm",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": {
									"value": "delete from cd_ods.tb_nielsen_online_mkt_temp",
									"type": "Expression"
								},
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "market_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "market_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "MRKT_DSC_KO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "mrkt_dsc_ko",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "hierarchy_level",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hierarchy_level",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "hierarchy_number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hierarchy_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "hierarchy_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hierarchy_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "hierarchy_column",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hierarchy_column",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('KR_DAESANG_E_KIMCHI_KI_market_dim_',pipeline().parameters.pip_fileNumber,'.txt')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_nielsen_online_mkt_temp"
								}
							}
						]
					},
					{
						"name": "pg_tb_nielsen_hier",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "pg_tb_nielsen_market",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": {
									"value": "delete from cd_ods.tb_nielsen_online_hier_temp",
									"type": "Expression"
								},
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "column_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "column_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "dimension",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dimension",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "hierarchy_number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hierarchy_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "hierarchy_level",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hierarchy_level",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "hierarchy_level_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hierarchy_level_name",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('KR_DAESANG_E_KIMCHI_KI_hierarchies_ref_',pipeline().parameters.pip_fileNumber,'.txt')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_nielsen_online_hier_temp"
								}
							}
						]
					},
					{
						"name": "dynamic mapping",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "pg_tb_nielsen_hier",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select string_agg('{  \"source\": { \"name\": \"'||a.sour||'\", \"type\": \"String\" }, \"sink\": {  \"name\": \"'||a.sink||'\", \"type\": \"String\", \"physicalType\": \"character varying\" } }'\n              ,',') as json\n  from (\n\t\tselect distinct column_name as sour\n\t\t      ,case when column_name lIke 'CSTM%' and hierarchy_level = '1' then 'category'\n\t\t            else lower(hierarchy_level_name)\n\t\t         end sink\n\t\t from  cd_ods.tb_nielsen_online_hier_temp\t\n\t\t  union all \n\t\tselect 'hierarchy_number','hierarchy_number' union all\n\t\tselect 'hierarchy_level','hierarchy_level'   union all\n\t\tselect 'hierarchy_level_name','hierarchy_level_name' \t\n\t) a",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					},
					{
						"name": "pg_tb_nielsen_product_",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "dynamic mapping",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "month",
										"value": {
											"value": "@variables('yyyymm')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": {
									"value": "delete from cd_ods.tb_nielsen_online_prod_temp",
									"type": "Expression"
								},
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"value": "@json(concat('{\n\"type\": \"TabularTranslator\",\n\"mappings\": [\n    { \"source\": {  \"name\": \"product_id\",   \"type\": \"String\"  }, \"sink\": {  \"name\": \"product_id\",  \"type\": \"String\", \"physicalType\": \"character varying\"  } },'\n  ,activity('dynamic mapping').output.firstRow.json,'\n] }\n'))",
								"type": "Expression"
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('KR_DAESANG_E_KIMCHI_KI_product_dim_',pipeline().parameters.pip_fileNumber,'.txt')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_nielsen_online_prod_temp"
								}
							}
						]
					},
					{
						"name": "pg_tb_nielsen_period",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "pg_tb_nielsen_product_",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "month",
										"value": {
											"value": "@variables('yyyymm')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": {
									"value": "delete from cd_ods.tb_nielsen_online_per_temp",
									"type": "Expression"
								},
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "period_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "period_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "period_short_description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "period_short_description",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "period_long_description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "period_long_description",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "period_ending_datetime",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "period_ending_datetime",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "niq_calendar",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "niq_calendar",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "niq_periodicity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "niq_periodicity",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('KR_DAESANG_E_KIMCHI_KI_period_dim_',pipeline().parameters.pip_fileNumber,'.txt')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_nielsen_online_per_temp"
								}
							}
						]
					},
					{
						"name": "pg_tb_nielsen_fct",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "pg_tb_nielsen_period",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "month",
										"value": {
											"value": "@variables('yyyymm')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": {
									"value": "delete from cd_ods.tb_nielsen_online_fct\nwhere ifyyyymm = '@{variables('yyyymm')}'",
									"type": "Expression"
								},
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "fact_column",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fact_column",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "fact_description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fact_description",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "fact_group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fact_group",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "fact_subgroup",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fact_subgroup",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String"
										},
										"sink": {
											"name": "ifyyyymm",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('KR_DAESANG_E_KIMCHI_KI_facts_ref_',pipeline().parameters.pip_fileNumber,'.txt')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_nielsen_online_fct"
								}
							}
						]
					},
					{
						"name": "pg_tb_nielsen_data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "dynamic mapping_data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "month",
										"value": {
											"value": "@variables('yyyymm')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": {
									"value": "truncate table  cd_ods.tb_nielsen_online_data_temp\n",
									"type": "Expression"
								},
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"value": "@json(concat('{\n\"type\": \"TabularTranslator\",\n\"mappings\": [   \n    { \"source\": {  \"name\": \"market_id\",   \"type\": \"String\"  }, \"sink\": {  \"name\": \"market_id\",  \"type\": \"String\", \"physicalType\": \"character varying\"  }},\n    { \"source\": {  \"name\": \"product_id\",   \"type\": \"String\"  }, \"sink\": {  \"name\": \"product_id\",  \"type\": \"String\", \"physicalType\": \"character varying\"  }},\n    { \"source\": {  \"name\": \"period_id\",   \"type\": \"String\"  }, \"sink\": {  \"name\": \"period_id\",  \"type\": \"String\", \"physicalType\": \"character varying\"  }},'\n  ,activity('dynamic mapping_data').output.firstRow.json,'\n] }\n'))",
								"type": "Expression"
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('KR_DAESANG_E_KIMCHI_KI_aggregated_data_',pipeline().parameters.pip_fileNumber,'.txt')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_nielsen_online_data_temp"
								}
							}
						]
					},
					{
						"name": "dynamic mapping_data",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "pg_tb_nielsen_fct",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select string_agg('{  \"source\": { \"name\": \"'||a.sour||'\", \"type\": \"String\" }, \"sink\": {  \"name\": \"'||a.sink||'\", \"type\": \"String\", \"physicalType\": \"character varying\" } }'\n      ,',') as json\n  from (  \n\t\tselect fact_column as sour\n\t\t      ,lower(fact_column) as sink\n\t\t from  cd_ods.tb_nielsen_online_fct\t \n\t\t where ifyyyymm = '@{pipeline().parameters.pip_yyyymm}'\n\t    ) a",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					},
					{
						"name": "call  function",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "pg_tb_nielsen_data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select cd_ods.func_nielsen_online('@{variables('yyyymm')}') as rtn ;",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "매출(주문)/외부/유통사MS정보/닐슨_온라인"
					},
					"pip_yyyymm": {
						"type": "string"
					},
					"pip_fileNumber": {
						"type": "string"
					}
				},
				"variables": {
					"yyyymm": {
						"type": "String"
					},
					"fileNm": {
						"type": "String"
					},
					"minMonth": {
						"type": "String"
					},
					"maxMonth": {
						"type": "String"
					}
				},
				"folder": {
					"name": "매출_주문/외부/닐슨"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-15T09:05:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_BEST_RANKING_DATA_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- 초기 적재시, 월별로 모든 파일 Sink\n- 증분컬럼이 DATE 형식",
				"activities": [
					{
						"name": "Lookup Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT DISTINCT(DATE(', pipeline().parameters.IncCol, ')) STARTDT FROM ', pipeline().parameters.SourceTable, ' ORDER BY STARTDT')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Date').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data All date",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource",
											"query": {
												"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceTable, ' WHERE DATE(', pipeline().parameters.IncCol, ') = ','DATE(''', item().STARTDT, ''')')",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_RSN_SRC",
											"type": "DatasetReference",
											"parameters": {
												"SourceTable": {
													"value": "@pipeline().parameters.SourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@pipeline().parameters.AdlsDirectory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('W_RSN_네이버베스트_쇼핑카테고리랭킹정보_', pipeline().parameters.SourceTable,'_',formatDateTime(item().STARTDT, 'yyyyMMdd'),'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "BEST_RANKING_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "트렌드/외부/베스트상품"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "brd_crawl_time"
					}
				},
				"folder": {
					"name": "트렌드/외부/RSN"
				},
				"annotations": [],
				"lastPublishTime": "2022-10-31T07:52:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_BEST_RANKING_DATA_INC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Yesterday data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceTable, ' WHERE DATE(', pipeline().parameters.IncCol, ') = DATE_ADD(CURDATE(), INTERVAL -1 DAY)')",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('W_RSN_네이버베스트_쇼핑카테고리랭킹정보_', pipeline().parameters.SourceTable,'_', addDays(addHours(utcNow(), 9), -1, 'yyyyMMdd'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "BEST_RANKING_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "트렌드/외부/베스트상품"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "brd_crawl_time"
					}
				},
				"variables": {
					"prev_start": {
						"type": "String",
						"defaultValue": "@startOfMonth(addToTime(addHours(utcNow(), 9), -1, 'Month'), 'yyyyMMdd')"
					},
					"prev_end": {
						"type": "String",
						"defaultValue": "@adddays(startOfMonth(addHours(utcNow(), 9)), -1, 'yyyyMMdd')"
					},
					"dd": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "트렌드/외부/RSN"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-15T08:49:47Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_PG_SEARCH_KEYWORD_DATA_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_RSN_SEARCHING_KEYWORD_M",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {
										"SinkSchema": "cd_portal",
										"SinkTable": "tb_search_keyword"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "트렌드/외부/RSN"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-01T05:22:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_PG_SEARCH_KEYWORD_DATA_INC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_RSN_SEARCHING_KEYWORD_INC",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"date": {
											"value": "@pipeline().parameters.date",
											"type": "Expression"
										}
									},
									"sink1": {
										"SinkSchema": "cd_portal",
										"SinkTable": "tb_search_keyword"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"date": {
						"type": "string",
						"defaultValue": "-1"
					}
				},
				"folder": {
					"name": "트렌드/외부/RSN"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-04T11:26:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_SEARCH_KEYWORD_DATA_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- 초기 적재시, 월별로 모든 파일 Sink\n- 증분컬럼이 DATE 형식",
				"activities": [
					{
						"name": "Lookup Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT DISTINCT(DATE(', pipeline().parameters.IncCol, ')) STARTDT FROM ', pipeline().parameters.SourceTable, ' ORDER BY STARTDT')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Date').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data All date",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource",
											"query": {
												"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceTable, ' WHERE DATE(', pipeline().parameters.IncCol, ') = ','DATE(''', item().STARTDT, ''')')",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_RSN_SRC",
											"type": "DatasetReference",
											"parameters": {
												"SourceTable": {
													"value": "@pipeline().parameters.SourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@pipeline().parameters.AdlsDirectory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('D_RSN_네이버검색어추이_일일검색량정보_', pipeline().parameters.SourceTable,'_',formatDateTime(item().STARTDT, 'yyyyMMdd'),'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "SEARCH_KEYWORD_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "트렌드/외부/검색어추이"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "skd_crawl_time"
					}
				},
				"folder": {
					"name": "트렌드/외부/RSN"
				},
				"annotations": [],
				"lastPublishTime": "2022-10-31T07:52:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_SEARCH_KEYWORD_DATA_INC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Yesterday data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceTable, ' WHERE DATE(', pipeline().parameters.IncCol, ') = DATE_ADD(CURDATE(), INTERVAL ',pipeline().parameters.date,' DAY)')",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_RSN_네이버검색어추이_일일검색량정보_', pipeline().parameters.SourceTable,'_', addDays(addHours(utcNow(), 9), int(pipeline().parameters.date), 'yyyyMMdd'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy Yesterday data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_RSN_SEARCHING_KEYWORD_INC",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"date": {
											"value": "@pipeline().parameters.date",
											"type": "Expression"
										}
									},
									"sink1": {
										"SinkSchema": "@pipeline().parameters.SinkSchema",
										"SinkTable": "@pipeline().parameters.SinkTable"
									}
								},
								"linkedServiceParameters": {
									"source1": {
										"schemaLinkedService": {
											"date": {
												"value": "@pipeline().parameters.date",
												"type": "Expression"
											}
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "SEARCH_KEYWORD_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "트렌드/외부/검색어추이"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "skd_crawl_time"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_portal"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_search_keyword"
					},
					"date": {
						"type": "string",
						"defaultValue": "-1"
					}
				},
				"variables": {
					"prev_start": {
						"type": "String",
						"defaultValue": "@startOfMonth(addToTime(addHours(utcNow(), 9), -1, 'Month'), 'yyyyMMdd')"
					},
					"prev_end": {
						"type": "String",
						"defaultValue": "@adddays(startOfMonth(addHours(utcNow(), 9)), -1, 'yyyyMMdd')"
					},
					"dd": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "트렌드/외부/RSN"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-11T08:42:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_SEARCH_KEYWORD_DATA_INC_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Yesterday data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceTable, ' WHERE DATE(', pipeline().parameters.IncCol, ') = DATE_ADD(CURDATE(), INTERVAL ',pipeline().parameters.date,' DAY)')",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_RSN_네이버검색어추이_일일검색량정보_', pipeline().parameters.SourceTable,'_', addDays(addHours(utcNow(), 9), -1, 'yyyyMMdd'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy Yesterday data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_RSN_SEARCHING_KEYWORD_INC",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"date": {
											"value": "@pipeline().parameters.date",
											"type": "Expression"
										}
									},
									"sink1": {
										"SinkSchema": "@pipeline().parameters.SinkSchema",
										"SinkTable": "@pipeline().parameters.SinkTable"
									}
								},
								"linkedServiceParameters": {
									"source1": {
										"schemaLinkedService": {
											"date": "@pipeline().parameters.date"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "SEARCH_KEYWORD_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "트렌드/외부/검색어추이"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "skd_crawl_time"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_portal"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_search_keyword"
					},
					"date": {
						"type": "string",
						"defaultValue": "-1"
					}
				},
				"variables": {
					"prev_start": {
						"type": "String",
						"defaultValue": "@startOfMonth(addToTime(addHours(utcNow(), 9), -1, 'Month'), 'yyyyMMdd')"
					},
					"prev_end": {
						"type": "String",
						"defaultValue": "@adddays(startOfMonth(addHours(utcNow(), 9)), -1, 'yyyyMMdd')"
					},
					"dd": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "트렌드/외부/RSN"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-11T08:42:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_STORE_DATA_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data All date",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT sd_id,\n replace(replace(replace(replace(replace(sd_name,char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'',''''), '','',''//CM//'') as sd_name,\n sd_url,\n site,\n site_id,\n sd_itemid,\n sd_reviewid,\n sd_brand,\n sd_maker,\n sd_ingredients,\n replace(replace(replace(replace(replace(sd_volume,char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'',''''), '','',''//CM//'') as sd_volume,\n sd_category,\n sd_low_price,\n sd_review_cnt,\n sd_rate,\n sd_low_store,\n sd_store_cnt,\n sd_crawl_time\n  FROM ', pipeline().parameters.SourceTable)",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_RSN_온라인몰_상품정보(중복제거)_', pipeline().parameters.SourceTable,'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy pg",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data All date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT sd_id,\n replace(replace(replace(replace(replace(sd_name,char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'',''''), '','',''//CM//'') as sd_name,\n sd_url,\n site,\n site_id,\n sd_itemid,\n sd_reviewid,\n sd_brand,\n sd_maker,\n sd_ingredients,\n replace(replace(replace(replace(replace(sd_volume,char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'',''''), '','',''//CM//'') as sd_volume,\n sd_category,\n sd_low_price,\n sd_review_cnt,\n sd_rate,\n sd_low_store,\n sd_store_cnt,\n sd_crawl_time\n  FROM ', pipeline().parameters.SourceTable)",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "delete from cd_mart.dm_cm_rsn_store_data_master_t",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "sd_id",
											"type": "Decimal"
										},
										"sink": {
											"name": "sd_id",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "sd_name",
											"type": "String"
										},
										"sink": {
											"name": "sd_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_url",
											"type": "String"
										},
										"sink": {
											"name": "sd_url",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "site",
											"type": "String"
										},
										"sink": {
											"name": "site",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "site_id",
											"type": "Int64"
										},
										"sink": {
											"name": "site_id",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "sd_itemid",
											"type": "String"
										},
										"sink": {
											"name": "sd_itemid",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_reviewid",
											"type": "String"
										},
										"sink": {
											"name": "sd_reviewid",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_brand",
											"type": "String"
										},
										"sink": {
											"name": "sd_brand",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_maker",
											"type": "String"
										},
										"sink": {
											"name": "sd_maker",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_ingredients",
											"type": "String"
										},
										"sink": {
											"name": "sd_ingredients",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "sd_volume",
											"type": "String"
										},
										"sink": {
											"name": "sd_volume",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_category",
											"type": "String"
										},
										"sink": {
											"name": "sd_category",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_low_price",
											"type": "Int64"
										},
										"sink": {
											"name": "sd_low_price",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "sd_review_cnt",
											"type": "Int64"
										},
										"sink": {
											"name": "sd_review_cnt",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "sd_rate",
											"type": "String"
										},
										"sink": {
											"name": "sd_rate",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_low_store",
											"type": "String"
										},
										"sink": {
											"name": "sd_low_store",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_store_cnt",
											"type": "Int64"
										},
										"sink": {
											"name": "sd_store_cnt",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "sd_crawl_time",
											"type": "DateTime"
										},
										"sink": {
											"name": "sd_crawl_time",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_mart",
									"SinkTable": "dm_cm_rsn_store_data_master_t"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "STORE_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/온라인몰정보/RSN_온라인몰_상품정보(중복제거)"
					}
				},
				"folder": {
					"name": "고객/외부/온라인몰정보"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-25T01:23:44Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_STORE_DATA_FULL_221104')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT DISTINCT(DATE(', pipeline().parameters.IncCol, ')) STARTDT FROM ', pipeline().parameters.SourceTable, ' ORDER BY STARTDT')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Date').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data All date",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource",
											"query": {
												"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceTable, ' WHERE DATE(', pipeline().parameters.IncCol, ') = ','DATE(''', item().STARTDT, ''')')",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_RSN_SRC",
											"type": "DatasetReference",
											"parameters": {
												"SourceTable": {
													"value": "@pipeline().parameters.SourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@pipeline().parameters.AdlsDirectory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('D_RSN_온라인몰_상품정보(중복제거)_', pipeline().parameters.SourceTable,'_',formatDateTime(item().STARTDT, 'yyyyMMdd'),'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "STORE_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/온라인몰정보/RSN_온라인몰_상품정보(중복제거)"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "sd_crawl_time"
					}
				},
				"folder": {
					"name": "_Old/고객/외부/RSN"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-11T01:40:51Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_STORE_DATA_INC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Yesterday data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceTable, ' WHERE DATE(', pipeline().parameters.IncCol, ') = DATE_ADD(CURDATE(), INTERVAL -1 DAY)')",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_RSN_온라인몰_상품정보(중복제거)_', pipeline().parameters.SourceTable,'_', addDays(addHours(utcNow(), 9), -1, 'yyyyMMdd'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "STORE_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/온라인몰정보/RSN_온라인몰_상품정보(중복제거)"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "sd_crawl_time"
					}
				},
				"variables": {
					"prev_start": {
						"type": "String",
						"defaultValue": "@startOfMonth(addToTime(addHours(utcNow(), 9), -1, 'Month'), 'yyyyMMdd')"
					},
					"prev_end": {
						"type": "String",
						"defaultValue": "@adddays(startOfMonth(addHours(utcNow(), 9)), -1, 'yyyyMMdd')"
					},
					"dd": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "고객/외부/온라인몰정보"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-15T08:49:47Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_STORE_PRICE_DATA_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT DISTINCT(DATE(', pipeline().parameters.IncCol, ')) STARTDT FROM ', pipeline().parameters.SourceTable, ' ORDER BY STARTDT')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Date').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data All date",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource",
											"query": {
												"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceTable, ' WHERE DATE(', pipeline().parameters.IncCol, ') = ','DATE(''', item().STARTDT, ''')')",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_RSN_SRC",
											"type": "DatasetReference",
											"parameters": {
												"SourceTable": {
													"value": "@pipeline().parameters.SourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@pipeline().parameters.AdlsDirectory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('D_RSN_온라인몰_일일가격변동정보_', pipeline().parameters.SourceTable,'_',formatDateTime(item().STARTDT, 'yyyyMMdd'),'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "STORE_PRICE_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/온라인몰정보/RSN_온라인몰_일일가격변동정보"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "spd_crawl_time"
					}
				},
				"folder": {
					"name": "고객/외부/온라인몰정보"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-12T10:42:17Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_STORE_PRICE_DATA_INC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Yesterday data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceTable, ' WHERE DATE(', pipeline().parameters.IncCol, ') = DATE_ADD(CURDATE(), INTERVAL -',pipeline().parameters.IncDate,' DAY)')",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_RSN_온라인몰_일일가격변동정보_', pipeline().parameters.SourceTable,'_', addDays(addHours(utcNow(), 9), int(concat('-',pipeline().parameters.IncDate)), 'yyyyMMdd'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "STORE_PRICE_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/온라인몰정보/RSN_온라인몰_일일가격변동정보"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "spd_crawl_time"
					},
					"IncDate": {
						"type": "string",
						"defaultValue": "1"
					}
				},
				"variables": {
					"prev_start": {
						"type": "String",
						"defaultValue": "@startOfMonth(addToTime(addHours(utcNow(), 9), -1, 'Month'), 'yyyyMMdd')"
					},
					"prev_end": {
						"type": "String",
						"defaultValue": "@adddays(startOfMonth(addHours(utcNow(), 9)), -1, 'yyyyMMdd')"
					},
					"dd": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "고객/외부/온라인몰정보"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-15T08:49:47Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_STORE_REVIEW_DATA_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT DISTINCT(DATE(', pipeline().parameters.IncCol, ')) STARTDT FROM ', pipeline().parameters.SourceTable, ' ORDER BY STARTDT')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Date').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data All date",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource",
											"query": {
												"value": "@concat('SELECT srd_id,\n\tsd_reviewid,\n\tsite,\n\tsite_id,\n\treplace(replace(replace(replace(replace(replace(srd_title, ''\\\\'', ''＼''),char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'',''''), '','',''//CM//'') as srd_title,\n    replace(replace(replace(replace(replace(replace(srd_content, ''\\\\'', ''＼''),char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'',''''), '','',''//CM//'') as srd_content,\n\tsrd_writer,\n\tsrd_writetime,\n\tsrd_rate,\n\tsrd_crawl_time\n\tFROM ',\npipeline().parameters.SourceTable,\n ' WHERE DATE(', pipeline().parameters.IncCol, ') = ','DATE(''', item().STARTDT, ''')')",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_RSN_SRC",
											"type": "DatasetReference",
											"parameters": {
												"SourceTable": {
													"value": "@pipeline().parameters.SourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@pipeline().parameters.AdlsDirectory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('D_RSN_온라인몰_리뷰정보(중복제거)_', pipeline().parameters.SourceTable,'_',formatDateTime(item().STARTDT, 'yyyyMMdd'),'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "STORE_REVIEW_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/온라인몰정보/RSN_온라인몰_리뷰정보(중복제거)"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "srd_crawl_time"
					}
				},
				"folder": {
					"name": "고객/외부/온라인몰정보"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-02T06:27:34Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_STORE_REVIEW_DATA_FULL_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select to_char(date(now()) - generate_series(1,39) ,'yyyy-mm-dd') as STARTDT",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Date').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data All date",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource",
											"query": {
												"value": "@concat('SELECT srd_id,\n\tsd_reviewid,\n\tcase when site = ''[대상]마켓컬리_STORE'' then ''마켓컬리_STORE'' else  site end  as site,\n\tsite_id,\n\treplace(replace(replace(replace(replace(replace(srd_title, ''\\\\'', ''＼''),char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'',''''), '','',''//CM//'') as srd_title,\n    replace(replace(replace(replace(replace(replace(srd_content, ''\\\\'', ''＼''),char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'',''''), '','',''//CM//'') as srd_content,\n\tsrd_writer,\n\tsrd_writetime,\n\tsrd_rate,\n\tsrd_crawl_time\n\tFROM ',\npipeline().parameters.SourceTable,\n ' WHERE DATE(', pipeline().parameters.IncCol, ') = ','DATE(''', item().STARTDT, ''')')",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_RSN_SRC",
											"type": "DatasetReference",
											"parameters": {
												"SourceTable": {
													"value": "@pipeline().parameters.SourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@pipeline().parameters.AdlsDirectory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('D_RSN_온라인몰_리뷰정보(중복제거)_', pipeline().parameters.SourceTable,'_',formatDateTime(item().STARTDT, 'yyyyMMdd'),'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "STORE_REVIEW_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/온라인몰정보/RSN_온라인몰_리뷰정보(중복제거)"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "srd_crawl_time"
					}
				},
				"folder": {
					"name": "고객/외부/온라인몰정보"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-02T06:30:05Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_STORE_REVIEW_DATA_INC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Yesterday data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT srd_id,\n\tsd_reviewid,\n\tcase when site = ''[대상]마켓컬리_STORE'' then ''마켓컬리_STORE'' else  site end  as site,\n\tsite_id,\n\treplace(replace(replace(replace(replace(replace(srd_title, ''\\\\'', ''＼''),char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'',''''), '','',''//CM//'') as srd_title,\n    replace(replace(replace(replace(replace(replace(srd_content, ''\\\\'', ''＼''),char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'',''''), '','',''//CM//'') as srd_content,\n\tsrd_writer,\n\tsrd_writetime,\n\tsrd_rate,\n\tsrd_crawl_time\n\tFROM ',\npipeline().parameters.SourceTable,\n ' WHERE DATE(', pipeline().parameters.IncCol, ') = DATE_ADD(CURDATE(), INTERVAL -1 DAY)')",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_RSN_온라인몰_리뷰정보(중복제거)_', pipeline().parameters.SourceTable,'_', addDays(addHours(utcNow(), 9), -1, 'yyyyMMdd'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy Yesterday data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_ADLS_PG_STORE_REVIEW_INC",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"AdlsDirectory": "@pipeline().parameters.AdlsDirectory",
										"FileName": {
											"value": "@concat('D_RSN_온라인몰_리뷰정보(중복제거)_', pipeline().parameters.SourceTable,'_', addDays(addHours(utcNow(), 9), -1, 'yyyyMMdd'),'.csv')",
											"type": "Expression"
										}
									},
									"sink1": {
										"SinkSchema": "@concat(pipeline().parameters.SinkSchema)",
										"SinkTable": "@concat(pipeline().parameters.SinkTable)"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "STORE_REVIEW_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/온라인몰정보/RSN_온라인몰_리뷰정보(중복제거)"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "srd_crawl_time"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_mart"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "dm_sl_documents_summary_t"
					}
				},
				"variables": {
					"prev_start": {
						"type": "String",
						"defaultValue": "@startOfMonth(addToTime(addHours(utcNow(), 9), -1, 'Month'), 'yyyyMMdd')"
					},
					"prev_end": {
						"type": "String",
						"defaultValue": "@adddays(startOfMonth(addHours(utcNow(), 9)), -1, 'yyyyMMdd')"
					},
					"dd": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "고객/외부/온라인몰정보"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-02T07:43:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_STORE_REVIEW_DATA_INC_ADLS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Yesterday data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT srd_id,\n\tsd_reviewid,\n\tsite,\n\tsite_id,\n\treplace(replace(replace(replace(replace(replace(srd_title, ''\\\\'', ''＼''),char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'',''''), '','',''//CM//'') as srd_title,\n    replace(replace(replace(replace(replace(replace(srd_content, ''\\\\'', ''＼''),char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'',''''), '','',''//CM//'') as srd_content,\n\tsrd_writer,\n\tsrd_writetime,\n\tsrd_rate,\n\tsrd_crawl_time\n\tFROM ',\npipeline().parameters.SourceTable,\n ' WHERE DATE(', pipeline().parameters.IncCol, ') = DATE_ADD(CURDATE(), INTERVAL -',pipeline().parameters.date,' DAY)\n ')",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_RSN_온라인몰_리뷰정보(중복제거)_', pipeline().parameters.SourceTable,'_', addDays(addHours(utcNow(), 9), Int(concat('-',pipeline().parameters.date)), 'yyyyMMdd'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "STORE_REVIEW_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/온라인몰정보/RSN_온라인몰_리뷰정보(중복제거)"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "srd_crawl_time"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_mart"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "dm_sl_documents_test"
					},
					"date": {
						"type": "string"
					}
				},
				"variables": {
					"prev_start": {
						"type": "String",
						"defaultValue": "@startOfMonth(addToTime(addHours(utcNow(), 9), -1, 'Month'), 'yyyyMMdd')"
					},
					"prev_end": {
						"type": "String",
						"defaultValue": "@adddays(startOfMonth(addHours(utcNow(), 9)), -1, 'yyyyMMdd')"
					},
					"dd": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "고객/외부/온라인몰정보"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-02T06:27:34Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_STORE_REVIEW_DATA_INC_PG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_ADLS_PG_STORE_REVIEW_INC",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"AdlsDirectory": "@pipeline().parameters.AdlsDirectory",
										"FileName": {
											"value": "@concat('D_RSN_온라인몰_리뷰정보(중복제거)_', pipeline().parameters.SourceTable,'_', addDays(addHours(utcNow(), 9), Int(pipeline().parameters.date), 'yyyyMMdd'),'.csv')",
											"type": "Expression"
										}
									},
									"sink1": {
										"SinkSchema": "@concat(pipeline().parameters.SinkSchema)",
										"SinkTable": "@concat(pipeline().parameters.SinkTable)"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "STORE_REVIEW_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/온라인몰정보/RSN_온라인몰_리뷰정보(중복제거)"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "srd_crawl_time"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_mart"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "dm_sl_documents_summary_t"
					},
					"date": {
						"type": "string"
					}
				},
				"variables": {
					"prev_start": {
						"type": "String",
						"defaultValue": "@startOfMonth(addToTime(addHours(utcNow(), 9), -1, 'Month'), 'yyyyMMdd')"
					},
					"prev_end": {
						"type": "String",
						"defaultValue": "@adddays(startOfMonth(addHours(utcNow(), 9)), -1, 'yyyyMMdd')"
					},
					"dd": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "고객/외부/온라인몰정보"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-12T06:18:24Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_STORE_REVIEW_DATA_INC_PG_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_ADLS_PG_STORE_REVIEW_INC_sungun",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {
										"SinkSchema": "@concat(pipeline().parameters.SinkSchema)",
										"SinkTable": "@concat(pipeline().parameters.SinkTable)"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "STORE_REVIEW_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/온라인몰정보/RSN_온라인몰_리뷰정보(중복제거)"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "srd_crawl_time"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_mart"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "dm_sl_documents_summary_t"
					}
				},
				"variables": {
					"prev_start": {
						"type": "String",
						"defaultValue": "@startOfMonth(addToTime(addHours(utcNow(), 9), -1, 'Month'), 'yyyyMMdd')"
					},
					"prev_end": {
						"type": "String",
						"defaultValue": "@adddays(startOfMonth(addHours(utcNow(), 9)), -1, 'yyyyMMdd')"
					},
					"dd": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "고객/외부/온라인몰정보"
				},
				"annotations": [],
				"lastPublishTime": "2023-02-02T08:52:47Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_STORE_REVIEW_DATA_INC_TEST')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Yesterday data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT srd_id,\n\tsd_reviewid,\n\tsite,\n\tsite_id,\n\treplace(replace(replace(srd_title,char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂'') as srd_title,\n    replace(replace(replace(replace(srd_content,char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'','''') as srd_content,\n\tsrd_writer,\n\tsrd_writetime,\n\tsrd_rate,\n\tsrd_crawl_time\n\tFROM ',\npipeline().parameters.SourceTable,\n ' WHERE srd_content like ''병이 네모나서%''')",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "D_RSN_온라인몰_리뷰정보(중복제거)_00000000.csv",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "STORE_REVIEW_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/온라인몰정보/RSN_온라인몰_리뷰정보(중복제거)"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "srd_crawl_time"
					}
				},
				"variables": {
					"prev_start": {
						"type": "String",
						"defaultValue": "@startOfMonth(addToTime(addHours(utcNow(), 9), -1, 'Month'), 'yyyyMMdd')"
					},
					"prev_end": {
						"type": "String",
						"defaultValue": "@adddays(startOfMonth(addHours(utcNow(), 9)), -1, 'yyyyMMdd')"
					},
					"dd": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "고객/외부/온라인몰정보"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-15T08:49:47Z"
			},
			"dependsOn": []
		}
	]
}