CDI-Hub-ADF-p01/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory 이름",
			"defaultValue": "CDI-Hub-ADF-p01"
		},
		"GitHub1_credential": {
			"type": "secureString",
			"metadata": "'GitHub1'의 'credential'에 대한 보안 문자열"
		},
		"LKS_FTP_P01_password": {
			"type": "secureString",
			"metadata": "'LKS_FTP_P01'의 'password'에 대한 보안 문자열"
		},
		"LKS_ORA_P01_connectionString": {
			"type": "secureString",
			"metadata": "'LKS_ORA_P01'의 'connectionString'에 대한 보안 문자열"
		},
		"LKS_PG_P01_connectionString": {
			"type": "secureString",
			"metadata": "'LKS_PG_P01'의 'connectionString'에 대한 보안 문자열"
		},
		"LKS_RSN_P01_connectionString": {
			"type": "secureString",
			"metadata": "'LKS_RSN_P01'의 'connectionString'에 대한 보안 문자열"
		},
		"LKS_SFTP_P01_passPhrase": {
			"type": "secureString",
			"metadata": "'LKS_SFTP_P01'의 'passPhrase'에 대한 보안 문자열"
		},
		"LKS_SFTP_P02_password": {
			"type": "secureString",
			"metadata": "'LKS_SFTP_P02'의 'password'에 대한 보안 문자열"
		},
		"GitHub1_properties_typeProperties_username": {
			"type": "string",
			"defaultValue": "cdi_dna@daesang.com"
		},
		"HttpServer1_P02_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://openapi.d2b.go.kr"
		},
		"HttpServer_CUSTOMER_OPINION_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "http://des.daumsoft.com"
		},
		"HttpServer_FoodSafety_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://openapi.foodsafetykorea.go.kr"
		},
		"HttpServer_P01_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://apis.data.go.kr"
		},
		"LKS_ADLS_P01_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://cdidataadlsp01.dfs.core.windows.net/"
		},
		"LKS_FTP_P01_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "192.168.60.10"
		},
		"LKS_FTP_P01_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "administrator"
		},
		"LKS_SFTP_P01_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "sftp.pdslink.co.kr"
		},
		"LKS_SFTP_P01_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "ey_hanyoung"
		},
		"LKS_SFTP_P02_properties_typeProperties_host": {
			"type": "string",
			"defaultValue": "10.0.80.4"
		},
		"LKS_SFTP_P02_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "nielsen_user"
		},
		"REST_API_KAMIS_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://www.kamis.or.kr/"
		},
		"REST_API_P01_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://apis.data.go.kr/"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/DTS_RSN_STORE_REVIEW_M')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LKS_ADLS_P02",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Dataflow"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "cdi-root"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"nullValue": "\"none\"",
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "srd_id",
						"type": "String"
					},
					{
						"name": "sd_reviewid",
						"type": "String"
					},
					{
						"name": "site",
						"type": "String"
					},
					{
						"name": "site_id",
						"type": "String"
					},
					{
						"name": "srd_title",
						"type": "String"
					},
					{
						"name": "srd_content",
						"type": "String"
					},
					{
						"name": "srd_writer",
						"type": "String"
					},
					{
						"name": "srd_writetime",
						"type": "String"
					},
					{
						"name": "srd_rate",
						"type": "String"
					},
					{
						"name": "srd_crawl_time",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/DTS_SNK_PG_BO_CONTENTS')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LKS_ADLS_P02",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "M_CD_BESTON.ES_PLUSREVIEWARTICLE.csv",
						"folderPath": "고객/내부/베스트온상품후기",
						"fileSystem": "cdi-root"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SNO",
						"type": "String"
					},
					{
						"name": "CHANNEL",
						"type": "String"
					},
					{
						"name": "CONTENTS",
						"type": "String"
					},
					{
						"name": "GOODSNO",
						"type": "String"
					},
					{
						"name": "ORDERGOODSNO",
						"type": "String"
					},
					{
						"name": "REGDT",
						"type": "String"
					},
					{
						"name": "MODDT",
						"type": "String"
					},
					{
						"name": "GOODSCD",
						"type": "String"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dm_sl_doc_sum_t')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LKS_PG_P02",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "DataMart"
				},
				"annotations": [],
				"type": "AzurePostgreSqlTable",
				"schema": [
					{
						"name": "id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "sd_review_id",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "channel_nm",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "title",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "contents",
						"type": "text",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "url",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "srd_rate",
						"type": "character varying",
						"precision": 0,
						"scale": 0
					},
					{
						"name": "write_time",
						"type": "date",
						"precision": 0,
						"scale": 0
					}
				],
				"typeProperties": {
					"schema": "cd_mart",
					"table": "dm_sl_document_summary_t_temp"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/GitHub1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "GitHub",
				"typeProperties": {
					"username": "[parameters('GitHub1_properties_typeProperties_username')]",
					"credential": {
						"type": "SecureString",
						"value": "[parameters('GitHub1_credential')]"
					},
					"encryptedCredential": "eyJDcmVkZW50aWFsSWQiOiI4NThkN2IzYy1lZTdlLTQ5ZDUtYjAzOC0xMjBhNjg0MTA4M2IiLCJWZXJzaW9uIjoiMi4wIiwiQ2xhc3NUeXBlIjoiTWljcm9zb2Z0LkRhdGFQcm94eS5Db3JlLkludGVyU2VydmljZURhdGFDb250cmFjdC5DcmVkZW50aWFsU1UwNkNZMTQifQ=="
				},
				"connectVia": {
					"referenceName": "IR-SHIR-P01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer1_P02')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "방위사업청 연계를 위한 서비",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer1_P02_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "IR-SHIR-P01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer_CUSTOMER_OPINION')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "바이브컴퍼니(의견정보) API Gz파일 호출",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer_CUSTOMER_OPINION_properties_typeProperties_url')]",
					"enableServerCertificateValidation": false,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "IR-SHIR-P01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer_FoodSafety')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "식품의약품안전처 API 호",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer_FoodSafety_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "IR-SHIR-P01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/HttpServer_P01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "HTTP_XML 형식 REQ\n기상청 OpenAPI서비스 기준으로 생성",
				"annotations": [],
				"type": "HttpServer",
				"typeProperties": {
					"url": "[parameters('HttpServer_P01_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "IR-SHIR-P01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LKS_ADLS_P01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LKS_ADLS_P01_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "IR-SHIR-P01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LKS_FTP_P01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "FtpServer",
				"typeProperties": {
					"host": "[parameters('LKS_FTP_P01_properties_typeProperties_host')]",
					"port": 21,
					"enableSsl": false,
					"enableServerCertificateValidation": false,
					"authenticationType": "Basic",
					"userName": "[parameters('LKS_FTP_P01_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LKS_FTP_P01_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IR-SHIR-P01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LKS_ORA_P01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "Oracle",
				"typeProperties": {
					"connectionString": "[parameters('LKS_ORA_P01_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-SHIR-P01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LKS_PG_P01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzurePostgreSql",
				"typeProperties": {
					"connectionString": "[parameters('LKS_PG_P01_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-SHIR-P01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LKS_RSN_P01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "MySql",
				"typeProperties": {
					"connectionString": "[parameters('LKS_RSN_P01_connectionString')]"
				},
				"connectVia": {
					"referenceName": "IR-SHIR-P01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LKS_SFTP_P01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Marketlink",
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('LKS_SFTP_P01_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "SshPublicKey",
					"userName": "[parameters('LKS_SFTP_P01_properties_typeProperties_userName')]",
					"privateKeyPath": "C:\\EY_SSH_private_key",
					"passPhrase": {
						"type": "SecureString",
						"value": "[parameters('LKS_SFTP_P01_passPhrase')]"
					}
				},
				"connectVia": {
					"referenceName": "IR-SHIR-P01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LKS_SFTP_P02')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "닐",
				"annotations": [],
				"type": "Sftp",
				"typeProperties": {
					"host": "[parameters('LKS_SFTP_P02_properties_typeProperties_host')]",
					"port": 22,
					"skipHostKeyValidation": true,
					"authenticationType": "Basic",
					"userName": "[parameters('LKS_SFTP_P02_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('LKS_SFTP_P02_password')]"
					}
				},
				"connectVia": {
					"referenceName": "IR-SHIR-P01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/REST_API_KAMIS')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('REST_API_KAMIS_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "IR-SHIR-P01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/REST_API_P01')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "REST_JSON 형식 REQ\n기상청 OpenAPI서비스 기준으로 생성\n분류 필요 시 추가생성 필요",
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('REST_API_P01_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				},
				"connectVia": {
					"referenceName": "IR-SHIR-P01",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_KMA_WEATHER_D_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set variable1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"value": "@json(concat(' {\n                        \"type\": \"TabularTranslator\",\n                        \"mappings\": [\n                            {\n                                \"source\": {\n                                    \"path\": \"[''lunc'']\"\n                                },\n                                \"sink\": {\n                                    \"name\": \"lunc\",\n                                    \"type\": \"String\"\n                                }\n                            }\n                        ],\n                        \"collectionReference\": \"$[''',variables('table'),'''][''row'']\"\n                    }\n'))",
								"type": "Expression"
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_API_MND",
								"type": "DatasetReference",
								"parameters": {
									"url": {
										"value": "@concat('/3130313632363038303933313532313334/json/DS_TB_MNDT_DATEBYMLSVC_7652/1/10')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "chosj_Test"
								}
							}
						]
					},
					{
						"name": "Set variable1",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "table",
							"value": "DS_TB_MNDT_DATEBYMLSVC_7652"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "Industry/외부/날씨데이터"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "일별날씨데이터"
					},
					"AdlsDirectoryConf": {
						"type": "string",
						"defaultValue": "Industry/외부/날씨데이터/conf"
					},
					"ConfFile": {
						"type": "string",
						"defaultValue": "날씨데이터_일별날씨데이터_conf"
					},
					"AdlsDirectoryOri": {
						"type": "string",
						"defaultValue": "Industry/외부/날씨데이터/일별날씨데이터"
					},
					"Apikey": {
						"type": "string",
						"defaultValue": "W26gwh49fADZe9fVLqkaAlzn5IPh6n9jf9FCHkThIs6UDblFv46xFoLaNzl011vFX8daAemoPlw4BubABfFBRg%3D%3D"
					}
				},
				"variables": {
					"table": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/날씨데이터"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-23T07:55:31Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_MND_DATE_BY_ML_SVC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "수요기관정보조회",
				"activities": [
					{
						"name": "set unitcd",
						"description": "당일자",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "unitcd",
							"value": {
								"value": "@pipeline().parameters.pipunitcd",
								"type": "Expression"
							}
						}
					},
					{
						"name": "set unitnm",
						"description": "당일자",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "unitnm",
							"value": {
								"value": "@pipeline().parameters.pipunitnm",
								"type": "Expression"
							}
						}
					},
					{
						"name": "set tablename",
						"description": "당일자",
						"type": "SetVariable",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"variableName": "tablename",
							"value": {
								"value": "@pipeline().parameters.piptablename",
								"type": "Expression"
							}
						}
					},
					{
						"name": "If Condition1",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "set tablename_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(variables('tablename'), 'DS_TB_MNDT_DATEBYMLSVC')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "Copy data2",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "unitcd",
													"value": {
														"value": "@variables('unitcd')",
														"type": "Expression"
													}
												},
												{
													"name": "unitnm",
													"value": {
														"value": "@variables('unitnm')",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"value": "@json(concat(\n'\n{\n                                    \"type\": \"TabularTranslator\",\n                                    \"mappings\": [\n                                        {\n                                            \"source\": {\n                                                \"path\": \"[''dinr_cal'']\"\n                                            },\n                                            \"sink\": {\n                                                \"name\": \"dinr_cal\",\n                                                \"type\": \"String\"\n                                            }\n                                        },\n                                        {\n                                            \"source\": {\n                                                \"path\": \"[''lunc'']\"\n                                            },\n                                            \"sink\": {\n                                                \"name\": \"lunc\",\n                                                \"type\": \"String\"\n                                            }\n                                        },\n                                        {\n                                            \"source\": {\n                                                \"path\": \"[''sum_cal'']\"\n                                            },\n                                            \"sink\": {\n                                                \"name\": \"sum_cal\",\n                                                \"type\": \"String\"\n                                            }\n                                        },\n                                        {\n                                            \"source\": {\n                                                \"path\": \"[''adspcfd'']\"\n                                            },\n                                            \"sink\": {\n                                                \"name\": \"adspcfd\",\n                                                \"type\": \"String\"\n                                            }\n                                        },\n                                        {\n                                            \"source\": {\n                                                \"path\": \"[''adspcfd_cal'']\"\n                                            },\n                                            \"sink\": {\n                                                \"name\": \"adspcfd_cal\",\n                                                \"type\": \"String\"\n                                            }\n                                        },\n                                        {\n                                            \"source\": {\n                                                \"path\": \"[''dates'']\"\n                                            },\n                                            \"sink\": {\n                                                \"name\": \"dates\",\n                                                \"type\": \"String\"\n                                            }\n                                        },\n                                        {\n                                            \"source\": {\n                                                \"path\": \"[''lunc_cal'']\"\n                                            },\n                                            \"sink\": {\n                                                \"name\": \"lunc_cal\",\n                                                \"type\": \"String\"\n                                            }\n                                        },\n                                        {\n                                            \"source\": {\n                                                \"path\": \"[''brst'']\"\n                                            },\n                                            \"sink\": {\n                                                \"name\": \"brst\",\n                                                \"type\": \"String\"\n                                            }\n                                        },\n                                        {\n                                            \"source\": {\n                                                \"path\": \"[''dinr'']\"\n                                            },\n                                            \"sink\": {\n                                                \"name\": \"dinr\",\n                                                \"type\": \"String\"\n                                            }\n                                        },\n                                        {\n                                            \"source\": {\n                                                \"path\": \"[''brst_cal'']\"\n                                            },\n                                            \"sink\": {\n                                                \"name\": \"brst_cal\",\n                                                \"type\": \"String\"\n                                            }\n                                        },\n                                        {\n                                            \"source\": {\n                                                \"path\": \"$[''unitcd'']\"\n                                            },\n                                            \"sink\": {\n                                                \"name\": \"unitcd\",\n                                                \"type\": \"String\"\n                                            }\n                                        },\n                                        {\n                                            \"source\": {\n                                                \"path\": \"$[''unitnm'']\"\n                                            },\n                                            \"sink\": {\n                                                \"name\": \"unitnm\",\n                                                \"type\": \"String\"\n                                            }\n                                        }\n                                    ],\n                                    \"collectionReference\": \"$[''',variables('tablename'),'''][''row'']\",\n                                    \"mapComplexValuesToString\": false\n                                }\n'\n))",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_MND",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat(pipeline().parameters.Apikey,'/json/',variables('tablename'),'/1/',variables('list_total_count'))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK_P02",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							],
							"ifTrueActivities": [
								{
									"name": "Copy data3",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "unitcd",
													"value": {
														"value": "@variables('unitcd')",
														"type": "Expression"
													}
												},
												{
													"name": "unitnm",
													"value": {
														"value": "@variables('unitnm')",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['lunc']"
													},
													"sink": {
														"name": "lunc",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['dates']"
													},
													"sink": {
														"name": "dates",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['brst']"
													},
													"sink": {
														"name": "brst",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['dinr']"
													},
													"sink": {
														"name": "dinr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['unitcd']"
													},
													"sink": {
														"name": "unitcd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['unitnm']"
													},
													"sink": {
														"name": "unitnm",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['DS_TB_MNDT_DATEBYMLSVC']['row']"
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_MND",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat(pipeline().parameters.Apikey,'/json/',variables('tablename'),'/1/', variables('list_total_count'))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK_P02",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "get totalcount",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "set unitcd",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "set unitnm",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "set tablename",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DTS_API_MND",
								"type": "DatasetReference",
								"parameters": {
									"url": {
										"value": "@concat(pipeline().parameters.Apikey,'/json/',variables('tablename'),'/1/10')",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "set tablename_copy1",
						"description": "당일자",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "get totalcount",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"variableName": "list_total_count",
							"value": {
								"value": "@string(activity('get totalcount').output.firstRow[variables('tablename')].list_total_count)",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"Apikey": {
						"type": "string",
						"defaultValue": "/3130313632363038303933313532313334"
					},
					"service": {
						"type": "string"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_mnd_date_by_ml_svc_increase"
					},
					"pipunitcd": {
						"type": "string"
					},
					"pipunitnm": {
						"type": "string"
					},
					"piptablename": {
						"type": "string"
					},
					"pipstartindex": {
						"type": "string"
					}
				},
				"variables": {
					"unitcd": {
						"type": "String"
					},
					"unitnm": {
						"type": "String"
					},
					"tablename": {
						"type": "String"
					},
					"list_total_count": {
						"type": "String"
					},
					"table": {
						"type": "String"
					},
					"start_index": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/국방부"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/CUSTOMER_OPINION_JsonGz')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "HttpServer_CUSTOMER_OPINION",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"channel": {
						"type": "string"
					},
					"date": {
						"type": "string"
					},
					"authkey": {
						"type": "string"
					},
					"category1": {
						"type": "string"
					},
					"category2": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Source"
				},
				"annotations": [],
				"type": "Binary",
				"typeProperties": {
					"location": {
						"type": "HttpServerLocation",
						"relativeUrl": {
							"value": "@concat('/download/',dataset().category1,'/DAESANG/',dataset().category2,'/',dataset().channel,'/',dataset().date,'?authkey=',dataset().authkey)",
							"type": "Expression"
						}
					},
					"compression": {
						"type": "gzip",
						"level": "Optimal"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/HttpServer_CUSTOMER_OPINION')]"
			]
		}
	]
}