CDI-Hub-ADF-p01/linkedTemplates/ArmTemplate_8.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory 이름",
			"defaultValue": "CDI-Hub-ADF-p01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_CUSTOMER_TOPKEYWORD_TWITTER_M_csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "소셜 고객 의견 데이터 Top키워드 블로그\n수동",
				"activities": [
					{
						"name": "API REQ INFO",
						"description": "API 호출 정보를 가져오기 위해 설정 파일에서 Date을 읽어옵니다.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectoryConf",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat(pipeline().parameters.ConfFile,'.csv')",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"description": "cdi-root / 고객/외부/Top키워드/블로그 위치에 항목별로 복사합니다.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "API REQ INFO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('API REQ INFO').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 20,
							"activities": [
								{
									"name": "API REQ",
									"description": "각 API 호출",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"maxConcurrentConnections": 1,
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "projectId",
														"type": "String"
													},
													"sink": {
														"name": "projectId",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "date",
														"type": "String"
													},
													"sink": {
														"name": "date",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "keyword",
														"type": "String"
													},
													"sink": {
														"name": "keyword",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "frequency",
														"type": "String"
													},
													"sink": {
														"name": "frequency",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_CUSTOMER_TOPKEYWORD_CsvGz",
											"type": "DatasetReference",
											"parameters": {
												"channel": "@pipeline().parameters.Channel",
												"date": "@formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd')",
												"authkey": "@pipeline().parameters.Apikey",
												"category1": "@pipeline().parameters.Category1",
												"category2": "@pipeline().parameters.Category2"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_CSV_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": "@concat(pipeline().parameters.AdlsDirectory)",
												"FileName": "@concat(pipeline().parameters.FileName,'_',formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd'), '.csv')"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/Top키워드/트위터"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "Top키워드_트위터"
					},
					"AdlsDirectoryConf": {
						"type": "string",
						"defaultValue": "고객/외부/Top키워드/conf"
					},
					"ConfFile": {
						"type": "string",
						"defaultValue": "Top키워드_COM_MANUAL_conf"
					},
					"Apikey": {
						"type": "string",
						"defaultValue": "50151fed78146d9974fc10b335738ef395cc6d0c20998505442c7d1c75642242"
					},
					"Channel": {
						"type": "string",
						"defaultValue": "ko.twitter"
					},
					"Category1": {
						"type": "string",
						"defaultValue": "top_keyword"
					},
					"Category2": {
						"type": "string",
						"defaultValue": "TOP_KEYWORD"
					}
				},
				"folder": {
					"name": "고객/외부/Top키워드CSV"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-13T11:41:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_CUSTOMER_TOPKEYWORD_TWITTER_csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "소셜 고객 의견 데이터 Top키워드 블로그\n수동",
				"activities": [
					{
						"name": "API REQ INFO",
						"description": "API 호출 정보를 가져오기 위해 설정 파일에서 Date을 읽어옵니다.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectoryConf",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat(pipeline().parameters.ConfFile,'.csv')",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"description": "cdi-root / 고객/외부/Top키워드/블로그 위치에 항목별로 복사합니다.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "API REQ INFO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('API REQ INFO').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "API REQ",
									"description": "각 API 호출",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"maxConcurrentConnections": 1,
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "projectId",
														"type": "String"
													},
													"sink": {
														"name": "projectId",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "date",
														"type": "String"
													},
													"sink": {
														"name": "date",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "keyword",
														"type": "String"
													},
													"sink": {
														"name": "keyword",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "frequency",
														"type": "String"
													},
													"sink": {
														"name": "frequency",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_CUSTOMER_TOPKEYWORD_CsvGz",
											"type": "DatasetReference",
											"parameters": {
												"channel": "@pipeline().parameters.Channel",
												"date": "@formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd')",
												"authkey": "@pipeline().parameters.Apikey",
												"category1": "@pipeline().parameters.Category1",
												"category2": "@pipeline().parameters.Category2"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_CSV_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": "@concat(pipeline().parameters.AdlsDirectory)",
												"FileName": "@concat(pipeline().parameters.FileName,'_',formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd'), '.csv')"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/Top키워드/트위터"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "Top키워드_트위터"
					},
					"AdlsDirectoryConf": {
						"type": "string",
						"defaultValue": "고객/외부/Top키워드/conf"
					},
					"ConfFile": {
						"type": "string",
						"defaultValue": "Top키워드_TWITTER_conf"
					},
					"Apikey": {
						"type": "string",
						"defaultValue": "50151fed78146d9974fc10b335738ef395cc6d0c20998505442c7d1c75642242"
					},
					"Channel": {
						"type": "string",
						"defaultValue": "ko.twitter"
					},
					"Category1": {
						"type": "string",
						"defaultValue": "top_keyword"
					},
					"Category2": {
						"type": "string",
						"defaultValue": "TOP_KEYWORD"
					}
				},
				"folder": {
					"name": "고객/외부/Top키워드CSV"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-13T11:41:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_CUSTOMER_TOPKEYWORD_YOUTUBE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "소셜 고객 의견 데이터 Top키워드 블로그",
				"activities": [
					{
						"name": "API REQ INFO",
						"description": "API 호출 정보를 가져오기 위해 설정 파일에서 Date을 읽어옵니다.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectoryConf",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat(pipeline().parameters.ConfFile,'.csv')",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"description": "cdi-root / 고객/외부/Top키워드/블로그 위치에 항목별로 복사합니다.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "API REQ INFO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('API REQ INFO').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "API REQ",
									"description": "각 API 호출",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"maxConcurrentConnections": 1,
												"copyBehavior": "FlattenHierarchy"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "CUSTOMER_OPINION_JsonGz",
											"type": "DatasetReference",
											"parameters": {
												"channel": {
													"value": "@pipeline().parameters.Channel",
													"type": "Expression"
												},
												"date": {
													"value": "@formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd')",
													"type": "Expression"
												},
												"authkey": {
													"value": "@pipeline().parameters.Apikey",
													"type": "Expression"
												},
												"category1": {
													"value": "@pipeline().parameters.Category1",
													"type": "Expression"
												},
												"category2": {
													"value": "@pipeline().parameters.Category2",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_SNK_BINARYGz_P01",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@concat(pipeline().parameters.AdlsDirectory,'/원본')",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(pipeline().parameters.FileName,'_',formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd'), '.json')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy data",
									"description": "데이터 이관",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API REQ",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DTS_ADLS_JSON_SRC_P1",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@concat(pipeline().parameters.AdlsDirectory,'/원본')",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(pipeline().parameters.FileName,'_',formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd'), '.json')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@concat(pipeline().parameters.AdlsDirectory)",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(pipeline().parameters.FileName,'_',formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd'), '.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/Top키워드/유튜브"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "Top키워드_유튜브"
					},
					"AdlsDirectoryConf": {
						"type": "string",
						"defaultValue": "고객/외부/Top키워드/conf"
					},
					"ConfFile": {
						"type": "string",
						"defaultValue": "Top키워드_YOUTUBE_conf"
					},
					"Apikey": {
						"type": "string",
						"defaultValue": "50151fed78146d9974fc10b335738ef395cc6d0c20998505442c7d1c75642242"
					},
					"Channel": {
						"type": "string",
						"defaultValue": "ko.youtube"
					},
					"Category1": {
						"type": "string",
						"defaultValue": "top_keyword"
					},
					"Category2": {
						"type": "string",
						"defaultValue": "TOP_KEYWORD"
					}
				},
				"folder": {
					"name": "고객/외부/Top키워드"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-15T13:28:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_CUSTOMER_TOPKEYWORD_YOUTUBE_M')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "소셜 고객 의견 데이터 Top키워드 블로그",
				"activities": [
					{
						"name": "API REQ INFO",
						"description": "API 호출 정보를 가져오기 위해 설정 파일에서 Date을 읽어옵니다.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectoryConf",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat(pipeline().parameters.ConfFile,'.csv')",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"description": "cdi-root / 고객/외부/Top키워드/블로그 위치에 항목별로 복사합니다.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "API REQ INFO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('API REQ INFO').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "API REQ",
									"description": "각 API 호출",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "BinarySource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "BinaryReadSettings"
											}
										},
										"sink": {
											"type": "BinarySink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"maxConcurrentConnections": 1,
												"copyBehavior": "FlattenHierarchy"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "CUSTOMER_OPINION_JsonGz",
											"type": "DatasetReference",
											"parameters": {
												"channel": {
													"value": "@pipeline().parameters.Channel",
													"type": "Expression"
												},
												"date": {
													"value": "@formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd')",
													"type": "Expression"
												},
												"authkey": {
													"value": "@pipeline().parameters.Apikey",
													"type": "Expression"
												},
												"category1": {
													"value": "@pipeline().parameters.Category1",
													"type": "Expression"
												},
												"category2": {
													"value": "@pipeline().parameters.Category2",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_SNK_BINARYGz_P01",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@concat(pipeline().parameters.AdlsDirectory,'/원본')",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(pipeline().parameters.FileName,'_',formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd'), '.json')",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "Copy data",
									"description": "데이터 이관",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "API REQ",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "DTS_ADLS_JSON_SRC_P1",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@concat(pipeline().parameters.AdlsDirectory,'/원본')",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(pipeline().parameters.FileName,'_',formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd'), '.json')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@concat(pipeline().parameters.AdlsDirectory)",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat(pipeline().parameters.FileName,'_',formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd'), '.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/Top키워드/유튜브"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "Top키워드_유튜브"
					},
					"AdlsDirectoryConf": {
						"type": "string",
						"defaultValue": "고객/외부/Top키워드/conf"
					},
					"ConfFile": {
						"type": "string",
						"defaultValue": "Top키워드_COM_MANUAL_conf"
					},
					"Apikey": {
						"type": "string",
						"defaultValue": "50151fed78146d9974fc10b335738ef395cc6d0c20998505442c7d1c75642242"
					},
					"Channel": {
						"type": "string",
						"defaultValue": "ko.youtube"
					},
					"Category1": {
						"type": "string",
						"defaultValue": "top_keyword"
					},
					"Category2": {
						"type": "string",
						"defaultValue": "TOP_KEYWORD"
					}
				},
				"folder": {
					"name": "고객/외부/Top키워드"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-15T13:28:38Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_CUSTOMER_TOPKEYWORD_YOUTUBE_M_csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "소셜 고객 의견 데이터 Top키워드 블로그\n수동",
				"activities": [
					{
						"name": "API REQ INFO",
						"description": "API 호출 정보를 가져오기 위해 설정 파일에서 Date을 읽어옵니다.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectoryConf",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat(pipeline().parameters.ConfFile,'.csv')",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"description": "cdi-root / 고객/외부/Top키워드/블로그 위치에 항목별로 복사합니다.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "API REQ INFO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('API REQ INFO').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 20,
							"activities": [
								{
									"name": "API REQ",
									"description": "각 API 호출",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"maxConcurrentConnections": 1,
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "projectId",
														"type": "String"
													},
													"sink": {
														"name": "projectId",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "date",
														"type": "String"
													},
													"sink": {
														"name": "date",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "keyword",
														"type": "String"
													},
													"sink": {
														"name": "keyword",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "frequency",
														"type": "String"
													},
													"sink": {
														"name": "frequency",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_CUSTOMER_TOPKEYWORD_CsvGz",
											"type": "DatasetReference",
											"parameters": {
												"channel": "@pipeline().parameters.Channel",
												"date": "@formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd')",
												"authkey": "@pipeline().parameters.Apikey",
												"category1": "@pipeline().parameters.Category1",
												"category2": "@pipeline().parameters.Category2"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_CSV_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": "@concat(pipeline().parameters.AdlsDirectory)",
												"FileName": "@concat(pipeline().parameters.FileName,'_',formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd'), '.csv')"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/Top키워드/유튜브"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "Top키워드_유튜브"
					},
					"AdlsDirectoryConf": {
						"type": "string",
						"defaultValue": "고객/외부/Top키워드/conf"
					},
					"ConfFile": {
						"type": "string",
						"defaultValue": "Top키워드_COM_MANUAL_conf"
					},
					"Apikey": {
						"type": "string",
						"defaultValue": "50151fed78146d9974fc10b335738ef395cc6d0c20998505442c7d1c75642242"
					},
					"Channel": {
						"type": "string",
						"defaultValue": "ko.youtube"
					},
					"Category1": {
						"type": "string",
						"defaultValue": "top_keyword"
					},
					"Category2": {
						"type": "string",
						"defaultValue": "TOP_KEYWORD"
					}
				},
				"folder": {
					"name": "고객/외부/Top키워드CSV"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-13T11:41:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_CUSTOMER_TOPKEYWORD_YOUTUBE_csv')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "소셜 고객 의견 데이터 Top키워드 블로그\n수동",
				"activities": [
					{
						"name": "API REQ INFO",
						"description": "API 호출 정보를 가져오기 위해 설정 파일에서 Date을 읽어옵니다.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectoryConf",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat(pipeline().parameters.ConfFile,'.csv')",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"description": "cdi-root / 고객/외부/Top키워드/블로그 위치에 항목별로 복사합니다.",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "API REQ INFO",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('API REQ INFO').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "API REQ",
									"description": "각 API 호출",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings",
												"maxConcurrentConnections": 1,
												"copyBehavior": "FlattenHierarchy"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "projectId",
														"type": "String"
													},
													"sink": {
														"name": "projectId",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "date",
														"type": "String"
													},
													"sink": {
														"name": "date",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "keyword",
														"type": "String"
													},
													"sink": {
														"name": "keyword",
														"type": "String"
													}
												},
												{
													"source": {
														"name": "frequency",
														"type": "String"
													},
													"sink": {
														"name": "frequency",
														"type": "String"
													}
												}
											]
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_CUSTOMER_TOPKEYWORD_CsvGz",
											"type": "DatasetReference",
											"parameters": {
												"channel": "@pipeline().parameters.Channel",
												"date": "@formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd')",
												"authkey": "@pipeline().parameters.Apikey",
												"category1": "@pipeline().parameters.Category1",
												"category2": "@pipeline().parameters.Category2"
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_CSV_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": "@concat(pipeline().parameters.AdlsDirectory)",
												"FileName": "@concat(pipeline().parameters.FileName,'_',formatDateTime(addDays(addHours(utcNow(), 9),int(item().date)),'yyyyMMdd'), '.csv')"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/Top키워드/유튜브"
					},
					"FileName": {
						"type": "string",
						"defaultValue": "Top키워드_유튜브"
					},
					"AdlsDirectoryConf": {
						"type": "string",
						"defaultValue": "고객/외부/Top키워드/conf"
					},
					"ConfFile": {
						"type": "string",
						"defaultValue": "Top키워드_YOUTUBE_conf"
					},
					"Apikey": {
						"type": "string",
						"defaultValue": "50151fed78146d9974fc10b335738ef395cc6d0c20998505442c7d1c75642242"
					},
					"Channel": {
						"type": "string",
						"defaultValue": "ko.youtube"
					},
					"Category1": {
						"type": "string",
						"defaultValue": "top_keyword"
					},
					"Category2": {
						"type": "string",
						"defaultValue": "TOP_KEYWORD"
					}
				},
				"folder": {
					"name": "고객/외부/Top키워드CSV"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-13T11:41:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_APIS_AGRI_WEATHER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "수요기관정보조회",
				"activities": [
					{
						"name": "set obsr_Spot_Code",
						"description": "관측지점코",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "obsr_Spot_Code",
							"value": {
								"value": "@pipeline().parameters.obsr_Sopt_Code",
								"type": "Expression"
							}
						}
					},
					{
						"name": "set end_Date",
						"description": "종료일",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "end_Date",
							"value": {
								"value": "@pipeline().parameters.end_Date",
								"type": "Expression"
							}
						}
					},
					{
						"name": "set begin_Date",
						"description": "시작일자",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "begin_Date",
							"value": {
								"value": "@pipeline().parameters.begin_Date",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data1_copy1_copy1_copy1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"additionalColumns": [
									{
										"name": "obsr_spot_code_s",
										"value": {
											"value": "@variables('obsr_Spot_Code')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['obsr_Spot_Nm']"
										},
										"sink": {
											"name": "obsr_spot_nm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['date_Time']"
										},
										"sink": {
											"name": "date_time",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['tmprt_150']"
										},
										"sink": {
											"name": "tmprt_150",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['tmprt_150Top']"
										},
										"sink": {
											"name": "tmprt_150top",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['tmprt_150Lwet']"
										},
										"sink": {
											"name": "tmprt_150lwet",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['tmprt_50']"
										},
										"sink": {
											"name": "tmprt_50",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['tmprt_50Top']"
										},
										"sink": {
											"name": "tmprt_50top",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['tmprt_50Lwet']"
										},
										"sink": {
											"name": "tmprt_50lwet",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['tmprt_400']"
										},
										"sink": {
											"name": "tmprt_400",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['tmprt_400Top']"
										},
										"sink": {
											"name": "tmprt_400top",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['tmprt_400Lwet']"
										},
										"sink": {
											"name": "tmprt_400lwet",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['hd_150']"
										},
										"sink": {
											"name": "hd_150",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['hd_50']"
										},
										"sink": {
											"name": "hd_50",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['hd_400']"
										},
										"sink": {
											"name": "hd_400",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['wd_300']"
										},
										"sink": {
											"name": "wd_300",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['wd_150']"
										},
										"sink": {
											"name": "wd_150",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['wd_1000']"
										},
										"sink": {
											"name": "wd_1000",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['arvlty_300']"
										},
										"sink": {
											"name": "arvlty_300",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['arvlty_150']"
										},
										"sink": {
											"name": "arvlty_150",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['arvlty_1000']"
										},
										"sink": {
											"name": "arvlty_1000",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['afp']"
										},
										"sink": {
											"name": "afp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['afv']"
										},
										"sink": {
											"name": "afv",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['sunshn_Time']"
										},
										"sink": {
											"name": "sunshn_time",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['solrad_Qy']"
										},
										"sink": {
											"name": "solrad_qy",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['dwcn_Time']"
										},
										"sink": {
											"name": "dwcn_time",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['pnwg_Tp']"
										},
										"sink": {
											"name": "pnwg_tp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['frfr_Tp']"
										},
										"sink": {
											"name": "frfr_tp",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['udgr_Heatt_Cndctvt']"
										},
										"sink": {
											"name": "udgr_heatt_cndctvt",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['udgr_Tp_10']"
										},
										"sink": {
											"name": "udgr_tp_10",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['udgr_Tp_5']"
										},
										"sink": {
											"name": "udgr_tp_5",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['udgr_Tp_20']"
										},
										"sink": {
											"name": "udgr_tp_20",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['soil_Mitr_10']"
										},
										"sink": {
											"name": "soil_mitr_10",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['soil_Mitr_10Cmst']"
										},
										"sink": {
											"name": "soil_mitr_10cmst",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['soil_Mitr_20']"
										},
										"sink": {
											"name": "soil_mitr_20",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['soil_Mitr_20Cmst']"
										},
										"sink": {
											"name": "soil_mitr_20cmst",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['soil_Mitr_30']"
										},
										"sink": {
											"name": "soil_mitr_30",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['soil_Mitr_30Cmst']"
										},
										"sink": {
											"name": "soil_mitr_30cmst",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['obsr_spot_code_s']"
										},
										"sink": {
											"name": "obsr_spot_code",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['response']['body']['items']['item']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_API_APIS_XML",
								"type": "DatasetReference",
								"parameters": {
									"url": {
										"value": "@concat('/1390802/AgriWeather/WeatherObsrInfo/InsttWeather/getWeatherTermDayList?serviceKey=rj5HeIJYh3E2HRvmEw3P3%2BeVDZoZj074w7IIt%2BpcAaujPSI9CTx0U88XSd6C9eWwkBMUncCaG4w%2FtYRT898jcw%3D%3D&Page_No=1&Page_Size=100&begin_Date=',variables('begin_Date'),'&end_Date=',variables('end_Date'),'&obsr_Spot_Code=',variables('obsr_Spot_Code'))",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "set obsr_Spot_Code",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "set end_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "set begin_Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "delete from  cd_ods.tb_apis_agri_weather_t      \n WHERE  date_time BETWEEN '@{variables('begin_Date')}' AND '@{variables('end_Date')}'\n and obsr_Spot_Code = @{variables('obsr_Spot_Code')}\n ;\n \nselect 1 as success",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_apis_agri_weather_t"
					},
					"obsr_Sopt_Code": {
						"type": "string"
					},
					"end_Date": {
						"type": "string"
					},
					"begin_Date": {
						"type": "string"
					}
				},
				"variables": {
					"date": {
						"type": "String"
					},
					"url": {
						"type": "String"
					},
					"obsr_Spot_Code": {
						"type": "String"
					},
					"begin_Date": {
						"type": "String"
					},
					"end_Date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/국립농업과학원"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_APIS_AGRI_WEATHER_SPOT_CODE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "수요기관정보조회",
				"activities": [
					{
						"name": "Copy data1_copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['Obsr_Spot_Code']"
										},
										"sink": {
											"name": "obsr_spot_code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Obsr_Spot_Nm']"
										},
										"sink": {
											"name": "obsr_spot_nm",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Do_Se_Code']"
										},
										"sink": {
											"name": "do_se_code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Mgc_Code']"
										},
										"sink": {
											"name": "mgc_code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Clmt_Zone_Code']"
										},
										"sink": {
											"name": "clmt_zone_code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Comm_Mthd_Code']"
										},
										"sink": {
											"name": "comm_mthd_code",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Instl_La']"
										},
										"sink": {
											"name": "instl_la",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Instl_Lo']"
										},
										"sink": {
											"name": "instl_lo",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Instl_Al']"
										},
										"sink": {
											"name": "instl_al",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Instl_Adres']"
										},
										"sink": {
											"name": "instl_adres",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['Obsr_Begin_Datetm']"
										},
										"sink": {
											"name": "obsr_begin_datetm",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['response']['body']['items']['item']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_API_APIS_XML",
								"type": "DatasetReference",
								"parameters": {
									"url": {
										"value": "@concat('/1390802/AgriWeather/getObsrSpotList?serviceKey=rj5HeIJYh3E2HRvmEw3P3%2BeVDZoZj074w7IIt%2BpcAaujPSI9CTx0U88XSd6C9eWwkBMUncCaG4w%2FtYRT898jcw%3D%3D&Page_No=2&Page_Size=200')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_apis_agri_weather_spot_code_t"
					}
				},
				"variables": {
					"date": {
						"type": "String"
					},
					"url": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/국립농업과학원"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_APIS_COUNTRYBASICLIST')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "외교부 국가별 기본정보",
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "XmlSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "XmlReadSettings",
									"validationMode": "none",
									"namespaces": true
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['basic']"
										},
										"sink": {
											"name": "basic",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['continent']"
										},
										"sink": {
											"name": "continent",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['countryEnName']"
										},
										"sink": {
											"name": "countryenname",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['countryName']"
										},
										"sink": {
											"name": "countryname",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['imgUrl']"
										},
										"sink": {
											"name": "imgurl",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['wrtDt']"
										},
										"sink": {
											"name": "wrtdt",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['response']['body']['items']['item']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_API_APIS_XML",
								"type": "DatasetReference",
								"parameters": {
									"url": {
										"value": "@concat('/1262000/CountryBasicService/getCountryBasicList?ServiceKey=rj5HeIJYh3E2HRvmEw3P3%2BeVDZoZj074w7IIt%2BpcAaujPSI9CTx0U88XSd6C9eWwkBMUncCaG4w%2FtYRT898jcw%3D%3D&numOfRows=1000')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_apis_countrybasiclist"
					}
				},
				"variables": {
					"date": {
						"type": "String"
					},
					"url": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/외교부"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_APIS_ItemtradeList')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "수요기관정보조회",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "select * from cd_ods.tb_apis_itemtradelist_master_t \nwhere hscode = '2005991000';",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "XmlSource",
											"additionalColumns": [
												{
													"name": "hscode_master",
													"value": {
														"value": "@item().hscode",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "XmlReadSettings",
												"validationMode": "none",
												"namespaces": true
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['balPayments']"
													},
													"sink": {
														"name": "balpayments",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['expDlr']"
													},
													"sink": {
														"name": "expdlr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['expWgt']"
													},
													"sink": {
														"name": "expwgt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['hsCode']"
													},
													"sink": {
														"name": "hscode",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['impDlr']"
													},
													"sink": {
														"name": "impdlr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['impWgt']"
													},
													"sink": {
														"name": "impwgt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['statKor']"
													},
													"sink": {
														"name": "statkor",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['year']"
													},
													"sink": {
														"name": "year",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['hscode_master']"
													},
													"sink": {
														"name": "hscode_master",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['response']['body']['items']['item']",
											"mapComplexValuesToString": false
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_APIS_XML",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat('/1220000/Itemtrade/getItemtradeList?serviceKey=rj5HeIJYh3E2HRvmEw3P3%2BeVDZoZj074w7IIt%2BpcAaujPSI9CTx0U88XSd6C9eWwkBMUncCaG4w%2FtYRT898jcw%3D%3D&strtYymm=202101&endYymm=202112&hsSgn=',item().hscode)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK_P02",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_apis_itemtradelist_t"
					}
				},
				"variables": {
					"date": {
						"type": "String"
					},
					"url": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/관세청"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_APIS_KOTRA_OVERSEAS_MARKETNEWS')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "수요기관정보조회",
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "get page",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@range(1  \n      ,add(\n             div(\n                  int(activity('get page').output.firstRow.response.body.totalCnt) \n                 ,int(pipeline().parameters.one_page_row)                  \n                )\n            ,if(\n                greater(\n                        mod(\n                            int(activity('get page').output.firstRow.response.body.totalCnt) \n                        ,int(pipeline().parameters.one_page_row)   \n                            )\n                       ,0\n                       )\n                ,1,0\n            )           \n       )\n)",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 20,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['cmdltNmKorn']"
													},
													"sink": {
														"name": "cmdltnmkorn",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['newsTitl']"
													},
													"sink": {
														"name": "newstitl",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['kotraNewsUrl']"
													},
													"sink": {
														"name": "kotranewsurl",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['jobSeNm']"
													},
													"sink": {
														"name": "jobsenm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['hsCdNm']"
													},
													"sink": {
														"name": "hscdnm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['dataType']"
													},
													"sink": {
														"name": "datatype",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['kwrd']"
													},
													"sink": {
														"name": "kwrd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['cmdltNmEng']"
													},
													"sink": {
														"name": "cmdltnmeng",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['regn']"
													},
													"sink": {
														"name": "regn",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['cntntSumar']"
													},
													"sink": {
														"name": "cntntsumar",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['indstCl']"
													},
													"sink": {
														"name": "indstcl",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['indstCdList']"
													},
													"sink": {
														"name": "indstcdlist",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['newsBdt']"
													},
													"sink": {
														"name": "newsbdt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['ovrofInfo']"
													},
													"sink": {
														"name": "ovrofinfo",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['othbcDt']"
													},
													"sink": {
														"name": "othbcdt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['bbstxSn']"
													},
													"sink": {
														"name": "bbstxsn",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['newsWrterNm']"
													},
													"sink": {
														"name": "newswrternm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['bbsSn']"
													},
													"sink": {
														"name": "bbssn",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['infoCl']"
													},
													"sink": {
														"name": "infocl",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['natn']"
													},
													"sink": {
														"name": "natn",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['response']['body']['itemList']['item']",
											"mapComplexValuesToString": false
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_APIS",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat('/B410001/kotra_overseasMarketNews/ovseaMrktNews/ovseaMrktNews?ServiceKey=rj5HeIJYh3E2HRvmEw3P3%2BeVDZoZj074w7IIt%2BpcAaujPSI9CTx0U88XSd6C9eWwkBMUncCaG4w%2FtYRT898jcw%3D%3D&type=json&search5=I001193&pageNo=',item(),'&numOfRows=',pipeline().parameters.one_page_row, '&search4=',variables('stYmd'),'&search7=',variables('edYmd'))",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK_P02",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "get page",
						"description": "대표 제품의 생성 기간동안 토탈 건수 ",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set stYmd",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set edYmd",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DTS_API_APIS",
								"type": "DatasetReference",
								"parameters": {
									"url": {
										"value": "@concat('/B410001/kotra_overseasMarketNews/ovseaMrktNews/ovseaMrktNews?ServiceKey=rj5HeIJYh3E2HRvmEw3P3%2BeVDZoZj074w7IIt%2BpcAaujPSI9CTx0U88XSd6C9eWwkBMUncCaG4w%2FtYRT898jcw%3D%3D&numOfRows=1&pageNo=1&type=json&search5=I001193&search4=',variables('stYmd'),'&search7=',variables('edYmd'))",
										"type": "Expression"
									}
								}
							}
						}
					},
					{
						"name": "Set stYmd",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "stYmd",
							"value": {
								"value": "@concat(formatDateTime(adddays(addHours(utcNow(), 9), 0), 'yyyyMMdd'))",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set edYmd",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "edYmd",
							"value": {
								"value": "@concat(formatDateTime(adddays(addHours(utcNow(), 9), 0), 'yyyyMMdd'))",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_apis_kotra_overseas_marketnews"
					},
					"serviceKey": {
						"type": "string",
						"defaultValue": "rj5HeIJYh3E2HRvmEw3P3%2BeVDZoZj074w7IIt%2BpcAaujPSI9CTx0U88XSd6C9eWwkBMUncCaG4w%2FtYRT898jcw%3D%3D"
					},
					"one_page_row": {
						"type": "string",
						"defaultValue": "10"
					}
				},
				"variables": {
					"stYmd": {
						"type": "String"
					},
					"edYmd": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/KOTRA"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_APIS_NationtradeList')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "수요기관정보조회",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "select * from cd_ods.tb_apis_nationtrade_statcd_master_t; ",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "XmlSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "XmlReadSettings",
												"validationMode": "none",
												"namespaces": true
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['balPayments']"
													},
													"sink": {
														"name": "balpayments",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['expCnt']"
													},
													"sink": {
														"name": "expcnt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['expDlr']"
													},
													"sink": {
														"name": "expdlr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['impCnt']"
													},
													"sink": {
														"name": "impcnt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['impDlr']"
													},
													"sink": {
														"name": "impdlr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['statCd']"
													},
													"sink": {
														"name": "statcd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['statCdCntnKor1']"
													},
													"sink": {
														"name": "statcdcntnkor1",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['year']"
													},
													"sink": {
														"name": "year",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['response']['body']['items']['item']",
											"mapComplexValuesToString": false
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_APIS_XML",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat('/1220000/nationtrade/getNationtradeList?&serviceKey=rj5HeIJYh3E2HRvmEw3P3%2BeVDZoZj074w7IIt%2BpcAaujPSI9CTx0U88XSd6C9eWwkBMUncCaG4w%2FtYRT898jcw%3D%3D&&strtYymm=202101&endYymm=202112&cntyCd=',item().statcd)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK_P02",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_apis_nationaltradelist_t"
					}
				},
				"variables": {
					"date": {
						"type": "String"
					},
					"url": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/관세청"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_APIS_NitemtradeList')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "수요기관정보조회",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "select a.statcd, b.strtYymm, b.endYymm\nfrom cd_ods.tb_apis_nationtrade_statcd_master_t a,\n (\nselect  to_char(now() - interval '1 month' * 12,'yyyymm') as strtYymm      \n        ,to_char(now() - interval '1 month' * 1,'yyyymm') as endYymm                                                                \n) b\n; ",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 50,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "XmlSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "XmlReadSettings",
												"validationMode": "none",
												"namespaces": true
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['balPayments']"
													},
													"sink": {
														"name": "balpayments",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['expDlr']"
													},
													"sink": {
														"name": "expdlr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['expWgt']"
													},
													"sink": {
														"name": "expwgt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['hsCd']"
													},
													"sink": {
														"name": "hscd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['impDlr']"
													},
													"sink": {
														"name": "impdlr",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['impWgt']"
													},
													"sink": {
														"name": "impwgt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['statCd']"
													},
													"sink": {
														"name": "statcd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['statCdCntnKor1']"
													},
													"sink": {
														"name": "statcdcntnkor1",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['statKor']"
													},
													"sink": {
														"name": "statkor",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['year']"
													},
													"sink": {
														"name": "year",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['response']['body']['items']['item']",
											"mapComplexValuesToString": false
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_APIS_XML",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat('/1220000/nitemtrade/getNitemtradeList?serviceKey=rj5HeIJYh3E2HRvmEw3P3%2BeVDZoZj074w7IIt%2BpcAaujPSI9CTx0U88XSd6C9eWwkBMUncCaG4w%2FtYRT898jcw%3D%3D&hsSgn=2005991000&strtYymm=',item().strtYymm,'&endYymm=',item().endYymm,'&cntyCd=',item().statcd)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK_P02",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup1_copy1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "ForEach1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT cd_ods.fn_apis_nitemtrade();",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_apis_nitemtrade_temp"
					}
				},
				"variables": {
					"date": {
						"type": "String"
					},
					"url": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/관세청"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_APIS_RETRIEVE_TRIF_FXRTINFO')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "수요기관정보조회",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": " WITH v_seq AS \n (\n \tselect   generate_series( '1', '5', 1  ) AS num \n )\n select  to_char(to_date(c.max_date,'YYYYMMDD') + interval '7 day' * a.num,'YYYYMMDD') as date, b.b_num as weekFxrtTpcd      \nFROM v_seq a, (SELECT UNNEST (ARRAY['1','2'] ) AS b_num )b,\n(select  max(aplybgndt) AS max_date FROM cd_ods.tb_apis_retrieve_trif_fxrtinfo) c\n;",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 50,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "XmlSource",
											"additionalColumns": [
												{
													"name": "date",
													"value": {
														"value": "@item().date",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "XmlReadSettings",
												"validationMode": "none",
												"namespaces": true
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['aplyBgnDt']"
													},
													"sink": {
														"name": "aplybgndt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['cntySgn']"
													},
													"sink": {
														"name": "cntysgn",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['currSgn']"
													},
													"sink": {
														"name": "currsgn",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['fxrt']"
													},
													"sink": {
														"name": "fxrt",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['imexTp']"
													},
													"sink": {
														"name": "imextp",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['mtryUtNm']"
													},
													"sink": {
														"name": "mtryutnm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['date']"
													},
													"sink": {
														"name": "date",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['response']['body']['items']['item']",
											"mapComplexValuesToString": false
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_APIS_XML",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat('1220000/retrieveTrifFxrtInfo/getRetrieveTrifFxrtInfo?&serviceKey=rj5HeIJYh3E2HRvmEw3P3%2BeVDZoZj074w7IIt%2BpcAaujPSI9CTx0U88XSd6C9eWwkBMUncCaG4w%2FtYRT898jcw%3D%3D&aplyBgnDt=',item().date,'&weekFxrtTpcd=',item().weekFxrtTpcd)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK_P02",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_apis_retrieve_trif_fxrtinfo"
					}
				},
				"variables": {
					"date": {
						"type": "String"
					},
					"url": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/관세청"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_ATFIS_CONSUMPTION_BASIC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "수요기관정보조회",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "select * from cd_ods.tb_atfis_cnsmpmtral_master;",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 50,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "$['cnsmpYear']"
													},
													"sink": {
														"name": "cnsmpyear",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['cnsmpCd']"
													},
													"sink": {
														"name": "cnsmpcd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['cnsmpMtralUpperNm']"
													},
													"sink": {
														"name": "cnsmpmtraluppernm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['cnsmpMtralNm']"
													},
													"sink": {
														"name": "cnsmpmtralnm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['cnsmpTotUsgqty']"
													},
													"sink": {
														"name": "cnsmptotusgqty",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['cnsmpLocalusgqty']"
													},
													"sink": {
														"name": "cnsmplocalusgqty",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['cnsmpImportUsgqty']"
													},
													"sink": {
														"name": "cnsmpimportusgqty",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['cnsmpLocalRelimp']"
													},
													"sink": {
														"name": "cnsmplocalrelimp",
														"type": "String"
													}
												}
											],
											"collectionReference": "",
											"mapComplexValuesToString": false
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_AFTIS",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat('/home/api/consumption/basic.do?apiKey=z9JeRfaB44up466XHs+5pTcV31n58LqRkSHZ8H66xbw=&cnsmpMtralCd=',item().code,\n'&beginYear=2014&endYear=2023')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK_P02",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_atfis_consumption_basic"
					}
				},
				"variables": {
					"date": {
						"type": "String"
					},
					"url": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/식품산업통계정보"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_GARAK_AUCTIONITEM_QTY_DISTRIBUTION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "(신)유통정보 - 경매품목 물량분포",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT to_char(generate_series(max(c.date)::date + INTERVAL '1 day', now() - INTERVAL '1 day', '1 day')::date,'YYYYMMDD') AS DATE\n,A.pum_cd\n, A.pum_nm\n, A.unit_qty\n, A.unit_cd\n, B.MARKET\nFROM cd_ods.tb_at_auctionitem_qty_distribution_master A,\n(SELECT  UNNEST(ARRAY['1','3']) AS MARKET) B,\ncd_ods.tb_at_auctionitem_qty_distribution c\nGROUP BY A.pum_cd\n, A.pum_nm\n, A.unit_qty\n, A.unit_cd\n, B.MARKET\n;",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 50,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "date",
													"value": {
														"value": "@item().date",
														"type": "Expression"
													}
												},
												{
													"name": "pum_cd",
													"value": {
														"value": "@item().pum_cd",
														"type": "Expression"
													}
												},
												{
													"name": "pum_nm",
													"value": {
														"value": "@item().pum_nm",
														"type": "Expression"
													}
												},
												{
													"name": "unit_qty",
													"value": {
														"value": "@item().unit_qty",
														"type": "Expression"
													}
												},
												{
													"name": "unit_cd",
													"value": {
														"value": "@item().unit_cd",
														"type": "Expression"
													}
												},
												{
													"name": "market",
													"value": {
														"value": "@item().market",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['UNIT_PRICE']"
													},
													"sink": {
														"name": "unit_price",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['SUM_QTY']"
													},
													"sink": {
														"name": "sum_qty",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['date']"
													},
													"sink": {
														"name": "date",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['pum_cd']"
													},
													"sink": {
														"name": "pum_cd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['pum_nm']"
													},
													"sink": {
														"name": "pum_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['unit_qty']"
													},
													"sink": {
														"name": "unit_qty",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['unit_cd']"
													},
													"sink": {
														"name": "unit_cd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['market']"
													},
													"sink": {
														"name": "market",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['resultData']",
											"mapComplexValuesToString": false
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_GARAK",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat('/publicdata/dataJsonOpen.do?id=3620&passwd=!days2023&dataid=data55&pagesize=10&pageidx=1&portal.templet=false&s_ycs_gubun=2&s_pos_gubun=',item().market,'&s_ymd=',item().date,'&s_pum_cd=',item().pum_cd,'&s_unit_qty=',item().unit_qty,'&s_unit_cd=',item().unit_cd)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK_P02",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_at_auctionitem_qty_distribution"
					}
				},
				"variables": {
					"date": {
						"type": "String"
					},
					"url": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/서울특별시_농수산식품공사"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_GARAK_AUCTIONITEM_QTY_DISTRIBUTION_MASTER')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "유통정보 - 가락시장 반입물량(경매후)",
				"activities": [
					{
						"name": "Copy data1_copy1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "JsonSource",
								"storeSettings": {
									"type": "HttpReadSettings",
									"requestMethod": "GET"
								},
								"formatSettings": {
									"type": "JsonReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['PUM_CD']"
										},
										"sink": {
											"name": "pum_cd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['UNIT_QTY']"
										},
										"sink": {
											"name": "unit_qty",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['UNIT_CD']"
										},
										"sink": {
											"name": "unit_cd",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['PUM_NM']"
										},
										"sink": {
											"name": "pum_nm",
											"type": "String"
										}
									}
								],
								"collectionReference": "$['resultData']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_API_GARAK",
								"type": "DatasetReference",
								"parameters": {
									"url": {
										"value": "@concat('/publicdata/dataJsonOpen.do?id=3620&passwd=!days2023&dataid=getPrice4_fruitsItem&pagesize=1000&pageidx=1&portal.templet=false')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_at_auctionitem_qty_distribution_master"
					}
				},
				"variables": {
					"date": {
						"type": "String"
					},
					"url": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/서울특별시_농수산식품공사"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_GARAK_IMPORTQUANTITY_AFTERAUCTION')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "유통정보 - 가락시장 반입물량(경매후)",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT to_char(now(),'YYYYMMDD') as date\r\n;",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 15,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "date",
													"value": {
														"value": "@item().date",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['BURYU']"
													},
													"sink": {
														"name": "buryu",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['SORT_CD']"
													},
													"sink": {
														"name": "sort_cd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['ITM_CD']"
													},
													"sink": {
														"name": "itm_cd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['ITM_NM']"
													},
													"sink": {
														"name": "itm_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CORP_CD_1']"
													},
													"sink": {
														"name": "corp_cd_1",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CORP_CD_2']"
													},
													"sink": {
														"name": "corp_cd_2",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CORP_CD_3']"
													},
													"sink": {
														"name": "corp_cd_3",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CORP_CD_4']"
													},
													"sink": {
														"name": "corp_cd_4",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CORP_CD_5']"
													},
													"sink": {
														"name": "corp_cd_5",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CORP_CD_6']"
													},
													"sink": {
														"name": "corp_cd_6",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['SUM_TOT']"
													},
													"sink": {
														"name": "sum_tot",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['date']"
													},
													"sink": {
														"name": "date",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['resultData']",
											"mapComplexValuesToString": false
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_GARAK",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat('/publicdata/dataJsonOpen.do?id=3604&passwd=days2023!&dataid=data21&pagesize=1000&pageidx=1&portal.templet=false&date=',item().date)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK_P02",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_garak_importquantity_afterauction"
					}
				},
				"variables": {
					"date": {
						"type": "String"
					},
					"url": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/서울특별시_농수산식품공사"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_GARAK_IMPORTQUANTITY_AFTERSETTLEMENT')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "유통정보 - 가락시장 반입물량(정산후)",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT to_char(generate_series(max(date)::date + INTERVAL '1 day', now() - INTERVAL '1 day', '1 day'),'YYYYMMDD') as date\r\nFROM cd_ods.tb_garak_importquantity_aftersettlement\r\n;",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 15,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "date",
													"value": {
														"value": "@item().date",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['BURYU']"
													},
													"sink": {
														"name": "buryu",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['SORT_CD']"
													},
													"sink": {
														"name": "sort_cd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['PUM_CD']"
													},
													"sink": {
														"name": "pum_cd",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['PUM_NM']"
													},
													"sink": {
														"name": "pum_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CORP_CD_1']"
													},
													"sink": {
														"name": "corp_cd_1",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CORP_CD_2']"
													},
													"sink": {
														"name": "corp_cd_2",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CORP_CD_3']"
													},
													"sink": {
														"name": "corp_cd_3",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CORP_CD_4']"
													},
													"sink": {
														"name": "corp_cd_4",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CORP_CD_5']"
													},
													"sink": {
														"name": "corp_cd_5",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['CORP_CD_6']"
													},
													"sink": {
														"name": "corp_cd_6",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['SUM_TOT']"
													},
													"sink": {
														"name": "sum_tot",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['date']"
													},
													"sink": {
														"name": "date",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['resultData']",
											"mapComplexValuesToString": false
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_GARAK",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat('/publicdata/dataJsonOpen.do?id=3605&passwd=days2023!&dataid=data22&pagesize=1000&pageidx=1&portal.templet=false&date=',item().date)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK_P02",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_garak_importquantity_aftersettlement"
					}
				},
				"variables": {
					"date": {
						"type": "String"
					},
					"url": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/서울특별시_농수산식품공사"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_API_INDUSTRY_GARAK_PRICEBYITEMGRADE_INTERMEDIARY')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "유통정보(중도매인거래) - 품목별등급별가격",
				"activities": [
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "select to_char(now(),'YYYYMMDD') as date\n,to_char(now() - INTERVAL '1 day','YYYYMMDD') as date_p\n,to_char(now() - INTERVAL '7 day','YYYYMMDD') as date_p7\n,'garak' as market\nFROM cd_ods.tb_garak_pricebyitemgrade_intermediary\nunion\nselect \nto_char(now(),'YYYYMMDD') as date\n,to_char(now() - INTERVAL '1 day','YYYYMMDD') as date_p\n,to_char(now() - INTERVAL '7 day','YYYYMMDD') as date_p7\n,'yanggok' as market\nFROM cd_ods.tb_garak_pricebyitemgrade_intermediary\norder by date;",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"batchCount": 15,
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "JsonSource",
											"additionalColumns": [
												{
													"name": "date",
													"value": {
														"value": "@item().date",
														"type": "Expression"
													}
												},
												{
													"name": "date_p",
													"value": {
														"value": "@item().date_p",
														"type": "Expression"
													}
												},
												{
													"name": "date_p7",
													"value": {
														"value": "@item().date_p7",
														"type": "Expression"
													}
												},
												{
													"name": "market",
													"value": {
														"value": "@item().market",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "HttpReadSettings",
												"requestMethod": "GET"
											},
											"formatSettings": {
												"type": "JsonReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['PUM_NM']"
													},
													"sink": {
														"name": "pum_nm",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['G_NAME']"
													},
													"sink": {
														"name": "g_name",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['U_NAME']"
													},
													"sink": {
														"name": "u_name",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['MI_P']"
													},
													"sink": {
														"name": "mi_p",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['MA_P']"
													},
													"sink": {
														"name": "ma_p",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['AV_P']"
													},
													"sink": {
														"name": "av_p",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['PAV_P']"
													},
													"sink": {
														"name": "pav_p",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['FLUC']"
													},
													"sink": {
														"name": "fluc",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['D_MARK']"
													},
													"sink": {
														"name": "d_mark",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['J_7']"
													},
													"sink": {
														"name": "j_7",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "[['J_7_MARK']"
													},
													"sink": {
														"name": "j_7_mark",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['date']"
													},
													"sink": {
														"name": "date",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['date_p']"
													},
													"sink": {
														"name": "date_p",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['date_p7']"
													},
													"sink": {
														"name": "date_p7",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['market']"
													},
													"sink": {
														"name": "market",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['resultData']",
											"mapComplexValuesToString": false
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_API_GARAK",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "@concat('/publicdata/dataJsonOpen.do?id=3606&passwd=days2023!&dataid=data38&pagesize=1000&pageidx=1&portal.templet=false&market=',item().market,'&s_date=',item().date,'&s_date_p=',item().date_p,'&s_date_p7=',item().date_p7)",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK_P02",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": {
													"value": "@pipeline().parameters.SinkSchema",
													"type": "Expression"
												},
												"SinkTable": {
													"value": "@pipeline().parameters.SinkTable",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_garak_pricebyitemgrade_intermediary"
					}
				},
				"variables": {
					"date": {
						"type": "String"
					},
					"url": {
						"type": "String"
					}
				},
				"folder": {
					"name": "Industry/외부/서울특별시_농수산식품공사"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-16T07:55:39Z"
			},
			"dependsOn": []
		}
	]
}