CDI-Hub-ADF-p01/linkedTemplates/ArmTemplate_29.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory 이름",
			"defaultValue": "CDI-Hub-ADF-p01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_CD_VOC_T_VOC_FULL_SAMPLE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- 초기 적재시, 월별로 모든 파일 Sink\n- 증분컬럼이 YYYYMMDDhhmmss 형태",
				"activities": [
					{
						"name": "Lookup Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "@concat('SELECT DISTINCT(SUBSTR(', pipeline().parameters.IncCol, ', 1, 6)) CALMONTH FROM ', pipeline().parameters.SourceSchema, '.', pipeline().parameters.SourceTable)",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Date').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data All Month",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceSchema, '.', pipeline().parameters.SourceTable, ' WHERE SUBSTR(',pipeline().parameters.IncCol, ', 1, 6) = ', item().CALMONTH)",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_ORACLE_SRC",
											"type": "DatasetReference",
											"parameters": {
												"SourceSchema": {
													"value": "@pipeline().parameters.SourceSchema",
													"type": "Expression"
												},
												"SourceTable": {
													"value": "@pipeline().parameters.SourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@pipeline().parameters.AdlsDirectory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_',item().CALMONTH,'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "CD_VOC"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "T_VOC"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/내부/VOC"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "created_date"
					}
				},
				"folder": {
					"name": "_Sample/DB/증분/증분컬럼: CHAR(YYYYMMDDhhmmss)"
				},
				"annotations": [],
				"lastPublishTime": "2022-09-01T09:00:08Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_CD_VOC_T_VOC_INC_SAMPLE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- 증분 적재시, 전달+현재 달 파일 Delete후 새로 생성\n- 증분컬럼이 YYYYMMDDhhmmss 형태\n- Copy data Current Month > Source > Query 변경 필요\n- Copy data Previous Month > Source > Query 변경 필요",
				"activities": [
					{
						"name": "Copy data Previous Month",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delete Previous Month",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT *\n  FROM CD_VOC.T_VOC\n WHERE created_date >= TO_CHAR(TRUNC(ADD_MONTHS(SYSDATE,-1), 'MM'),'YYYYMMDDhhmmss')\n   AND created_date <= TO_CHAR(LAST_DAY(TRUNC(ADD_MONTHS(SYSDATE,-1), 'MM')),'YYYYMMDDhhmmss');",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_', addToTime(addHours(utcNow(), 9), -1, 'Month','yyyyMM'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy data Current Month",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delete Current Month",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT *\n  FROM CD_VOC.T_VOC\n WHERE created_date >= TO_CHAR(TRUNC(SYSDATE, 'MM'),'YYYYMMDDhhmmss')\n   AND created_date <= TO_CHAR(TRUNC(SYSDATE-1),'YYYYMMDDhhmmss');",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_',formatDateTime(addHours(utcNow(), 9), 'yyyyMM'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Delete Current Month",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": "@pipeline().parameters.AdlsDirectory",
									"FileName": {
										"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_', formatDateTime(addHours(utcNow(), 9),'yyyyMM'), '.csv')",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"fileListPath": {
									"value": "@pipeline().parameters.AdlsDirectory",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Delete Previous Month",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": "@pipeline().parameters.AdlsDirectory",
									"FileName": {
										"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_', addToTime(addHours(utcNow(), 9),-1,'Month', 'yyyyMM'), '.csv')",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"fileListPath": {
									"value": "@pipeline().parameters.AdlsDirectory",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "CD_VOC"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "T_VOC"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/내부/VOC"
					}
				},
				"variables": {
					"prev_start": {
						"type": "String",
						"defaultValue": "@startOfMonth(addToTime(utcnow(), -1, 'Month'), 'yyyyMMdd')"
					},
					"prev_end": {
						"type": "String",
						"defaultValue": "@adddays(startOfMonth(utcnow()), -1, 'yyyyMMdd')"
					}
				},
				"folder": {
					"name": "_Sample/DB/증분/증분컬럼: CHAR(YYYYMMDDhhmmss)"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-05T06:36:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_CD_WEITEM_TB_PRDT_INFO_MULTI_DATA_FULL_SAMPLE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- 초기 적재시, 월별로 모든 파일 Sink\n- 증분컬럼이 DATE 형식",
				"activities": [
					{
						"name": "Lookup Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "@concat('SELECT DISTINCT(TO_CHAR(TRUNC(', pipeline().parameters.IncCol, ',''MM''), ''YYYY-MM-DD'')) STARTDT FROM ',pipeline().parameters.SourceSchema, '.', pipeline().parameters.SourceTable, ' ORDER BY STARTDT')",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Date').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data All Month",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceSchema, '.', pipeline().parameters.SourceTable, ' WHERE ', pipeline().parameters.IncCol, ' >= ','''', item().STARTDT, '''', ' AND ', pipeline().parameters.IncCol, ' <= ', 'LAST_DAY(','''', item().STARTDT,'''', ')')",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_ORACLE_SRC",
											"type": "DatasetReference",
											"parameters": {
												"SourceSchema": {
													"value": "@pipeline().parameters.SourceSchema",
													"type": "Expression"
												},
												"SourceTable": {
													"value": "@pipeline().parameters.SourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@pipeline().parameters.AdlsDirectory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_',formatDateTime(item().STARTDT, 'yyyyMM'),'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "CD_WEITEM"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "TB_PRDT_INFO_MULTI_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "제품마스터/내부/취급제품정보"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "REG_DT"
					}
				},
				"folder": {
					"name": "_Sample/DB/증분/증분컬럼: DATE(YYYYMMDDhhmmss)"
				},
				"annotations": [],
				"lastPublishTime": "2022-08-26T05:56:33Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_CD_WEITEM_TB_PRDT_INFO_MULTI_DATA_INC_SAMPLE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- 증분 적재시, 전달+현재 달 파일 Delete후 새로 생성\n- 증분컬럼이 DATE 형태\n- Copy data Current Month > Source > Query 변경 필요\n- Copy data Previous Month > Source > Query 변경 필요",
				"activities": [
					{
						"name": "Copy data Previous Month",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delete Previous Month",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT *\n  FROM CD_WEITEM.TB_PRDT_INFO_MULTI_DATA\n WHERE REG_DT >= TO_CHAR(TRUNC(ADD_MONTHS(SYSDATE,-1), 'MM'),'YYYY-MM-DD')\n   AND REG_DT <= TO_CHAR(LAST_DAY(TRUNC(ADD_MONTHS(SYSDATE,-1), 'MM')),'YYYY-MM-DD');",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_', addToTime(addHours(utcNow(), 9), -1, 'Month','yyyyMM'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy data Current Month",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delete Current Month",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT *\n  FROM CD_WEITEM.TB_PRDT_INFO_MULTI_DATA \n WHERE REG_DT >= TO_CHAR(TRUNC(SYSDATE, 'MM'),'YYYY-MM-DD')\n   AND REG_DT <= TO_CHAR(TRUNC(SYSDATE-1),'YYYY-MM-DD');",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_',formatDateTime(addHours(utcNow(), 9), 'yyyyMM'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Delete Current Month",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": "@pipeline().parameters.AdlsDirectory",
									"FileName": {
										"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_', formatDateTime(addHours(utcNow(), 9),'yyyyMM'), '.csv')",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"fileListPath": {
									"value": "@pipeline().parameters.AdlsDirectory",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Delete Previous Month",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": "@pipeline().parameters.AdlsDirectory",
									"FileName": {
										"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_', addToTime(addHours(utcNow(), 9),-1,'Month', 'yyyyMM'), '.csv')",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"fileListPath": {
									"value": "@pipeline().parameters.AdlsDirectory",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "CD_WEITEM"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "TB_PRDT_INFO_MULTI_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "제품마스터/내부/취급제품정보"
					}
				},
				"variables": {
					"prev_start": {
						"type": "String",
						"defaultValue": "@startOfMonth(addToTime(utcnow(), -1, 'Month'), 'yyyyMMdd')"
					},
					"prev_end": {
						"type": "String",
						"defaultValue": "@adddays(startOfMonth(utcnow()), -1, 'yyyyMMdd')"
					}
				},
				"folder": {
					"name": "_Sample/DB/증분/증분컬럼: DATE(YYYYMMDDhhmmss)"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-05T06:36:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_CD_WMS_IFWMSONLINE_BO_FULL_SAMPLE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- 초기 적재시, 월별로 모든 파일 Sink\n- 증분컬럼이 YYYYMMDD 형태",
				"activities": [
					{
						"name": "Lookup Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "@concat('SELECT DISTINCT(SUBSTR(', pipeline().parameters.IncCol, ', 1, 6)) CALMONTH FROM ', pipeline().parameters.SourceSchema, '.', pipeline().parameters.SourceTable)",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Date').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data All Month",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceSchema, '.', pipeline().parameters.SourceTable, ' WHERE SUBSTR(',pipeline().parameters.IncCol, ', 1, 6) = ', item().CALMONTH)",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_ORACLE_SRC",
											"type": "DatasetReference",
											"parameters": {
												"SourceSchema": {
													"value": "@pipeline().parameters.SourceSchema",
													"type": "Expression"
												},
												"SourceTable": {
													"value": "@pipeline().parameters.SourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@pipeline().parameters.AdlsDirectory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_',item().CALMONTH,'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "CD_WMS"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "IFWMSONLINE_BO"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "매출(주문)/내부/베스트온주문"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "SHIPPING_DATE"
					}
				},
				"folder": {
					"name": "_Sample/DB/증분/증분컬럼: CHAR(YYYYMMDD)"
				},
				"annotations": [],
				"lastPublishTime": "2022-08-26T05:56:12Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_CD_WMS_IFWMSONLINE_BO_INC_SAMPLE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- 증분 적재시, 전달+현재 달 파일 Delete후 새로 생성\n- 증분컬럼이 YYYYMMDD 형태\n- Copy data Current Month > Source > Query 변경 필요\n- Copy data Previous Month > Source > Query 변경 필요",
				"activities": [
					{
						"name": "Copy data Previous Month",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delete Previous Month",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT *\n  FROM CD_WMS.IFWMSONLINE_BO\n WHERE SHIPPING_DATE >= TO_CHAR(TRUNC(ADD_MONTHS(SYSDATE,-1), 'MM'),'YYYYMMDD')\n   AND SHIPPING_DATE <= TO_CHAR(LAST_DAY(TRUNC(ADD_MONTHS(SYSDATE,-1), 'MM')),'YYYYMMDD');",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_', addToTime(addHours(utcNow(), 9), -1, 'Month','yyyyMM'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy data Current Month",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delete Current Month",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT *\n  FROM CD_WMS.IFWMSONLINE_BO\n WHERE SHIPPING_DATE >= TO_CHAR(TRUNC(SYSDATE, 'MM'),'YYYYMMDD')\n   AND SHIPPING_DATE <= TO_CHAR(TRUNC(SYSDATE-1),'YYYYMMDD');",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_',formatDateTime(addHours(utcNow(), 9), 'yyyyMM'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Delete Current Month",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": "@pipeline().parameters.AdlsDirectory",
									"FileName": {
										"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_', formatDateTime(addHours(utcNow(), 9),'yyyyMM'), '.csv')",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"fileListPath": {
									"value": "@pipeline().parameters.AdlsDirectory",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Delete Previous Month",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": "@pipeline().parameters.AdlsDirectory",
									"FileName": {
										"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_', addToTime(addHours(utcNow(), 9),-1,'Month', 'yyyyMM'), '.csv')",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"fileListPath": {
									"value": "@pipeline().parameters.AdlsDirectory",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "CD_WMS"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "IFWMSONLINE_BO"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "매출(주문)/내부/베스트온주문"
					}
				},
				"variables": {
					"prev_start": {
						"type": "String",
						"defaultValue": "@startOfMonth(addToTime(utcnow(), -1, 'Month'), 'yyyyMMdd')"
					},
					"prev_end": {
						"type": "String",
						"defaultValue": "@adddays(startOfMonth(utcnow()), -1, 'yyyyMMdd')"
					}
				},
				"folder": {
					"name": "_Sample/DB/증분/증분컬럼: CHAR(YYYYMMDD)"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-05T06:36:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_CD_WMS_IFWMSONLINE_ER_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- WHERE SYSTEM_TYPE = \"ER\" 로 구분",
				"activities": [
					{
						"name": "Lookup Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "@concat('SELECT DISTINCT(SUBSTR(', pipeline().parameters.IncCol, ', 1, 6)) CALMONTH FROM ', pipeline().parameters.SourceSchema, '.', pipeline().parameters.SourceTable, ' WHERE SYSTEM_TYPE = ''ER''')",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Date').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data All Month",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceSchema, '.', pipeline().parameters.SourceTable,' WHERE SYSTEM_TYPE = ''ER''', ' AND SUBSTR(',pipeline().parameters.IncCol, ', 1, 6) = ', item().CALMONTH)",
												"type": "Expression"
											},
											"partitionOption": "None",
											"queryTimeout": "02:00:00"
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_ORACLE_SRC",
											"type": "DatasetReference",
											"parameters": {
												"SourceSchema": {
													"value": "@pipeline().parameters.SourceSchema",
													"type": "Expression"
												},
												"SourceTable": {
													"value": "@pipeline().parameters.SourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@pipeline().parameters.AdlsDirectory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_','ER','_',item().CALMONTH,'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "CD_WMS"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "IFWMSONLINE"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "매출(주문)/내부/외부쇼핑몰주문"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "SHIPPING_DATE"
					}
				},
				"folder": {
					"name": "매출_주문/내부/WMS"
				},
				"annotations": [],
				"lastPublishTime": "2022-08-24T10:07:18Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_CD_WMS_IFWMSONLINE_ER_INC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- WHERE SYSTEM_TYPE = \"ER\" 로 구분",
				"activities": [
					{
						"name": "Copy data Previous Month",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delete Previous Month",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT *\n  FROM CD_WMS.IFWMSONLINE\n WHERE SYSTEM_TYPE = 'ER'\n   AND SHIPPING_DATE >= TO_CHAR(TRUNC(ADD_MONTHS(SYSDATE,-1), 'MM'),'YYYYMMDD')\n   AND SHIPPING_DATE <= TO_CHAR(LAST_DAY(TRUNC(ADD_MONTHS(SYSDATE,-1), 'MM')),'YYYYMMDD');",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_ER_', addToTime(addHours(utcNow(), 9), -1, 'Month','yyyyMM'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy data Current Month",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Delete Current Month",
								"dependencyConditions": [
									"Succeeded",
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT *\n  FROM CD_WMS.IFWMSONLINE\n WHERE SYSTEM_TYPE = 'ER'\n   AND SHIPPING_DATE >= TO_CHAR(TRUNC(SYSDATE, 'MM'),'YYYYMMDD')\n   AND SHIPPING_DATE <= TO_CHAR(TRUNC(SYSDATE-1),'YYYYMMDD');",
									"type": "Expression"
								},
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_ER_',formatDateTime(addHours(utcNow(), 9), 'yyyyMM'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Delete Current Month",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": "@pipeline().parameters.AdlsDirectory",
									"FileName": {
										"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_ER_', formatDateTime(addHours(utcNow(), 9),'yyyyMM'), '.csv')",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"fileListPath": {
									"value": "@pipeline().parameters.AdlsDirectory",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					},
					{
						"name": "Delete Previous Month",
						"type": "Delete",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": "@pipeline().parameters.AdlsDirectory",
									"FileName": {
										"value": "@concat('D_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable,'_ER_', addToTime(addHours(utcNow(), 9),-1,'Month', 'yyyyMM'), '.csv')",
										"type": "Expression"
									}
								}
							},
							"enableLogging": false,
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"fileListPath": {
									"value": "@pipeline().parameters.AdlsDirectory",
									"type": "Expression"
								},
								"enablePartitionDiscovery": false
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "CD_WMS"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "IFWMSONLINE"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "매출(주문)/내부/외부쇼핑몰주문"
					}
				},
				"folder": {
					"name": "매출_주문/내부/WMS"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-05T06:31:11Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_RPA_ODS_RPA_D2B_FULL_PG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "truncate table\ncd_ods.tb_rpa_d2b ",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "BID_ID",
											"type": "String"
										},
										"sink": {
											"name": "bid_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BID_CAT",
											"type": "String"
										},
										"sink": {
											"name": "bid_cat",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BID_OPEN_CAT",
											"type": "String"
										},
										"sink": {
											"name": "bid_open_cat",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BID_OPEN_DATE",
											"type": "String"
										},
										"sink": {
											"name": "bid_open_date",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BID_OPEN_CODE",
											"type": "String"
										},
										"sink": {
											"name": "bid_open_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BID_REF_CODE",
											"type": "String"
										},
										"sink": {
											"name": "bid_ref_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BID_REF_NUM",
											"type": "String"
										},
										"sink": {
											"name": "bid_ref_num",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BID_NAME",
											"type": "String"
										},
										"sink": {
											"name": "bid_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BID_REQ_CODE",
											"type": "String"
										},
										"sink": {
											"name": "bid_req_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BID_REQ_NAME",
											"type": "String"
										},
										"sink": {
											"name": "bid_req_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "DUE_DATE_CAP",
											"type": "String"
										},
										"sink": {
											"name": "due_date_cap",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "DUE_DATE_REG",
											"type": "String"
										},
										"sink": {
											"name": "due_date_reg",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "DUE_DATE_EST",
											"type": "String"
										},
										"sink": {
											"name": "due_date_est",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "DUE_DATE_ETC",
											"type": "String"
										},
										"sink": {
											"name": "due_date_etc",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BID_KIND",
											"type": "String"
										},
										"sink": {
											"name": "bid_kind",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BID_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "bid_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BASE_PRICE",
											"type": "String"
										},
										"sink": {
											"name": "base_price",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BID_REMARK",
											"type": "String"
										},
										"sink": {
											"name": "bid_remark",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "MAP_KEYS",
											"type": "String"
										},
										"sink": {
											"name": "map_keys",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_NAME",
											"type": "String"
										},
										"sink": {
											"name": "item_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_NAME2",
											"type": "String"
										},
										"sink": {
											"name": "item_name2",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_NAME_FINAL",
											"type": "String"
										},
										"sink": {
											"name": "item_name_final",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_UNIT",
											"type": "String"
										},
										"sink": {
											"name": "item_unit",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_UNIT_FINAL",
											"type": "String"
										},
										"sink": {
											"name": "item_unit_final",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "T_ITEM_UNIT",
											"type": "String"
										},
										"sink": {
											"name": "t_item_unit",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_SPEC",
											"type": "String"
										},
										"sink": {
											"name": "item_spec",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "T_ITEM_SPEC",
											"type": "String"
										},
										"sink": {
											"name": "t_item_spec",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_SPEC_FINAL",
											"type": "String"
										},
										"sink": {
											"name": "item_spec_final",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_SPEC2_FINAL",
											"type": "String"
										},
										"sink": {
											"name": "item_spec2_final",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_QTY",
											"type": "String"
										},
										"sink": {
											"name": "item_qty",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_UNIT_PRICE",
											"type": "String"
										},
										"sink": {
											"name": "item_unit_price",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_PRICE",
											"type": "String"
										},
										"sink": {
											"name": "item_price",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CREATED_AT",
											"type": "String"
										},
										"sink": {
											"name": "created_at",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "D2B_TEST_SEQ",
											"type": "Double"
										},
										"sink": {
											"name": "d2b_test_seq",
											"type": "Decimal",
											"physicalType": "numeric"
										}
									},
									{
										"source": {
											"name": "ITEM_SHEET_NAME",
											"type": "String"
										},
										"sink": {
											"name": "item_sheet_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_CAT",
											"type": "String"
										},
										"sink": {
											"name": "item_cat",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_FILE_NAME"
										},
										"sink": {
											"name": "item_file_name"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy data_copy1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "    SELECT BID_ID\n          ,MAX(ITEM_FILE_NAME) AS ITEM_FILE_NAME\n     FROM  RPA_ODS.RPA_D2B \n     GROUP BY BID_ID",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "truncate table\ncd_ods.tb_rpa_d2b_file",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "BID_ID",
											"type": "String"
										},
										"sink": {
											"name": "bid_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_FILE_NAME"
										},
										"sink": {
											"name": "item_file_name",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable2",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "RPA_ODS"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "VW_RPA_D2B_FINAL"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_rpa_d2b"
					},
					"SinkTable2": {
						"type": "string",
						"defaultValue": "tb_rpa_d2b_file"
					},
					"SinkTable3": {
						"type": "string",
						"defaultValue": "KIMCHI_FILE_UPLOAD2"
					},
					"SourceTable3": {
						"type": "string",
						"defaultValue": "KIMCHI_FILE_UPLOAD2"
					}
				},
				"folder": {
					"name": "판촉/내부/급식입개찰"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-18T04:57:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_RPA_ODS_RPA_DATAROOM_FULL_PG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data_copy2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM RPA_ODS.RPA_DATAROOM\nWHERE TO_CHAR(CREATEDATE, 'YYYYMMDD') =   TO_CHAR(sysdate-1, 'YYYYMMDD') \nAND TO_CHAR(CREATEDATE, 'YYYYMMDD') > '20240828'\n;",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GUBUN",
											"type": "String"
										},
										"sink": {
											"name": "gubun",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "POSTDATE",
											"type": "String"
										},
										"sink": {
											"name": "postdate",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "TITLE",
											"type": "String"
										},
										"sink": {
											"name": "title",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "WHENCE",
											"type": "String"
										},
										"sink": {
											"name": "whence",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CONTENT",
											"type": "String"
										},
										"sink": {
											"name": "content",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "KEYWORD1",
											"type": "String"
										},
										"sink": {
											"name": "keyword1",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD2",
											"type": "String"
										},
										"sink": {
											"name": "keyword2",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD3",
											"type": "String"
										},
										"sink": {
											"name": "keyword3",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD4",
											"type": "String"
										},
										"sink": {
											"name": "keyword4",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD5",
											"type": "String"
										},
										"sink": {
											"name": "keyword5",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD6",
											"type": "String"
										},
										"sink": {
											"name": "keyword6",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD7",
											"type": "String"
										},
										"sink": {
											"name": "keyword7",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD8",
											"type": "String"
										},
										"sink": {
											"name": "keyword8",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD9",
											"type": "String"
										},
										"sink": {
											"name": "keyword9",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD10",
											"type": "String"
										},
										"sink": {
											"name": "keyword10",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "FILE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "file_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ORG_URL",
											"type": "String"
										},
										"sink": {
											"name": "org_url",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CREATEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdate",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "RPA_ODS"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "RPA_DATAROOM"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_portal"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_dataroom_rpa"
					}
				},
				"folder": {
					"name": "트렌드/외부/자료실"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-18T04:57:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_RPA_ODS_RPA_DATAROOM_FULL_PG_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data_copy2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM RPA_ODS.RPA_DATAROOM\nWHERE TO_CHAR(CREATEDATE, 'YYYYMMDD') =   '20241007'\n;",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GUBUN",
											"type": "String"
										},
										"sink": {
											"name": "gubun",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "POSTDATE",
											"type": "String"
										},
										"sink": {
											"name": "postdate",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "TITLE",
											"type": "String"
										},
										"sink": {
											"name": "title",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "WHENCE",
											"type": "String"
										},
										"sink": {
											"name": "whence",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CONTENT",
											"type": "String"
										},
										"sink": {
											"name": "content",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "KEYWORD1",
											"type": "String"
										},
										"sink": {
											"name": "keyword1",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD2",
											"type": "String"
										},
										"sink": {
											"name": "keyword2",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD3",
											"type": "String"
										},
										"sink": {
											"name": "keyword3",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD4",
											"type": "String"
										},
										"sink": {
											"name": "keyword4",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD5",
											"type": "String"
										},
										"sink": {
											"name": "keyword5",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD6",
											"type": "String"
										},
										"sink": {
											"name": "keyword6",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD7",
											"type": "String"
										},
										"sink": {
											"name": "keyword7",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD8",
											"type": "String"
										},
										"sink": {
											"name": "keyword8",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD9",
											"type": "String"
										},
										"sink": {
											"name": "keyword9",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KEYWORD10",
											"type": "String"
										},
										"sink": {
											"name": "keyword10",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "FILE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "file_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ORG_URL",
											"type": "String"
										},
										"sink": {
											"name": "org_url",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CREATEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdate",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "RPA_ODS"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "RPA_DATAROOM"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_portal"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_dataroom_rpa"
					}
				},
				"folder": {
					"name": "트렌드/외부/자료실"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-18T04:57:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_RPA_ODS_RPA_KIMCHI_FILE_FULL_PG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data_copy2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM RPA_ODS.KIMCHI_FILE_UPLOAD\nWHERE TO_CHAR(CREATE_DATE, 'YYYYMMDD') =   TO_CHAR(sysdate-1, 'YYYYMMDD') \n;",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SITE",
											"type": "String"
										},
										"sink": {
											"name": "site",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "REPORT_NAME",
											"type": "String"
										},
										"sink": {
											"name": "report_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "FILE_SUBJECT",
											"type": "String"
										},
										"sink": {
											"name": "file_subject",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CYEAR",
											"type": "String"
										},
										"sink": {
											"name": "cyear",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CMONTH",
											"type": "String"
										},
										"sink": {
											"name": "cmonth",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "FILE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "file_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CREATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "create_date",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "RPA_ODS"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "KIMCHI_FILE_UPLOAD"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_kimchi_file_upload_t"
					}
				},
				"folder": {
					"name": "트렌드/외부/김치"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-18T04:57:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_RPA_ODS_RPA_KIMCHI_FULL_PG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data_copy2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "truncate table\ncd_ods.KIMCHI_FILE_UPLOAD2;",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "GBN",
											"type": "String"
										},
										"sink": {
											"name": "gbn",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "YYYYMMDD",
											"type": "String"
										},
										"sink": {
											"name": "yyyymmdd",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM",
											"type": "String"
										},
										"sink": {
											"name": "item",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "UNIT",
											"type": "String"
										},
										"sink": {
											"name": "unit",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "QTY",
											"type": "String"
										},
										"sink": {
											"name": "qty",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "PRICE",
											"type": "String"
										},
										"sink": {
											"name": "price",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "FILE_NAME",
											"type": "String"
										},
										"sink": {
											"name": "file_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "NOTE",
											"type": "String"
										},
										"sink": {
											"name": "note",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CREATE_DATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "create_date",
											"type": "DateTime",
											"physicalType": "date"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Lookup1_copy1_copy1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy data_copy2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select cd_ods.fn_garak_final_update() as rtn\n",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Lookup1_copy1_copy1_copy1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Lookup1_copy1_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select cd_ods.fn_kimchi_material_avg_info() as rtn\n",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "RPA_ODS"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "KIMCHI_FILE_UPLOAD2"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "KIMCHI_FILE_UPLOAD2"
					}
				},
				"folder": {
					"name": "판촉/내부/김치"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-18T04:57:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_RPA_ODS_RPA_SF_DATA_FULL_PG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data_copy2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM RPA_ODS.SF_BID_LIST\nWHERE TO_CHAR(CREATEDATE, 'YYYYMMDD') = TO_CHAR(SYSDATE - 1, 'YYYYMMDD');",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SEQ",
											"type": "String"
										},
										"sink": {
											"name": "seq",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SIDO",
											"type": "String"
										},
										"sink": {
											"name": "sido",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SIGUNGU",
											"type": "String"
										},
										"sink": {
											"name": "sigungu",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "GUBUN",
											"type": "String"
										},
										"sink": {
											"name": "gubun",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BIDID",
											"type": "String"
										},
										"sink": {
											"name": "bidid",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "REG_DATE",
											"type": "String"
										},
										"sink": {
											"name": "reg_date",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BIDNM",
											"type": "String"
										},
										"sink": {
											"name": "bidnm",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SCHOOL_NAME",
											"type": "String"
										},
										"sink": {
											"name": "school_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BASE_PRICE",
											"type": "String"
										},
										"sink": {
											"name": "base_price",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BID_RATE",
											"type": "String"
										},
										"sink": {
											"name": "bid_rate",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CUST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "cust_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SUPPLY_LIMIT",
											"type": "String"
										},
										"sink": {
											"name": "supply_limit",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CREATEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdate",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_fnb_rpa_bid_list_t"
								}
							}
						]
					},
					{
						"name": "Copy data_copy2_copy1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data_copy2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM RPA_ODS.SF_BID_DETAIL\nWHERE TO_CHAR(CREATEDATE, 'YYYYMMDD') = TO_CHAR(SYSDATE - 1, 'YYYYMMDD');",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "BIDID",
											"type": "String"
										},
										"sink": {
											"name": "bidid",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BIDNM",
											"type": "String"
										},
										"sink": {
											"name": "bidnm",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SCHOOL_NAME",
											"type": "String"
										},
										"sink": {
											"name": "school_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CONDI",
											"type": "String"
										},
										"sink": {
											"name": "condi",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BID_DATE",
											"type": "String"
										},
										"sink": {
											"name": "bid_date",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SUPPLY_LIMIT",
											"type": "String"
										},
										"sink": {
											"name": "supply_limit",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CUST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "cust_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BASE_PRICE",
											"type": "String"
										},
										"sink": {
											"name": "base_price",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "AMOUNT",
											"type": "String"
										},
										"sink": {
											"name": "amount",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CREATEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdate",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": "RPA_ODS",
									"SourceTable": "SF_BID_DETAIL"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_fnb_rpa_bid_detail_t"
								}
							}
						]
					},
					{
						"name": "Copy data_copy2_copy2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data_copy2_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM RPA_ODS.SF_BID_ITEM_LIST\nWHERE TO_CHAR(CREATEDATE, 'YYYYMMDD') = TO_CHAR(SYSDATE - 1, 'YYYYMMDD');",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "BIDID",
											"type": "String"
										},
										"sink": {
											"name": "bidid",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SEQ",
											"type": "String"
										},
										"sink": {
											"name": "seq",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_NAME",
											"type": "String"
										},
										"sink": {
											"name": "item_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_DESC",
											"type": "String"
										},
										"sink": {
											"name": "item_desc",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BRAND",
											"type": "String"
										},
										"sink": {
											"name": "brand",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SPEC",
											"type": "String"
										},
										"sink": {
											"name": "spec",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "UNIT",
											"type": "String"
										},
										"sink": {
											"name": "unit",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "QTY",
											"type": "String"
										},
										"sink": {
											"name": "qty",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ANALYSIS",
											"type": "String"
										},
										"sink": {
											"name": "analysis",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CREATEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdate",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": "RPA_ODS",
									"SourceTable": "SF_BID_ITEM_LIST"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_fnb_rpa_bid_item_list_t"
								}
							}
						]
					},
					{
						"name": "Copy data_copy2_copy3",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data_copy2_copy2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM RPA_ODS.SF_SUPPLY_HISTORY\nWHERE TO_CHAR(CREATEDATE, 'YYYYMMDD') = TO_CHAR(SYSDATE - 1, 'YYYYMMDD');",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "BIDID",
											"type": "String"
										},
										"sink": {
											"name": "bidid",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SEQ",
											"type": "String"
										},
										"sink": {
											"name": "seq",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SIDO",
											"type": "String"
										},
										"sink": {
											"name": "sido",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SIGUNGU",
											"type": "String"
										},
										"sink": {
											"name": "sigungu",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SCHOOL_NAME",
											"type": "String"
										},
										"sink": {
											"name": "school_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "REG_DATE",
											"type": "String"
										},
										"sink": {
											"name": "reg_date",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "STATUS",
											"type": "String"
										},
										"sink": {
											"name": "status",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_NAME",
											"type": "String"
										},
										"sink": {
											"name": "item_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_DESC",
											"type": "String"
										},
										"sink": {
											"name": "item_desc",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "QTY",
											"type": "String"
										},
										"sink": {
											"name": "qty",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BRAND",
											"type": "String"
										},
										"sink": {
											"name": "brand",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "PRODUCT_NAME",
											"type": "String"
										},
										"sink": {
											"name": "product_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CUST_NAME",
											"type": "String"
										},
										"sink": {
											"name": "cust_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CREATEDATE",
											"type": "DateTime"
										},
										"sink": {
											"name": "createdate",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": "RPA_ODS",
									"SourceTable": "SF_SUPPLY_HISTORY"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_fnb_rpa_supply_history_t"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "RPA_ODS"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "SF_BID_LIST"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_sf_rpa_bid_list_t"
					}
				},
				"folder": {
					"name": "트렌드/외부/SRM"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-18T04:57:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_RPA_ODS_RPA_SHPPING_MARKET_INDEX_PG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data_copy2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM RPA_ODS.TB_SHPPING_MARKET_INDEX\nWHERE SUBJECT  = 'SCFI'\nAND TO_CHAR(REG_LOG , 'YYYYMMDD') =   TO_CHAR(sysdate, 'YYYYMMDD') \n;",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SUBJECT",
											"type": "String"
										},
										"sink": {
											"name": "subject",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "DATE_YMD",
											"type": "String"
										},
										"sink": {
											"name": "date_ymd",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CURRENT_INDEX",
											"type": "String"
										},
										"sink": {
											"name": "current_index",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "UNIT",
											"type": "String"
										},
										"sink": {
											"name": "unit",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "REG_LOG",
											"type": "DateTime"
										},
										"sink": {
											"name": "reg_log",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK_P02",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "RPA_ODS"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "TB_SHPPING_MARKET_INDEX"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "TB_srm_SHPPING_MARKET_INDEX_t"
					}
				},
				"folder": {
					"name": "트렌드/외부/SRM"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-18T04:57:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_RPA_ODS_RPA_SRM_ITEM_DATA_0800_PG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data_copy2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM RPA_ODS.RPA_SRM_ITEM_DATA\nWHERE TO_CHAR(CREATE_DATE,  'YYYYMMDD') =   TO_CHAR(sysdate -1, 'YYYYMMDD') \nAND ITEM_CODE NOT IN ('1000016','1000013','1000007')\n;",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "item_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_NAME",
											"type": "String"
										},
										"sink": {
											"name": "item_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BASE_YMD",
											"type": "String"
										},
										"sink": {
											"name": "base_ymd",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "PRICE",
											"type": "String"
										},
										"sink": {
											"name": "price",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "EXCHANGE",
											"type": "String"
										},
										"sink": {
											"name": "exchange",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SETTLEMENTDAY",
											"type": "String"
										},
										"sink": {
											"name": "settlementday",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "RPA_ODS"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "RPA_SRM_ITEM_DATA"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_srm_rpa_item_data"
					}
				},
				"folder": {
					"name": "트렌드/외부/SRM"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-18T04:57:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_RPA_ODS_RPA_SRM_ITEM_DATA_1330_PG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data_copy2",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "SELECT * FROM RPA_ODS.RPA_SRM_ITEM_DATA\nWHERE TO_CHAR(CREATE_DATE,  'YYYYMMDD') =   TO_CHAR(sysdate, 'YYYYMMDD') \nAND ITEM_CODE IN ('1000016','1000013','1000007')\n;",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "ITEM_CODE",
											"type": "String"
										},
										"sink": {
											"name": "item_code",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM_NAME",
											"type": "String"
										},
										"sink": {
											"name": "item_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BASE_YMD",
											"type": "String"
										},
										"sink": {
											"name": "base_ymd",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "PRICE",
											"type": "String"
										},
										"sink": {
											"name": "price",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "EXCHANGE",
											"type": "String"
										},
										"sink": {
											"name": "exchange",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SETTLEMENTDAY",
											"type": "String"
										},
										"sink": {
											"name": "settlementday",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "RPA_ODS"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "RPA_SRM_ITEM_DATA"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_srm_rpa_item_data"
					}
				},
				"folder": {
					"name": "트렌드/외부/SRM"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-18T04:57:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_D_SRM_DAILY_UPDATE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Lookup1_copy1",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "SELECT cd_ods.fn_srm_item_risk_update();",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "트렌드/외부/SRM"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-18T04:57:50Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_FTP_WISELOG_FULL_Sample')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- 디렉터리 하위 구조 그대로 적재",
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "BinarySource",
								"storeSettings": {
									"type": "FtpReadSettings",
									"recursive": true,
									"useBinaryTransfer": true,
									"deleteFilesAfterCompletion": false,
									"disableChunking": false
								},
								"formatSettings": {
									"type": "BinaryReadSettings"
								}
							},
							"sink": {
								"type": "BinarySink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								}
							},
							"enableStaging": false
						},
						"inputs": [
							{
								"referenceName": "DTS_FTP_SRC",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_BIN_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/내부/정원e샵행동로그"
					}
				},
				"folder": {
					"name": "_Sample/File"
				},
				"annotations": [],
				"lastPublishTime": "2022-09-15T04:45:07Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_M_CD_BESTON_ES_PLUSREVIEWARTICLE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": {
									"value": "select\n       a.sno\n      ,a.channel \n      ,replace(replace(replace(regexp_replace(contents, '<[^>]*>|\\&([^;])*;', ''), chr(10), '//LF//'), chr(13), '//LF//'), '\"','＂') contents \n      ,a.goodsno\n      ,a.ordergoodsno\n      ,a.regdt\n      ,a.moddt\n      ,b.goodscd\nfrom cd_beston.es_plusReviewArticle a\n    ,cd_beston.es_goods b\nwhere  a.goodsno = b.GOODSNO(+) ",
									"type": "Expression"
								},
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SNO",
											"type": "String"
										},
										"sink": {
											"name": "SNO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CHANNEL",
											"type": "String"
										},
										"sink": {
											"name": "CHANNEL",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "CONTENTS",
											"type": "String"
										},
										"sink": {
											"name": "CONTENTS",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "GOODSNO",
											"type": "String"
										},
										"sink": {
											"name": "GOODSNO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "ORDERGOODSNO",
											"type": "String"
										},
										"sink": {
											"name": "ORDERGOODSNO",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "REGDT",
											"type": "String"
										},
										"sink": {
											"name": "REGDT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "MODDT",
											"type": "String"
										},
										"sink": {
											"name": "MODDT",
											"type": "String",
											"physicalType": "String"
										}
									},
									{
										"source": {
											"name": "GOODSCD"
										},
										"sink": {
											"name": "GOODSCD"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "1",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "1",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('M_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable, '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "CD_BESTON"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "ES_PLUSREVIEWARTICLE"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/내부/베스트온상품후기"
					}
				},
				"folder": {
					"name": "고객/내부/베스트온"
				},
				"annotations": [],
				"lastPublishTime": "2022-11-16T09:50:41Z"
			},
			"dependsOn": []
		}
	]
}