CDI-Hub-ADF-p01/linkedTemplates/ArmTemplate_37.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory 이름",
			"defaultValue": "CDI-Hub-ADF-p01"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/PIP_M_CD_WEITEM_TB_COM_INFO_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('M_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable, '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "CD_WEITEM"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "TB_COM_INFO"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "제품마스터/내부/취급제품정보"
					}
				},
				"folder": {
					"name": "제품마스터/내부/우리제품정보"
				},
				"annotations": [],
				"lastPublishTime": "2022-08-19T05:11:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_M_CD_WEITEM_TB_PRDT_INFO_COLM_INFO_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('M_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable, '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "CD_WEITEM"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "TB_PRDT_INFO_COLM_INFO"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "제품마스터/내부/취급제품정보"
					}
				},
				"folder": {
					"name": "제품마스터/내부/우리제품정보"
				},
				"annotations": [],
				"lastPublishTime": "2022-08-19T05:11:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_M_CD_WEITEM_TB_PRDT_INFO_MASTER_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('M_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable, '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "CD_WEITEM"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "TB_PRDT_INFO_MASTER"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "제품마스터/내부/취급제품정보"
					}
				},
				"folder": {
					"name": "제품마스터/내부/우리제품정보"
				},
				"annotations": [],
				"lastPublishTime": "2022-08-19T05:11:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_M_CD_WEITEM_TB_PRDT_INFO_MULTI_DATA_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('M_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable, '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "CD_WEITEM"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "TB_PRDT_INFO_MULTI_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "제품마스터/내부/취급제품정보"
					}
				},
				"folder": {
					"name": "제품마스터/내부/우리제품정보"
				},
				"annotations": [],
				"lastPublishTime": "2022-08-19T05:11:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_M_CD_WEITEM_TB_PRDT_INFO_SKU_MASTER_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('M_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable, '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy data_pg",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"oracleReaderQuery": "SELECT \na.sku\n,a.mate_nm\n,a.due_dt\n,a.main_comp\n,a.main_comp2\n,a.rpst_img\n,a.stop_stat_all\n,a.reg_yn\n,a.pl_code_g_nm\n,a.pl_code_p_nm\n,a.img_s\n,a.hitcnt\n,a.use_yn\n,a.upd_dt\n,a.reg_dt\n,a.plm_flag\n,a.label_img\n,a.alg_info3\n,a.alg_info5\n,a.alg_info6\n,b.role_script\n,b.sell_point\n,b.food_type\n,b.cptt_1st_good\n,b.cptt_vs_fort\nFROM CD_WEITEM.TB_PRDT_INFO_SKU_MASTER a, CD_WEITEM.TB_PRDT_INFO_MASTER  b\nWHERE a.sku = b.sku(+)",
								"partitionOption": "None",
								"convertDecimalToInteger": false,
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": {
									"value": "DELETE FROM @{pipeline().parameters.SinkSchema}.@{pipeline().parameters.SinkTable}",
									"type": "Expression"
								},
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "SKU",
											"type": "String"
										},
										"sink": {
											"name": "sku",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "MATE_NM",
											"type": "String"
										},
										"sink": {
											"name": "mate_nm",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "DUE_DT",
											"type": "String"
										},
										"sink": {
											"name": "due_dt",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "MAIN_COMP",
											"type": "String"
										},
										"sink": {
											"name": "main_comp",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "MAIN_COMP2",
											"type": "String"
										},
										"sink": {
											"name": "main_comp2",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "RPST_IMG",
											"type": "String"
										},
										"sink": {
											"name": "rpst_img",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "STOP_STAT_ALL",
											"type": "String"
										},
										"sink": {
											"name": "stop_stat_all",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "REG_YN",
											"type": "String"
										},
										"sink": {
											"name": "reg_yn",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "PL_CODE_G_NM",
											"type": "String"
										},
										"sink": {
											"name": "pl_code_g_nm",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "PL_CODE_P_NM",
											"type": "String"
										},
										"sink": {
											"name": "pl_code_p_nm",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "IMG_S",
											"type": "Double"
										},
										"sink": {
											"name": "img_s",
											"type": "Decimal",
											"physicalType": "numeric"
										}
									},
									{
										"source": {
											"name": "HITCNT",
											"type": "Double"
										},
										"sink": {
											"name": "hitcnt",
											"type": "Decimal",
											"physicalType": "numeric"
										}
									},
									{
										"source": {
											"name": "USE_YN",
											"type": "String"
										},
										"sink": {
											"name": "use_yn",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "UPD_DT",
											"type": "DateTime"
										},
										"sink": {
											"name": "upd_dt",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									},
									{
										"source": {
											"name": "REG_DT",
											"type": "DateTime"
										},
										"sink": {
											"name": "reg_dt",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									},
									{
										"source": {
											"name": "PLM_FLAG",
											"type": "String"
										},
										"sink": {
											"name": "plm_flag",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "LABEL_IMG",
											"type": "String"
										},
										"sink": {
											"name": "label_img",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ALG_INFO3",
											"type": "String"
										},
										"sink": {
											"name": "alg_info3",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ALG_INFO5",
											"type": "String"
										},
										"sink": {
											"name": "alg_info5",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ALG_INFO6",
											"type": "String"
										},
										"sink": {
											"name": "alg_info6",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ROLE_SCRIPT",
											"type": "String"
										},
										"sink": {
											"name": "role_script",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SELL_POINT",
											"type": "String"
										},
										"sink": {
											"name": "sell_point",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "FOOD_TYPE",
											"type": "String"
										},
										"sink": {
											"name": "food_type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CPTT_1ST_GOOD",
											"type": "String"
										},
										"sink": {
											"name": "cptt_1st_good",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "CPTT_VS_FORT",
											"type": "String"
										},
										"sink": {
											"name": "cptt_vs_fort",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": {
										"value": "@pipeline().parameters.SinkSchema",
										"type": "Expression"
									},
									"SinkTable": {
										"value": "@pipeline().parameters.SinkTable",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "CD_WEITEM"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "TB_PRDT_INFO_SKU_MASTER"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "제품마스터/내부/취급제품정보"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_ods"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_weitem_prodt_info_sku_master"
					}
				},
				"folder": {
					"name": "제품마스터/내부/우리제품정보"
				},
				"annotations": [],
				"lastPublishTime": "2022-08-19T05:11:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_M_CD_WEITEM_TB_PRDT_LEVEL_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "OracleSource",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ORACLE_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceSchema": {
										"value": "@pipeline().parameters.SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('M_', pipeline().parameters.SourceSchema,'.', pipeline().parameters.SourceTable, '.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceSchema": {
						"type": "string",
						"defaultValue": "CD_WEITEM"
					},
					"SourceTable": {
						"type": "string",
						"defaultValue": "TB_PRDT_LEVEL"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "제품마스터/내부/취급제품정보"
					}
				},
				"folder": {
					"name": "제품마스터/내부/우리제품정보"
				},
				"annotations": [],
				"lastPublishTime": "2022-08-19T05:11:57Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_NIELSEN_TO_PG_M_SUB')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- 닐슨 SFTP ",
				"activities": [
					{
						"name": "Lookup1",
						"description": "닐슨데이터의 주차 csv 읽기 \nPER_yyyymm.csv",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set yyyymm",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set yyyymm_copy1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('PER_',variables('fileNm'),'.csv')",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Set yyyymm",
						"description": "수행일 기준 전월 구하기\n포멧 : yyyymm",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "yyyymm",
							"value": {
								"value": "@if(equals(pipeline().parameters.pip_yyyymm,null), formatDateTime(addDays(startOfMonth(addHours(utcNow(), 9)),-34),'yyyyMM'),pipeline().parameters.pip_yyyymm)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set minWeek",
						"description": "닐슨에서전송해온 데이터의 시작주차",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "minWeek",
							"value": {
								"value": "@activity('Lookup1').output.value[0].TAG",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set MaxWeek",
						"description": "닐슨에서 가져온 데이터의 마지막주",
						"type": "SetVariable",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "maxWeek",
							"value": {
								"value": "@activity('Lookup1').output.value[add(activity('Lookup1').output.count,-1)].TAG",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Set yyyymm_copy1",
						"description": "수행일 기준 전월 구하기\n포멧 : yyyymm",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "fileNm",
							"value": {
								"value": "@if(equals(pipeline().parameters.pip_fileNm,null), formatDateTime(addDays(startOfMonth(addHours(utcNow(), 9)),-34),'yyyyMM'),pipeline().parameters.pip_fileNm)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "pg_tb_nielsen_prod_temp2",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set minWeek",
								"dependencyConditions": [
									"Succeeded"
								]
							},
							{
								"activity": "Set MaxWeek",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "month",
										"value": {
											"value": "@variables('yyyymm')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": {
									"value": "DELETE FROM cd_ods.tb_nielsen_prod_temp2\n",
									"type": "Expression"
								},
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "TAG",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "tag",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SHORT",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "short",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "LONG",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "long",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "DISPLAY_ORDER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "display_order",
											"type": "Decimal",
											"physicalType": "numeric"
										}
									},
									{
										"source": {
											"name": "PARENT_TAG",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "parent_tag",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "HIER_NUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hier_num",
											"type": "Decimal",
											"physicalType": "numeric"
										}
									},
									{
										"source": {
											"name": "HIER_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hier_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "HIER_LEVEL_NUM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hier_level_num",
											"type": "Decimal",
											"physicalType": "numeric"
										}
									},
									{
										"source": {
											"name": "HIER_LEVEL_NAME",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hier_level_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KIMCHI_JONGAJIP_H1 level 0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "kimchi_jongajip_h1",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "MANUFACTURER",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "manufacturer",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "BRAND",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "brand",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "TYPE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "type",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "SIZE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "size",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "ITEM",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "item",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KIMCHI_JONGAJIP_H2 level 0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "kimchi_jongajip_h2_0",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "TYPED",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "typed",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KIMCHI_PACKAGE level 0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "kimchi_package_0",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "PACKAGE",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "package",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KIMCHI_SIZE level 0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "kimchi_size_0",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KIMCHI_TYPE_SIZE level 0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "kimchi_type_size_0",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "KIMCHI_MN_PACKAGE level 0",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "kimchi_mn_package_0",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "TYPEB",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "typeb",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('PROD_',variables('fileNm'),'.csv')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_nielsen_prod_temp2"
								}
							}
						]
					},
					{
						"name": "insert",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "pg_tb_nielsen_prod_temp2",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "\ndelete from  cd_ods.tb_nielsen_prod a\nwhere exists ( select 1 from cd_ods.tb_nielsen_prod_temp2 where tag = a.tag);\n\ninsert into  cd_ods.tb_nielsen_prod\n(\n tag\n\t,short \n\t,long \n\t,display_order\n\t,parent_tag\n\t,hier_num\n\t,hier_name\n\t,hier_level_num \n\t,hier_level_name\n\t,kimchi_jongajip_h1 \t\n\t,manufacturer \n\t,brand \n\t,\"type\"\n\t,\"size\"\n\t,item \n\t,kimchi_jongajip_h2_0 \n\t,typed \n\t,kimchi_package_0\n\t,package \n\t,kimchi_size_0 \n\t,kimchi_type_size_0 \n    ,kimchi_mn_package_0 \n\t,typeb\n\t,ifyyyymm\n)\nselect \n    tag\n\t,short \n\t,long \n\t,display_order\n\t,parent_tag\n\t,hier_num\n\t,hier_name\n\t,hier_level_num \n\t,hier_level_name\n\t,kimchi_jongajip_h1 \t\n\t,manufacturer \n\t,brand \n\t,\"type\"\n\t,\"size\"\n\t,item \n\t,kimchi_jongajip_h2_0 \n\t,typed \n\t,kimchi_package_0\n\t,package \n\t,kimchi_size_0 \n\t,kimchi_type_size_0 \n    ,kimchi_mn_package_0 \n\t,typeb\n\t,'@{variables('yyyymm')}' ifyyyymm\nfrom  cd_ods.tb_nielsen_prod_temp2;\n\n\n\ndelete from  cd_ods.tb_nielsen_prod_history\n where  ifyyyymm = '@{variables('yyyymm')}';\n\ninsert into  cd_ods.tb_nielsen_prod_history\n(\n    tag\n\t,short \n\t,long \n\t,display_order\n\t,parent_tag\n\t,hier_num\n\t,hier_name\n\t,hier_level_num \n\t,hier_level_name\n\t,kimchi_jongajip_h1 \t\n\t,manufacturer \n\t,brand \n\t,\"type\"\n\t,\"size\"\n\t,item \n\t,kimchi_jongajip_h2_0 \n\t,typed \n\t,kimchi_package_0\n\t,package \n\t,kimchi_size_0 \n\t,kimchi_type_size_0 \n    ,kimchi_mn_package_0 \n\t,typeb\n\t,ifyyyymm\n)\nselect   tag\n\t,short \n\t,long \n\t,display_order\n\t,parent_tag\n\t,hier_num\n\t,hier_name\n\t,hier_level_num \n\t,hier_level_name\n\t,kimchi_jongajip_h1 \t\n\t,manufacturer \n\t,brand \n\t,\"type\"\n\t,\"size\"\n\t,item \n\t,kimchi_jongajip_h2_0 \n\t,typed \n\t,kimchi_package_0\n\t,package \n\t,kimchi_size_0 \n\t,kimchi_type_size_0 \n    ,kimchi_mn_package_0 \n\t,typeb\n\t,'@{variables('yyyymm')}' ifyyyymm\n from cd_ods.tb_nielsen_prod_temp2 ;\n\n select 1 su",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "매출(주문)/외부/유통사MS정보/닐슨"
					},
					"pip_yyyymm": {
						"type": "string"
					},
					"pip_fileNm": {
						"type": "string"
					}
				},
				"variables": {
					"yyyymm": {
						"type": "String"
					},
					"minWeek": {
						"type": "String"
					},
					"maxWeek": {
						"type": "String"
					},
					"fileNm": {
						"type": "String"
					}
				},
				"folder": {
					"name": "매출_주문/외부/닐슨"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-15T09:05:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_NIELSEN_TO_PG_OFFLINE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- 닐슨 SFTP ",
				"activities": [
					{
						"name": "Set yyyymm",
						"description": "수행일 기준 전월 구하기\n포멧 : yyyymm",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "yyyymm",
							"value": {
								"value": "@if(equals(pipeline().parameters.pip_yyyymm,null), formatDateTime(addDays(startOfMonth(addHours(utcNow(), 9)),-34),'yyyyMM'),pipeline().parameters.pip_yyyymm)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Lookup1",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Set yyyymm",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@concat('매출(주문)/외부/유통사MS정보/닐슨_오프라인/conf')",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('닐슨오프라인_conf.csv')",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup1').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "pg_tb_nielsen_market",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "month",
													"value": {
														"value": "@variables('yyyymm')",
														"type": "Expression"
													}
												},
												{
													"name": "data_type",
													"value": {
														"value": "@item().fileName",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"preCopyScript": {
												"value": "delete from cd_ods.tb_nielsen_offline_mkt_temp",
												"type": "Expression"
											},
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "data_type",
														"type": "String"
													},
													"sink": {
														"name": "data_type",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "market_id",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "market_id",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "MRKT_DSC_KO",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "mrkt_dsc_ko",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "hierarchy_level",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "hierarchy_level",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "hierarchy_number",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "hierarchy_number",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "hierarchy_name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "hierarchy_name",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "hierarchy_column",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "hierarchy_column",
														"type": "String",
														"physicalType": "character varying"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('KR_DAESANG_',item().fileName,'_market_dim_',item().fileNumber,'.txt')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": "cd_ods",
												"SinkTable": "tb_nielsen_offline_mkt_temp"
											}
										}
									]
								},
								{
									"name": "pg_tb_nielsen_hier",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "pg_tb_nielsen_market",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "data_type",
													"value": {
														"value": "@item().fileName",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"preCopyScript": {
												"value": "delete from cd_ods.tb_nielsen_offline_hier_temp",
												"type": "Expression"
											},
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "data_type",
														"type": "String"
													},
													"sink": {
														"name": "data_type",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "column_name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "column_name",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "dimension",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "dimension",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "hierarchy_number",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "hierarchy_number",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "hierarchy_level",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "hierarchy_level",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "hierarchy_level_name",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "hierarchy_level_name",
														"type": "String",
														"physicalType": "character varying"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('KR_DAESANG_',item().fileName,'_hierarchies_ref_',item().fileNumber,'.txt')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": "cd_ods",
												"SinkTable": "tb_nielsen_offline_hier_temp"
											}
										}
									]
								},
								{
									"name": "pg_tb_nielsen_product_",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "dynamic mapping",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "month",
													"value": {
														"value": "@variables('yyyymm')",
														"type": "Expression"
													}
												},
												{
													"name": "data_type",
													"value": {
														"value": "@item().fileName",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": false,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"preCopyScript": {
												"value": "delete from cd_ods.tb_nielsen_offline_prod_temp",
												"type": "Expression"
											},
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"value": "@json(concat('{\n\"type\": \"TabularTranslator\",\n\"mappings\": [\n    { \"source\": {  \"name\": \"data_type\",   \"type\": \"String\"  }, \"sink\": {  \"name\": \"data_type\",  \"type\": \"String\", \"physicalType\": \"character varying\"  } },\n    { \"source\": {  \"name\": \"product_id\",   \"type\": \"String\"  }, \"sink\": {  \"name\": \"product_id\",  \"type\": \"String\", \"physicalType\": \"character varying\"  } },'\n  ,activity('dynamic mapping').output.firstRow.json,'\n] }\n'))",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('KR_DAESANG_',item().fileName,'_product_dim_',item().fileNumber,'.txt')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": "cd_ods",
												"SinkTable": "tb_nielsen_offline_prod_temp"
											}
										}
									]
								},
								{
									"name": "dynamic mapping",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "pg_tb_nielsen_hier",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzurePostgreSqlSource",
											"query": {
												"value": "select string_agg('{  \"source\": { \"name\": \"'||a.sour||'\", \"type\": \"String\" }, \"sink\": {  \"name\": \"'||a.sink||'\", \"type\": \"String\", \"physicalType\": \"character varying\" } }'\n              ,',') as json\n  from (\n\t\tselect distinct column_name as sour\n\t\t      ,case when column_name lIke 'CSTM%' and hierarchy_level = '1' then 'category'\n\t\t            else lower(hierarchy_level_name)\n\t\t         end sink\n\t\t from  cd_ods.tb_nielsen_offline_hier_temp\n\t\t where data_type ='@{item().fileName}'\n\t\t  union all \n\t\tselect 'hierarchy_number','hierarchy_number' union all\n\t\tselect 'hierarchy_level','hierarchy_level'   union all\n\t\tselect 'hierarchy_level_name','hierarchy_level_name' \t\n\t) a",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DTS_POSTGRESQL_SNK",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": "1",
												"SinkTable": "1"
											}
										}
									}
								},
								{
									"name": "pg_tb_nielsen_period",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "pg_tb_nielsen_product_",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "month",
													"value": {
														"value": "@variables('yyyymm')",
														"type": "Expression"
													}
												},
												{
													"name": "data_type",
													"value": {
														"value": "@item().fileName",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"preCopyScript": {
												"value": "delete from cd_ods.tb_nielsen_offline_per_temp",
												"type": "Expression"
											},
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "data_type",
														"type": "String"
													},
													"sink": {
														"name": "data_type",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "period_id",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "period_id",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "period_short_description",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "period_short_description",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "period_long_description",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "period_long_description",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "period_ending_datetime",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "period_ending_datetime",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "niq_calendar",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "niq_calendar",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "niq_periodicity",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "niq_periodicity",
														"type": "String",
														"physicalType": "character varying"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('KR_DAESANG_',item().fileName,'_period_dim_',item().fileNumber,'.txt')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": "cd_ods",
												"SinkTable": "tb_nielsen_offline_per_temp"
											}
										}
									]
								},
								{
									"name": "pg_tb_nielsen_fct",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "pg_tb_nielsen_period",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "month",
													"value": {
														"value": "@variables('yyyymm')",
														"type": "Expression"
													}
												},
												{
													"name": "data_type",
													"value": {
														"value": "@item().fileName",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"preCopyScript": {
												"value": "delete from cd_ods.tb_nielsen_offline_fct\nwhere ifyyyymm = '@{variables('yyyymm')}'\n  and data_type = '@{item().fileName}'",
												"type": "Expression"
											},
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"name": "data_type",
														"type": "String"
													},
													"sink": {
														"name": "data_type",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "fact_column",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "fact_column",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "fact_description",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "fact_description",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "fact_group",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "fact_group",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "fact_subgroup",
														"type": "String",
														"physicalType": "String"
													},
													"sink": {
														"name": "fact_subgroup",
														"type": "String",
														"physicalType": "character varying"
													}
												},
												{
													"source": {
														"name": "month",
														"type": "String"
													},
													"sink": {
														"name": "ifyyyymm",
														"type": "String",
														"physicalType": "character varying"
													}
												}
											],
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('KR_DAESANG_',item().fileName,'_facts_ref_',item().fileNumber,'.txt')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": "cd_ods",
												"SinkTable": "tb_nielsen_offline_fct"
											}
										}
									]
								},
								{
									"name": "pg_tb_nielsen_data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "dynamic mapping_data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"additionalColumns": [
												{
													"name": "month",
													"value": {
														"value": "@variables('yyyymm')",
														"type": "Expression"
													}
												},
												{
													"name": "data_type",
													"value": {
														"value": "@item().fileName",
														"type": "Expression"
													}
												}
											],
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "AzurePostgreSQLSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"preCopyScript": {
												"value": "truncate table  cd_ods.tb_nielsen_offline_data_temp\n",
												"type": "Expression"
											},
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"value": "@json(concat('{\n\"type\": \"TabularTranslator\",\n\"mappings\": [\n    { \"source\": {  \"name\": \"data_type\",   \"type\": \"String\"  }, \"sink\": {  \"name\": \"data_type\",  \"type\": \"String\", \"physicalType\": \"character varying\"  }},\n    { \"source\": {  \"name\": \"market_id\",   \"type\": \"String\"  }, \"sink\": {  \"name\": \"market_id\",  \"type\": \"String\", \"physicalType\": \"character varying\"  }},\n    { \"source\": {  \"name\": \"product_id\",   \"type\": \"String\"  }, \"sink\": {  \"name\": \"product_id\",  \"type\": \"String\", \"physicalType\": \"character varying\"  }},\n    { \"source\": {  \"name\": \"period_id\",   \"type\": \"String\"  }, \"sink\": {  \"name\": \"period_id\",  \"type\": \"String\", \"physicalType\": \"character varying\"  }},'\n  ,activity('dynamic mapping_data').output.firstRow.json,'\n] }\n'))",
											"type": "Expression"
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('KR_DAESANG_',item().fileName,'_aggregated_data_',item().fileNumber,'.txt')",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": "cd_ods",
												"SinkTable": "tb_nielsen_offline_data_temp"
											}
										}
									]
								},
								{
									"name": "call  function",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "pg_tb_nielsen_data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzurePostgreSqlSource",
											"query": {
												"value": "select cd_ods.func_nielsen_offline('@{variables('yyyymm')}','@{item().fileName}')",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DTS_POSTGRESQL_SNK",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": "1",
												"SinkTable": "1"
											}
										}
									}
								},
								{
									"name": "dynamic mapping_data",
									"type": "Lookup",
									"dependsOn": [
										{
											"activity": "pg_tb_nielsen_fct",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "AzurePostgreSqlSource",
											"query": {
												"value": "select string_agg('{  \"source\": { \"name\": \"'||a.sour||'\", \"type\": \"String\" }, \"sink\": {  \"name\": \"'||a.sink||'\", \"type\": \"String\", \"physicalType\": \"character varying\" } }'\n      ,',') as json\n  from (  \n\t\tselect fact_column as sour\n\t\t      ,lower(fact_column) as sink\n\t\t from  cd_ods.tb_nielsen_offline_fct\t \n\t\t where  data_type ='@{item().fileName}'\n\t\t  and ifyyyymm = '@{pipeline().parameters.pip_yyyymm}'\n\t    ) a",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"dataset": {
											"referenceName": "DTS_POSTGRESQL_SNK",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": "1",
												"SinkTable": "1"
											}
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "매출(주문)/외부/유통사MS정보/닐슨_오프라인"
					},
					"pip_yyyymm": {
						"type": "string"
					}
				},
				"variables": {
					"yyyymm": {
						"type": "String"
					},
					"minWeek": {
						"type": "String"
					},
					"maxWeek": {
						"type": "String"
					}
				},
				"folder": {
					"name": "매출_주문/외부/닐슨"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-15T09:05:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_NIELSEN_TO_PG_ONLINE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- 닐슨 SFTP ",
				"activities": [
					{
						"name": "Set yyyymm",
						"description": "수행일 기준 전월 구하기\n포멧 : yyyymm",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "yyyymm",
							"value": {
								"value": "@if(equals(pipeline().parameters.pip_yyyymm,null), formatDateTime(addDays(startOfMonth(addHours(utcNow(), 9)),-1),'yyyyMM'),pipeline().parameters.pip_yyyymm)",
								"type": "Expression"
							}
						}
					},
					{
						"name": "pg_tb_nielsen_market",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set yyyymm",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": {
									"value": "delete from cd_ods.tb_nielsen_online_mkt_temp",
									"type": "Expression"
								},
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "market_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "market_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "MRKT_DSC_KO",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "mrkt_dsc_ko",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "hierarchy_level",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hierarchy_level",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "hierarchy_number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hierarchy_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "hierarchy_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hierarchy_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "hierarchy_column",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hierarchy_column",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('KR_DAESANG_E_KIMCHI_KI_market_dim_',pipeline().parameters.pip_fileNumber,'.txt')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_nielsen_online_mkt_temp"
								}
							}
						]
					},
					{
						"name": "pg_tb_nielsen_hier",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "pg_tb_nielsen_market",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": {
									"value": "delete from cd_ods.tb_nielsen_online_hier_temp",
									"type": "Expression"
								},
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "column_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "column_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "dimension",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "dimension",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "hierarchy_number",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hierarchy_number",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "hierarchy_level",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hierarchy_level",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "hierarchy_level_name",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "hierarchy_level_name",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('KR_DAESANG_E_KIMCHI_KI_hierarchies_ref_',pipeline().parameters.pip_fileNumber,'.txt')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_nielsen_online_hier_temp"
								}
							}
						]
					},
					{
						"name": "dynamic mapping",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "pg_tb_nielsen_hier",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select string_agg('{  \"source\": { \"name\": \"'||a.sour||'\", \"type\": \"String\" }, \"sink\": {  \"name\": \"'||a.sink||'\", \"type\": \"String\", \"physicalType\": \"character varying\" } }'\n              ,',') as json\n  from (\n\t\tselect distinct column_name as sour\n\t\t      ,case when column_name lIke 'CSTM%' and hierarchy_level = '1' then 'category'\n\t\t            else lower(hierarchy_level_name)\n\t\t         end sink\n\t\t from  cd_ods.tb_nielsen_online_hier_temp\t\n\t\t  union all \n\t\tselect 'hierarchy_number','hierarchy_number' union all\n\t\tselect 'hierarchy_level','hierarchy_level'   union all\n\t\tselect 'hierarchy_level_name','hierarchy_level_name' \t\n\t) a",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					},
					{
						"name": "pg_tb_nielsen_product_",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "dynamic mapping",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "month",
										"value": {
											"value": "@variables('yyyymm')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": false,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": {
									"value": "delete from cd_ods.tb_nielsen_online_prod_temp",
									"type": "Expression"
								},
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"value": "@json(concat('{\n\"type\": \"TabularTranslator\",\n\"mappings\": [\n    { \"source\": {  \"name\": \"product_id\",   \"type\": \"String\"  }, \"sink\": {  \"name\": \"product_id\",  \"type\": \"String\", \"physicalType\": \"character varying\"  } },'\n  ,activity('dynamic mapping').output.firstRow.json,'\n] }\n'))",
								"type": "Expression"
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('KR_DAESANG_E_KIMCHI_KI_product_dim_',pipeline().parameters.pip_fileNumber,'.txt')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_nielsen_online_prod_temp"
								}
							}
						]
					},
					{
						"name": "pg_tb_nielsen_period",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "pg_tb_nielsen_product_",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "month",
										"value": {
											"value": "@variables('yyyymm')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": {
									"value": "delete from cd_ods.tb_nielsen_online_per_temp",
									"type": "Expression"
								},
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "period_id",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "period_id",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "period_short_description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "period_short_description",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "period_long_description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "period_long_description",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "period_ending_datetime",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "period_ending_datetime",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "niq_calendar",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "niq_calendar",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "niq_periodicity",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "niq_periodicity",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('KR_DAESANG_E_KIMCHI_KI_period_dim_',pipeline().parameters.pip_fileNumber,'.txt')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_nielsen_online_per_temp"
								}
							}
						]
					},
					{
						"name": "pg_tb_nielsen_fct",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "pg_tb_nielsen_period",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "month",
										"value": {
											"value": "@variables('yyyymm')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": {
									"value": "delete from cd_ods.tb_nielsen_online_fct\nwhere ifyyyymm = '@{variables('yyyymm')}'",
									"type": "Expression"
								},
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "fact_column",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fact_column",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "fact_description",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fact_description",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "fact_group",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fact_group",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "fact_subgroup",
											"type": "String",
											"physicalType": "String"
										},
										"sink": {
											"name": "fact_subgroup",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "month",
											"type": "String"
										},
										"sink": {
											"name": "ifyyyymm",
											"type": "String",
											"physicalType": "character varying"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('KR_DAESANG_E_KIMCHI_KI_facts_ref_',pipeline().parameters.pip_fileNumber,'.txt')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_nielsen_online_fct"
								}
							}
						]
					},
					{
						"name": "pg_tb_nielsen_data",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "dynamic mapping_data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"additionalColumns": [
									{
										"name": "month",
										"value": {
											"value": "@variables('yyyymm')",
											"type": "Expression"
										}
									}
								],
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": {
									"value": "truncate table  cd_ods.tb_nielsen_online_data_temp\n",
									"type": "Expression"
								},
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"value": "@json(concat('{\n\"type\": \"TabularTranslator\",\n\"mappings\": [   \n    { \"source\": {  \"name\": \"market_id\",   \"type\": \"String\"  }, \"sink\": {  \"name\": \"market_id\",  \"type\": \"String\", \"physicalType\": \"character varying\"  }},\n    { \"source\": {  \"name\": \"product_id\",   \"type\": \"String\"  }, \"sink\": {  \"name\": \"product_id\",  \"type\": \"String\", \"physicalType\": \"character varying\"  }},\n    { \"source\": {  \"name\": \"period_id\",   \"type\": \"String\"  }, \"sink\": {  \"name\": \"period_id\",  \"type\": \"String\", \"physicalType\": \"character varying\"  }},'\n  ,activity('dynamic mapping_data').output.firstRow.json,'\n] }\n'))",
								"type": "Expression"
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@concat(pipeline().parameters.AdlsDirectory,'/',variables('yyyymm'))",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('KR_DAESANG_E_KIMCHI_KI_aggregated_data_',pipeline().parameters.pip_fileNumber,'.txt')",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_nielsen_online_data_temp"
								}
							}
						]
					},
					{
						"name": "dynamic mapping_data",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "pg_tb_nielsen_fct",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select string_agg('{  \"source\": { \"name\": \"'||a.sour||'\", \"type\": \"String\" }, \"sink\": {  \"name\": \"'||a.sink||'\", \"type\": \"String\", \"physicalType\": \"character varying\" } }'\n      ,',') as json\n  from (  \n\t\tselect fact_column as sour\n\t\t      ,lower(fact_column) as sink\n\t\t from  cd_ods.tb_nielsen_online_fct\t \n\t\t where ifyyyymm = '@{pipeline().parameters.pip_yyyymm}'\n\t    ) a",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					},
					{
						"name": "call  function",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "pg_tb_nielsen_data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select cd_ods.func_nielsen_online('@{variables('yyyymm')}') as rtn ;",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "매출(주문)/외부/유통사MS정보/닐슨_온라인"
					},
					"pip_yyyymm": {
						"type": "string"
					},
					"pip_fileNumber": {
						"type": "string"
					}
				},
				"variables": {
					"yyyymm": {
						"type": "String"
					},
					"fileNm": {
						"type": "String"
					},
					"minMonth": {
						"type": "String"
					},
					"maxMonth": {
						"type": "String"
					}
				},
				"folder": {
					"name": "매출_주문/외부/닐슨"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-15T09:05:35Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_PG_AZURE_LICENSE_LOG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy_User",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "date",
										"value": {
											"value": "@variables('p_snapshot_date')",
											"type": "Expression"
										}
									}
								],
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"AbsoluteUrl": {
										"value": "$['@odata.nextLink']",
										"type": "Expression"
									}
								}
							},
							"sink": {
								"type": "AzurePostgreSqlSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "user_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['displayName']"
										},
										"sink": {
											"name": "display_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['givenName']"
										},
										"sink": {
											"name": "given_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['surname']"
										},
										"sink": {
											"name": "surname",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['userPrincipalName']"
										},
										"sink": {
											"name": "user_principal_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['companyName']"
										},
										"sink": {
											"name": "company_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['employeeId']"
										},
										"sink": {
											"name": "employee_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['date']"
										},
										"sink": {
											"name": "snapshot_date",
											"type": "DateTime"
										}
									}
								],
								"collectionReference": "$['value']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "AZURE_USER_INFO",
								"type": "DatasetReference",
								"parameters": {
									"url": "/v1.0/users?$select=id,displayName,givenName,surname,userPrincipalName,companyName,employeeId"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_azure_user_info"
								}
							}
						]
					},
					{
						"name": "Set Date",
						"type": "SetVariable",
						"dependsOn": [],
						"policy": {
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"variableName": "p_snapshot_date",
							"value": {
								"value": "@formatDateTime(addHours(utcNow(), 9), 'yyyy-MM-dd')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy_Group",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Set Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"additionalColumns": [
									{
										"name": "date",
										"value": {
											"value": "@variables('p_snapshot_date')",
											"type": "Expression"
										}
									}
								],
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"AbsoluteUrl": {
										"value": "$['@odata.nextLink']",
										"type": "Expression"
									}
								}
							},
							"sink": {
								"type": "AzurePostgreSqlSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "[['id']"
										},
										"sink": {
											"name": "group_id",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "[['displayName']"
										},
										"sink": {
											"name": "group_name",
											"type": "String"
										}
									},
									{
										"source": {
											"path": "$['date']"
										},
										"sink": {
											"name": "snapshot_date",
											"type": "DateTime"
										}
									}
								],
								"collectionReference": "$['value']",
								"mapComplexValuesToString": false
							}
						},
						"inputs": [
							{
								"referenceName": "AZURE_USER_INFO",
								"type": "DatasetReference",
								"parameters": {
									"url": "/v1.0/groups?$select=id,displayName&$top=100"
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_ods",
									"SinkTable": "tb_azure_group_info"
								}
							}
						]
					},
					{
						"name": "Lookup_Group",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "select distinct group_id from cd_ods.tb_azure_group_info\nwhere snapshot_date =CURRENT_DATE-1",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_Group",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_Group",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_Group').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy_Group_Detail",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "date",
													"value": {
														"value": "@variables('p_snapshot_date')",
														"type": "Expression"
													}
												},
												{
													"name": "Group_id",
													"value": {
														"value": "@item().group_id",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"AbsoluteUrl": {
													"value": "$['@odata.nextLink']",
													"type": "Expression"
												}
											}
										},
										"sink": {
											"type": "AzurePostgreSqlSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['id']"
													},
													"sink": {
														"name": "user_id",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['date']"
													},
													"sink": {
														"name": "snapshot_date",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"path": "$['Group_id']"
													},
													"sink": {
														"name": "group_id",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['value']"
										}
									},
									"inputs": [
										{
											"referenceName": "AZURE_USER_INFO",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "/v1.0/groups/@{item().group_id}/transitiveMembers/microsoft.graph.user?$select=id,userPrincipalName,displayName&$top=999\n",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": "cd_ods",
												"SinkTable": "tb_azure_group_user_mapping"
											}
										}
									]
								}
							]
						}
					},
					{
						"name": "Lookup_User",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Copy_User",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 5,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": "select distinct user_id from cd_ods.tb_azure_user_info\nwhere snapshot_date =CURRENT_DATE",
								"partitionOption": "None",
								"queryTimeout": "02:00:00"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach_User_License",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup_User",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup_User').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy_User_License",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 5,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "RestSource",
											"additionalColumns": [
												{
													"name": "date",
													"value": {
														"value": "@variables('p_snapshot_date')",
														"type": "Expression"
													}
												},
												{
													"name": "user_id",
													"value": {
														"value": "@item().user_id",
														"type": "Expression"
													}
												}
											],
											"httpRequestTimeout": "00:01:40",
											"requestInterval": "00.00:00:00.010",
											"requestMethod": "GET",
											"paginationRules": {
												"AbsoluteUrl": {
													"value": "$['@odata.nextLink']",
													"type": "Expression"
												}
											}
										},
										"sink": {
											"type": "AzurePostgreSqlSink",
											"writeBatchSize": 1000000,
											"writeBatchTimeout": "00:30:00",
											"writeMethod": "CopyCommand"
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"mappings": [
												{
													"source": {
														"path": "[['skuPartNumber']"
													},
													"sink": {
														"name": "license",
														"type": "String"
													}
												},
												{
													"source": {
														"path": "$['date']"
													},
													"sink": {
														"name": "snapshot_date",
														"type": "DateTime"
													}
												},
												{
													"source": {
														"path": "$['user_id']"
													},
													"sink": {
														"name": "user_id",
														"type": "String"
													}
												}
											],
											"collectionReference": "$['value']"
										}
									},
									"inputs": [
										{
											"referenceName": "AZURE_USER_INFO",
											"type": "DatasetReference",
											"parameters": {
												"url": {
													"value": "/v1.0/users/@{item().user_id}/licenseDetails?$select=skuPartNumber\n",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_POSTGRESQL_SNK",
											"type": "DatasetReference",
											"parameters": {
												"SinkSchema": "cd_ods",
												"SinkTable": "tb_azure_user_license_info"
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"variables": {
					"p_snapshot_date": {
						"type": "String"
					}
				},
				"folder": {
					"name": "사용자/내부"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_PG_USER_DAILY_LOG')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute_Update",
						"description": "DAYS 사용자 라이선스 정보 일일 적재",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select cd_portal.fn_user_daily_log();",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "사용자/내부"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_PG_USER_INFO_UPDATE')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Execute_Update",
						"description": "DAYS 사용자 정보 최신",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzurePostgreSqlSource",
								"query": {
									"value": "select cd_portal.fn_user_info_update();",
									"type": "Expression"
								},
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "1",
									"SinkTable": "1"
								}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "사용자/내부"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_BEST_RANKING_DATA_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- 초기 적재시, 월별로 모든 파일 Sink\n- 증분컬럼이 DATE 형식",
				"activities": [
					{
						"name": "Lookup Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT DISTINCT(DATE(', pipeline().parameters.IncCol, ')) STARTDT FROM ', pipeline().parameters.SourceTable, ' ORDER BY STARTDT')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Date').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data All date",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource",
											"query": {
												"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceTable, ' WHERE DATE(', pipeline().parameters.IncCol, ') = ','DATE(''', item().STARTDT, ''')')",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_RSN_SRC",
											"type": "DatasetReference",
											"parameters": {
												"SourceTable": {
													"value": "@pipeline().parameters.SourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@pipeline().parameters.AdlsDirectory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('W_RSN_네이버베스트_쇼핑카테고리랭킹정보_', pipeline().parameters.SourceTable,'_',formatDateTime(item().STARTDT, 'yyyyMMdd'),'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "BEST_RANKING_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "트렌드/외부/베스트상품"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "brd_crawl_time"
					}
				},
				"folder": {
					"name": "트렌드/외부/RSN"
				},
				"annotations": [],
				"lastPublishTime": "2022-10-31T07:52:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_BEST_RANKING_DATA_INC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Yesterday data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceTable, ' WHERE DATE(', pipeline().parameters.IncCol, ') = DATE_ADD(CURDATE(), INTERVAL -1 DAY)')",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('W_RSN_네이버베스트_쇼핑카테고리랭킹정보_', pipeline().parameters.SourceTable,'_', addDays(addHours(utcNow(), 9), -1, 'yyyyMMdd'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "BEST_RANKING_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "트렌드/외부/베스트상품"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "brd_crawl_time"
					}
				},
				"variables": {
					"prev_start": {
						"type": "String",
						"defaultValue": "@startOfMonth(addToTime(addHours(utcNow(), 9), -1, 'Month'), 'yyyyMMdd')"
					},
					"prev_end": {
						"type": "String",
						"defaultValue": "@adddays(startOfMonth(addHours(utcNow(), 9)), -1, 'yyyyMMdd')"
					},
					"dd": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "트렌드/외부/RSN"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-15T08:49:47Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_PG_SEARCH_KEYWORD_DATA_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_RSN_SEARCHING_KEYWORD_M",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {
										"SinkSchema": "cd_portal",
										"SinkTable": "tb_search_keyword"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"folder": {
					"name": "트렌드/외부/RSN"
				},
				"annotations": [],
				"lastPublishTime": "2022-12-01T05:22:56Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_PG_SEARCH_KEYWORD_DATA_INC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_RSN_SEARCHING_KEYWORD_INC",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"date": {
											"value": "@pipeline().parameters.date",
											"type": "Expression"
										}
									},
									"sink1": {
										"SinkSchema": "cd_portal",
										"SinkTable": "tb_search_keyword"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"date": {
						"type": "string",
						"defaultValue": "-1"
					}
				},
				"folder": {
					"name": "트렌드/외부/RSN"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-04T11:26:41Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_SEARCH_KEYWORD_DATA_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "- 초기 적재시, 월별로 모든 파일 Sink\n- 증분컬럼이 DATE 형식",
				"activities": [
					{
						"name": "Lookup Date",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT DISTINCT(DATE(', pipeline().parameters.IncCol, ')) STARTDT FROM ', pipeline().parameters.SourceTable, ' ORDER BY STARTDT')",
									"type": "Expression"
								}
							},
							"dataset": {
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ForEach Copy data",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Lookup Date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Lookup Date').output.value",
								"type": "Expression"
							},
							"isSequential": true,
							"activities": [
								{
									"name": "Copy data All date",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "MySqlSource",
											"query": {
												"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceTable, ' WHERE DATE(', pipeline().parameters.IncCol, ') = ','DATE(''', item().STARTDT, ''')')",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".csv"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DTS_RSN_SRC",
											"type": "DatasetReference",
											"parameters": {
												"SourceTable": {
													"value": "@pipeline().parameters.SourceTable",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "DTS_ADLS_SNK",
											"type": "DatasetReference",
											"parameters": {
												"AdlsDirectory": {
													"value": "@pipeline().parameters.AdlsDirectory",
													"type": "Expression"
												},
												"FileName": {
													"value": "@concat('D_RSN_네이버검색어추이_일일검색량정보_', pipeline().parameters.SourceTable,'_',formatDateTime(item().STARTDT, 'yyyyMMdd'),'.csv')",
													"type": "Expression"
												}
											}
										}
									]
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "SEARCH_KEYWORD_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "트렌드/외부/검색어추이"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "skd_crawl_time"
					}
				},
				"folder": {
					"name": "트렌드/외부/RSN"
				},
				"annotations": [],
				"lastPublishTime": "2022-10-31T07:52:58Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_SEARCH_KEYWORD_DATA_INC')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Yesterday data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceTable, ' WHERE DATE(', pipeline().parameters.IncCol, ') = DATE_ADD(CURDATE(), INTERVAL ',pipeline().parameters.date,' DAY)')",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_RSN_네이버검색어추이_일일검색량정보_', pipeline().parameters.SourceTable,'_', addDays(addHours(utcNow(), 9), int(pipeline().parameters.date), 'yyyyMMdd'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy Yesterday data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_RSN_SEARCHING_KEYWORD_INC",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"date": {
											"value": "@pipeline().parameters.date",
											"type": "Expression"
										}
									},
									"sink1": {
										"SinkSchema": "@pipeline().parameters.SinkSchema",
										"SinkTable": "@pipeline().parameters.SinkTable"
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "SEARCH_KEYWORD_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "트렌드/외부/검색어추이"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "skd_crawl_time"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_portal"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_search_keyword"
					},
					"date": {
						"type": "string",
						"defaultValue": "-1"
					}
				},
				"variables": {
					"prev_start": {
						"type": "String",
						"defaultValue": "@startOfMonth(addToTime(addHours(utcNow(), 9), -1, 'Month'), 'yyyyMMdd')"
					},
					"prev_end": {
						"type": "String",
						"defaultValue": "@adddays(startOfMonth(addHours(utcNow(), 9)), -1, 'yyyyMMdd')"
					},
					"dd": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "트렌드/외부/RSN"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-11T08:42:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_SEARCH_KEYWORD_DATA_INC_copy1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy Yesterday data",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT * FROM ', pipeline().parameters.SourceTable, ' WHERE DATE(', pipeline().parameters.IncCol, ') = DATE_ADD(CURDATE(), INTERVAL ',pipeline().parameters.date,' DAY)')",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_RSN_네이버검색어추이_일일검색량정보_', pipeline().parameters.SourceTable,'_', addDays(addHours(utcNow(), 9), -1, 'yyyyMMdd'),'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "Copy Yesterday data",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DF_RSN_SEARCHING_KEYWORD_INC",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {
										"date": {
											"value": "@pipeline().parameters.date",
											"type": "Expression"
										}
									},
									"sink1": {
										"SinkSchema": "@pipeline().parameters.SinkSchema",
										"SinkTable": "@pipeline().parameters.SinkTable"
									}
								},
								"linkedServiceParameters": {
									"source1": {
										"schemaLinkedService": {
											"date": "@pipeline().parameters.date"
										}
									}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "SEARCH_KEYWORD_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "트렌드/외부/검색어추이"
					},
					"IncCol": {
						"type": "string",
						"defaultValue": "skd_crawl_time"
					},
					"SinkSchema": {
						"type": "string",
						"defaultValue": "cd_portal"
					},
					"SinkTable": {
						"type": "string",
						"defaultValue": "tb_search_keyword"
					},
					"date": {
						"type": "string",
						"defaultValue": "-1"
					}
				},
				"variables": {
					"prev_start": {
						"type": "String",
						"defaultValue": "@startOfMonth(addToTime(addHours(utcNow(), 9), -1, 'Month'), 'yyyyMMdd')"
					},
					"prev_end": {
						"type": "String",
						"defaultValue": "@adddays(startOfMonth(addHours(utcNow(), 9)), -1, 'yyyyMMdd')"
					},
					"dd": {
						"type": "Array"
					}
				},
				"folder": {
					"name": "트렌드/외부/RSN"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-11T08:42:32Z"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/PIP_RSN_STORE_DATA_FULL')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data All date",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT sd_id,\n replace(replace(replace(replace(replace(sd_name,char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'',''''), '','',''//CM//'') as sd_name,\n sd_url,\n site,\n site_id,\n sd_itemid,\n sd_reviewid,\n sd_brand,\n sd_maker,\n sd_ingredients,\n replace(replace(replace(replace(replace(sd_volume,char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'',''''), '','',''//CM//'') as sd_volume,\n sd_category,\n sd_low_price,\n sd_review_cnt,\n sd_rate,\n sd_low_store,\n sd_store_cnt,\n sd_crawl_time\n  FROM ', pipeline().parameters.SourceTable)",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".csv"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_ADLS_SNK",
								"type": "DatasetReference",
								"parameters": {
									"AdlsDirectory": {
										"value": "@pipeline().parameters.AdlsDirectory",
										"type": "Expression"
									},
									"FileName": {
										"value": "@concat('D_RSN_온라인몰_상품정보(중복제거)_', pipeline().parameters.SourceTable,'.csv')",
										"type": "Expression"
									}
								}
							}
						]
					},
					{
						"name": "Copy pg",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Copy data All date",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "MySqlSource",
								"query": {
									"value": "@concat('SELECT sd_id,\n replace(replace(replace(replace(replace(sd_name,char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'',''''), '','',''//CM//'') as sd_name,\n sd_url,\n site,\n site_id,\n sd_itemid,\n sd_reviewid,\n sd_brand,\n sd_maker,\n sd_ingredients,\n replace(replace(replace(replace(replace(sd_volume,char(10), ''//LF//''), char(13),''//LF//''), ''\\\"'', ''＂''), ''\\0'',''''), '','',''//CM//'') as sd_volume,\n sd_category,\n sd_low_price,\n sd_review_cnt,\n sd_rate,\n sd_low_store,\n sd_store_cnt,\n sd_crawl_time\n  FROM ', pipeline().parameters.SourceTable)",
									"type": "Expression"
								}
							},
							"sink": {
								"type": "AzurePostgreSQLSink",
								"writeBatchSize": 1000000,
								"writeBatchTimeout": "00:30:00",
								"preCopyScript": "delete from cd_mart.dm_cm_rsn_store_data_master_t",
								"writeMethod": "CopyCommand"
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"name": "sd_id",
											"type": "Decimal"
										},
										"sink": {
											"name": "sd_id",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "sd_name",
											"type": "String"
										},
										"sink": {
											"name": "sd_name",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_url",
											"type": "String"
										},
										"sink": {
											"name": "sd_url",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "site",
											"type": "String"
										},
										"sink": {
											"name": "site",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "site_id",
											"type": "Int64"
										},
										"sink": {
											"name": "site_id",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "sd_itemid",
											"type": "String"
										},
										"sink": {
											"name": "sd_itemid",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_reviewid",
											"type": "String"
										},
										"sink": {
											"name": "sd_reviewid",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_brand",
											"type": "String"
										},
										"sink": {
											"name": "sd_brand",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_maker",
											"type": "String"
										},
										"sink": {
											"name": "sd_maker",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_ingredients",
											"type": "String"
										},
										"sink": {
											"name": "sd_ingredients",
											"type": "String",
											"physicalType": "text"
										}
									},
									{
										"source": {
											"name": "sd_volume",
											"type": "String"
										},
										"sink": {
											"name": "sd_volume",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_category",
											"type": "String"
										},
										"sink": {
											"name": "sd_category",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_low_price",
											"type": "Int64"
										},
										"sink": {
											"name": "sd_low_price",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "sd_review_cnt",
											"type": "Int64"
										},
										"sink": {
											"name": "sd_review_cnt",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "sd_rate",
											"type": "String"
										},
										"sink": {
											"name": "sd_rate",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_low_store",
											"type": "String"
										},
										"sink": {
											"name": "sd_low_store",
											"type": "String",
											"physicalType": "character varying"
										}
									},
									{
										"source": {
											"name": "sd_store_cnt",
											"type": "Int64"
										},
										"sink": {
											"name": "sd_store_cnt",
											"type": "Int64",
											"physicalType": "bigint"
										}
									},
									{
										"source": {
											"name": "sd_crawl_time",
											"type": "DateTime"
										},
										"sink": {
											"name": "sd_crawl_time",
											"type": "DateTime",
											"physicalType": "timestamp without time zone"
										}
									}
								],
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DTS_RSN_SRC",
								"type": "DatasetReference",
								"parameters": {
									"SourceTable": {
										"value": "@pipeline().parameters.SourceTable",
										"type": "Expression"
									}
								}
							}
						],
						"outputs": [
							{
								"referenceName": "DTS_POSTGRESQL_SNK",
								"type": "DatasetReference",
								"parameters": {
									"SinkSchema": "cd_mart",
									"SinkTable": "dm_cm_rsn_store_data_master_t"
								}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"parameters": {
					"SourceTable": {
						"type": "string",
						"defaultValue": "STORE_DATA"
					},
					"AdlsDirectory": {
						"type": "string",
						"defaultValue": "고객/외부/온라인몰정보/RSN_온라인몰_상품정보(중복제거)"
					}
				},
				"folder": {
					"name": "고객/외부/온라인몰정보"
				},
				"annotations": [],
				"lastPublishTime": "2023-01-25T01:23:44Z"
			},
			"dependsOn": []
		}
	]
}